{% comment %}
  QR code is rendered in `#QrCode`

  `gift_card.pass_url` is true if apple wallet is enabled for the shop
{% endcomment %}

{% layout 'gift_card' %}

<div class="giftcard-page" {% if settings.gift_card_background != blank %}
  data-lazy data-bg="{{ settings.gift_card_background | img_url: '1920x' }}"
{% endif %}>
  
  <div class="giftcard-page-inner">
    
    <a class="giftcard-logo" href="{{ shop.url }}">
      {% if settings.gift_card_logo_svg_url != blank %}
        {% assign logo_url = settings.gift_card_logo_svg_url %}
      {% else %}
        {% assign logo_url = settings.gift_card_logo | img_url: '500x500' %}
      {% endif %}
      <img data-lazy data-src="{{ logo_url }}" alt="{{ shop.name }}">
    </a>

    <main class="giftcard {% if gift_card.expired or gift_card.enabled != true %} giftcard--disabled{% endif %}">

      <h1 class="hero-heading">{{ 'gift_cards.content.title_html' | t }}</h1>

      <div class="rte rte--l">
        <p>Redeem gift card at <a href="{{ shop.url }}" target="_blank">
          www.{{ shop.domain }}
        </a></p>
      </div>

      <div class="giftcard-image">
        <img data-lazy data-src="{{ gift_card.product.featured_image | img_url: '520x' }}" data-srcset="{{ gift_card.product.featured_image | img_url: '520x' }} 1x, {{ gift_card.product.featured_image | img_url: '520x', scale: 2 }} 2x" alt="{{ gift_card.product.title }}">
      </div>
     
      <span id="GiftCardDigits">
        <span>{{ gift_card.code | format_code }}</span>

        <svg xmlns="http://www.w3.org/2000/svg" width={22} height={27} viewBox="0 0 22 27" data-copy-link='{
          "link": {{ gift_card.code | json }},
          "elem": "[data-copied-status]"
        }'>
            <g fill="none" fillRule="evenodd">
              <g fill="#000">
                <g>
                  <path d="M452.619 494l8.381 8.308v12.98c0 .693-.262 1.299-.786 1.818-.524.519-1.135.779-1.833.779h-.524v.519c0 .692-.262 1.298-.786 1.817-.523.52-1.134.779-1.833.779H441.62c-.698 0-1.31-.26-1.833-.779-.524-.52-.786-1.125-.786-1.817v-18.692c0-.693.262-1.299.786-1.818.524-.519 1.135-.779 1.833-.779h.524v-.519c0-.692.262-1.298.786-1.817.523-.52 1.134-.779 1.833-.779h7.857zm0 2.92v5.388h5.435l-5.435-5.387zm3.143 21.484v-.52h-11.524c-1.397 0-2.095-.692-2.095-2.076v-16.616h-.524c-.35 0-.524.173-.524.52v18.692c0 .346.175.52.524.52h13.62c.348 0 .523-.174.523-.52zm3.143-3.116v-10.903h-8.381v-8.308H444.762c-.35 0-.524.173-.524.52v18.691c0 .347.175.52.524.52h13.619c.35 0 .524-.173.524-.52z" transform="translate(-559 -575) translate(120 81)" />
                </g>
              </g>
            </g>
          </svg>
      </span>

      <span data-copied-status></span>

      <div class="giftcard-print">
        <a href="#" id="PrintGiftCard" class="print-giftcard flex f-j-center f-a-center">
          <img data-lazy data-src="{{ 'icon-print.svg' | asset_url }}" alt="Print Me">
          {{ 'gift_cards.labels.print' | t }}
        </a>
      </div>

      <a href="{{ shop.url }}" class="btn btn--secondary" target="_blank">
        {{ 'gift_cards.labels.shop_link' | t }}
      </a>

      <div id="QrCode" class="giftcard-qr" data-identifier="{{ gift_card.qr_identifier }}"></div>

      {% if gift_card.pass_url %}
        <a href="{{ gift_card.pass_url }}" class="apple-wallet flex f-j-center ">
          <img class="apple-wallet-image" data-lazy data-src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.labels.apple_wallet' | t }}">
        </a>
      {% endif %}

    </main>

  </div>

</div>
