{% section 'ffc--product' %}

{%- assign current_variant = product.selected_or_first_available_variant -%}
<script type="application/ld+json">
{
	"@context": "http://schema.org/",
	"@type": "Product",
	"name": {{ product.title | json }},
	"url": {{ shop.url | append: product.url | json }},
	{%- if product.featured_media -%}
		{%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
		"image": [
			{{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
		],
	{%- endif -%}
	"description": {{ product.description | strip_html | json }},
	{%- if current_variant.sku != blank -%}
		"sku": {{ current_variant.sku | json }},
	{%- endif -%}
	"brand": {
		"@type": "Thing",
		"name": {{ product.vendor | json }}
	},
	{%- if current_variant.barcode -%}
		"gtin8": "{{ product.variants.first.barcode }}",
	{%- endif -%}
	{%- if current_variant.barcode.size == 12 -%}
		"gtin12": "{{ product.variants.first.barcode }}",
	{%- endif -%}
	{%- if current_variant.barcode.size == 13 -%}
		"gtin13": "{{ product.variants.first.barcode }}",
	{%- endif -%}
	{%- if current_variant.barcode.size == 14 -%}
		"gtin14": "{{ product.variants.first.barcode }}",
	{%- endif -%}
	"offers": [
		{%- for variant in product.variants -%}
			{
				"@type" : "Offer",
				{%- if variant.sku != blank -%}
					"sku": {{ variant.sku | json }},
				{%- endif -%}
				"availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
				"price" : {{ variant.price | divided_by: 100.00 | json }},
				"priceCurrency" : {{ cart.currency.iso_code | json }},
				"url" : {{ shop.url | append: variant.url | json }}
			}{% unless forloop.last %},{% endunless %}
		{%- endfor -%}
	]
}
</script>


<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>