{% layout none %}
{
  "product": {{ product | json }},
  "metafields": {{ product.metafields.custom_fields | json }},
  "options": {{ product.options_with_values | json }},
  "variantStock": [
    {% for variant in product.variants %}
    {
      "id": {{ variant.id | json }},
      "inventory_quantity": {{ variant.inventory_quantity | json }},
      "inventory_management": {{ variant.inventory_management | json }},
      "inventory_policy": {{ variant.inventory_policy | json }}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]  
}