{% comment %}
  Set collectionBlock size classes
  These are applied in the collection-grid__block.liquid file
{% endcomment %}
{%- assign products_rows = settings.products_rows | plus: 0 -%}
{%- assign products_columns = settings.products_columns | plus: 0 -%}
{%- assign products_columns_mobile = settings.products_columns_mobile | plus: 0 -%}
{%- assign products_limit = products_columns | times: products_rows -%}
{%- assign columns_size = products_columns | replace: '1', '' -%}
{%- assign columns_size_mobile = products_columns_mobile | replace: '1', '' -%}
{%- assign grid_block_size = 'lg_s1' | append: columns_size -%}
{%- assign grid_block_size_mobile = 's1' | append: columns_size_mobile -%}

{% comment %} Set tablet size to be one-half {% endcomment %}
{%- if products_columns > 2 -%}
	{%- assign grid_block_size = 'lg_s1' | append: columns_size | append: ' med_s13' -%}
{%- endif -%}

<section class="search-page">
	<div class="container">
		<div class="page-title">
			<h1>{{ 'search.content.title' | t }}</h1>
		</div>
	</div>
	<div class="collection-grid">
		<div class="container">
			<div class="search-container">

				<form action="{{ routes.search_url }}" method="get" class="search-page-form" role="search">
					<input type="hidden" name="type" value="product" />
					<input type="hidden" name="options[prefix]" value="last" />
					<input name="q" type="search" id="SearchField" placeholder="{{ 'general.slide_out_navigation.search_placeholder' | t }}" value="{{ search.terms | escape }}" class="search__field" autofocus />
					<label for="SearchField" class="search__icon-label">
						{%- render 'icon-search' -%}
						<span class="accessible-label">{{ 'general.accessibility.search' | t }}</span>
					</label>
					<button type="submit" class="search__submit" aria-label="{{ 'search.button.text' | t }}" title="{{ 'search.button.text' | t }}">
						{%- render 'icon-arrow-long' -%}
					</button>
				</form>

				{%- if search.performed -%}
					<div class="search-info search-alert">
						<h3>
							{%- if search.results_count == 0 -%}{{ 'search.content.no_results' | t: search: search.terms }}{%- else -%}{{ 'search.content.has_results' | t: search: search.terms }}{%- endif -%}
						</h3>
					</div>
				{%- endif -%}

			</div>
		</div>

		{%- if search.performed -%}
			{%- paginate search.results by 12 -%}
				<div class="wrapper">
					<div class="collection-grid__row{% if settings.enable_infinity_scroll %} EndlessScroll{% endif %}">
						{%- for product in search.results -%}
							{%- render 'product-grid-item', product: product, grid_block_size: grid_block_size, grid_block_size_mobile: grid_block_size_mobile, index: forloop.index -%}
						{%- endfor -%}

						{%- render 'pagination', paginate: paginate -%}
					</div>
				</div>
			{%- endpaginate -%}
		{%- endif -%}
	</div>
</section>