.flex {
  display: flex;

  &.f-d-column {
    @include responsiveHelper {
      flex-direction: column;
    }
  }

  &.f-wrap {
    @include responsiveHelper {
      flex-wrap: wrap;
    }
  }

  &.f-j-start {
    @include responsiveHelper {
      justify-content: flex-start;
    }
  }

  &.f-j-center {
    @include responsiveHelper {
      justify-content: center;
    }
  }

  &.f-j-end {
    @include responsiveHelper {
      justify-content: flex-end;
    }
  }

  &.f-j-between {
    @include responsiveHelper {
      justify-content: space-between;
    }
  }

  &.f-j-around {
    @include responsiveHelper {
      justify-content: space-around;
    }
  }

  &.f-a-start {
    @include responsiveHelper {
      align-items: flex-start;
    }
  }

  &.f-a-center {
    @include responsiveHelper {
      align-items: center;
    }
  }

  &.f-a-end {
    @include responsiveHelper {
      align-items: flex-end;
    }
  }

  &.f-grow {
    @include responsiveHelper {
      flex-grow: 1;
    }
  }

  &[class*='f-grid--'] {
    flex-wrap: wrap;
  }

  &.f-grid {
    flex-wrap: wrap;

    @include responsiveHelper {
      margin-left: -8px;
      margin-right: -8px;

      > * {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    &--xxs {
      @include responsiveHelper {
        margin-left: -2.5px;
        margin-right: -2.5px;

        > * {
          padding-left: 2.5px;
          padding-right: 2.5px;
        }
      }
    }

    &--xxs-hybrid {
      @include responsiveHelper {
        margin-left: -4px;
        margin-right: -4px;

        > * {
          padding-left: 4px;
          padding-right: 4px;
        }
      }
    }

    &--xs {
      @include responsiveHelper {
        margin-left: -5px;
        margin-right: -5px;

        > * {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    &--xs-hybrid {
      @include responsiveHelper {
        margin-left: -8px;
        margin-right: -8px;

        > * {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }

    &--s {
      @include responsiveHelper {
        margin-left: -10px;
        margin-right: -10px;

        > * {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &--m {
      @include responsiveHelper {
        margin-left: -12px;
        margin-right: -12px;

        > * {
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }

    &--m-hybrid {
      @include responsiveHelper {
        margin-left: -16px;
        margin-right: -16px;

        > * {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }

    &--l {
      @include responsiveHelper {
        margin-left: -20px;
        margin-right: -20px;

        > * {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }

    &--xl {
      @include responsiveHelper {
        margin-left: -30px;
        margin-right: -30px;

        > * {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }

    &--xxl {
      @include responsiveHelper {
        margin-left: -40px;
        margin-right: -40px;

        > * {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }
  }
}

.custom-positioning {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;

  &.position--top-left {
    @include responsiveHelper {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &.position--top-middle {
    @include responsiveHelper {
      justify-content: center;
      align-items: flex-start;
    }
  }

  &.position--top-right {
    @include responsiveHelper {
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  &.position--middle-left {
    @include responsiveHelper {
      justify-content: flex-start;
      align-items: center;
    }
  }

  &.position--middle-middle {
    @include responsiveHelper {
      justify-content: center;
      align-items: center;
    }
  }

  &.position--middle-right {
    @include responsiveHelper {
      justify-content: flex-end;
      align-items: center;
    }
  }

  &.position--bottom-left {
    @include responsiveHelper {
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  &.position--bottom-middle {
    @include responsiveHelper {
      justify-content: center;
      align-items: flex-end;
    }
  }

  &.position--bottom-right {
    @include responsiveHelper {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

.text- {
  &left {
    @include responsiveHelper {
      text-align: left;
    }
  }

  &center {
    @include responsiveHelper {
      text-align: center;
    }
  }

  &right {
    @include responsiveHelper {
      text-align: right;
    }
  }

  &upper {
    @include responsiveHelper {
      text-transform: uppercase;
    }
  }

  &lower {
    @include responsiveHelper {
      text-transform: lowercase;
    }
  }

  &underline {
    @include responsiveHelper {
      text-decoration: underline;
    }
  }

  &no-underline {
    @include responsiveHelper {
      text-decoration: none;
    }
  }

  &light {
    @include responsiveHelper {
      font-weight: 300;
    }
  }

  &regular {
    @include responsiveHelper {
      font-weight: 400;
    }
  }

  &medium {
    @include responsiveHelper {
      font-weight: 500;
    }
  }

  &bold {
    @include responsiveHelper {
      font-weight: 600;
    }
  }
}

.hide {
  display: none;
}

[class*='object-fit--'] {
  position: relative;
  height: 0;
  padding-bottom: 75%;
  display: block;
  line-height: 0;

  > img,
  > video,
  picture img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.object-fit {
  &--small {
    @include responsiveHelper {
      padding-bottom: 25%;
    }
  }

  &--medium {
    @include responsiveHelper {
      padding-bottom: 50%;
    }
  }

  &--large {
    @include responsiveHelper {
      padding-bottom: 75%;
    }
  }

  &--square {
    @include responsiveHelper {
      padding-bottom: 100%;
    }
  }

  &--cover {
    @include responsiveHelper {
      > img,
      > video,
      picture img {
        object-fit: cover;
        object-position: center;
        font-family: 'object-fit: cover; object-position: center;';
      }
    }
  }

  &--contain {
    @include responsiveHelper {
      > img,
      > video,
      picture img {
        object-fit: contain;
        object-position: center;
        font-family: 'object-fit: contain; object-position: center;';
      }
    }

    &.position-- {
      &bottom {
        @include responsiveHelper {
          > img,
          > video,
          picture img {
            object-position: bottom;
            font-family: 'object-fit: contain; object-position: bottom;';
          }
        }
      }
    }
  }
}

.fnt--primary {
  font-family: $font-primary;
}

.fnt--secondary {
  font-family: $font-secondary;
}

.desktop-only {
  @include media('<=tablet') {
    display: none !important;
  }
}

.big-desktop-only {
  @include media('<=small-desktop') {
    display: none;
  }
}

.small-desktop-only {
  @include media('>small-desktop') {
    display: none;
  }
}

.tablet-only {
  @include media('>tablet') {
    display: none !important;
  }
}
