@mixin aboveHD {
  @include media('>desktop') {
    @content;
  }
}

@mixin desktop {
  @include media('>tablet') {
    @content;
  }
}

@mixin laptop {
  @include media('<=laptop') {
    @content;
  }
}

@mixin smallDesktop {
  @include media('<=small-desktop') {
    @content;
  }
}

@mixin tablet {
  @include media('<=tablet') {
    @content;
  }
}

@mixin mobile {
  @include media('<=mobile') {
    @content;
  }
}

@mixin ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin ios {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @content;
  }
}

@mixin responsiveHelper {
  @content;

  @include media('>tablet') {
    &--desktop {
      @content;
    }
  }

  @include media('<=tablet') {
    &--tablet {
      @content;
    }
  }
}

@mixin noscrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    height: 0;
    padding: 0;
    display: none;
    margin: 0;
    border: none;
    background: transparent; /* optional: just make scrollbar invisible */
  }
}

/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}

@mixin bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@mixin styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $color-third rgba(0, 0, 0, 0.1);

  /* Works on Chrome/Edge/Safari */
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-third;
    border-radius: 0;
    border: 0 none;
  }
}
