$width-desktop: 1920px;
$width-laptop: 1368px;
$width-small-desktop: 1024px;
$width-tablet: 834px;
$width-mobile: 480px;

$site-width: 1440px;

// Padding
$site-spacing: 16px;
$site-padding: 100px;
$site-padding--small: 50px;
$site-padding--tablet: 16px;

$site-margin--base: 10px;
$site-padding--base: 10px;

// Fonts
$font-primary: 'sofia-pro', Arial, sans-serif;
$font-secondary: 'sofia-pro', Arial, sans-serif;

$font-heading: $font-secondary;
$font-button: $font-primary;
$font-link: $font-primary;

// #000000
$color-primary: liquid('{{ settings.color_text_new }}');

// #70d44b
$color-secondary: #70d44b;

$color-secondary--alt: #60b345;

$color-third: #e12a82;

$color-fourth: #fffaf0;

$color-fifth: #8b38b2;

$color-sixth: #009baa;

$color-seventh: #e74a27;

// #FFFFFF
$color-contrast: liquid('{{ settings.color_contrast }}');

$color-content: $color-primary;
$color-heading: liquid('{{ settings.color_heading_new }}');
$color-link: $color-primary;

$color-border: rgba(#1e1f1d, 0.1);

// Sizes
// 14px
$size-primary: 16px;

// 12px
$size-secondary: 14px;

// 12px
$size-third: 12px;

// 16px
$size-fourth: 10px;

// 18px
$size-fifth: 18px;

$size-rte: $size-primary;
$size-rte--tablet: $size-primary;

$size-button: $size-third;

$size-header-navigation: $size-primary;

$size-hero: 56px;
$size-hero--tablet: 40px;

$size-h1: 48px;
$size-h1--tablet: 32px;

$size-h2: 40px;
$size-h2--tablet: 32px;

$size-h3: 32px;
$size-h3--tablet: 32px;

$size-h4: 24px;
$size-h4--tablet: 24px;

$size-h5: 20px;
$size-h5--tablet: 18px;

$size-h6: 18px;
$size-h6--tablet: 18px;

// Weights
$weight-primary: 400;
$weight-headings: 900;
$weight-button: 900;

// Line Heights
$line-height-primary: 1.15;
$line-height-headings: 1.15;
$line-height-subheadings: 1.4;
$line-height-bheadings: 1.2;
$line-height-rte: 1.4;

// Letter Spacing
$spacing-primary: 0px;
$spacing-button: 0.95px;
$spacing-subheadings: 1px;

// Heights
$height-header: 80px;
$height-header--tablet: 70px;
