{% comment %} About {% endcomment %}
<div data-section-id="{{ section.id }}" data-section-type="about-template">
  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'banner' -%}
 
        <div {{ block.shopify_attributes }}>
          {%- liquid
            assign transparent_header = false

            if forloop.first
              assign transparent_header = true
            endif
          -%}
 
          {%- render 'banner',
            image: block.settings.image,
            height: block.settings.height,
            transparent_header: transparent_header,
            subheading: block.settings.subheading,
            heading: block.settings.title,
            text: block.settings.text,
            text_position: block.settings.text_position,
            image_position: block.settings.image_position,
            color_text: block.settings.color_text,
            color_overlay: block.settings.color_overlay,
            overlay_opacity: block.settings.overlay_opacity,
            unique: block.id
          -%} 
        </div> 

      {%- when 'rich-text' -%}
        <div {{ block.shopify_attributes }}>
          {%- render 'rich-text', block: block -%}
        </div>

      {%- when 'product-feature' -%}
        {%- assign image_height = block.settings.image_aspect_ratio | times: 100 | append: '%' -%}
        {%- assign blocks_alignment = block.settings.blocks_alignment -%}
        {%- assign is_block_odd = block.settings.reverse_layout -%}

        <div class="product-features--container pad-sm" {{ block.shopify_attributes }}>
          <div class="container">
            <div class="row">
              {%- render 'product-features__item',
                block: block,
                image_height: image_height,
                blocks_alignment: block.settings.blocks_alignment,
                is_block_odd: block.settings.reverse_layout
              -%}
            </div>
          </div>
        </div>

      {%- endcase -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if section.settings.show_page_title or page.content != blank -%}
    <div class="container">
      {%- if section.settings.show_page_title -%}
        <div class="page-title">
          <h1>{{ page.title }}</h1>
        </div>
      {%- endif -%}

      {%- if page.content != blank -%}
        <div class="page-content">
          <div class="text-content rte">
            {{- page.content -}}
          </div>
        </div>
      {%- endif %}
    </div>
  {%- endif %}
</div>

{% schema %}
{
  "name": "About page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_page_title",
      "label": "Show page title",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image position",
          "default": "center-center",
          "options": [
            { "label": "Top", "value": "top-center" },
            { "label": "Right", "value": "right-center" },
            { "label": "Center", "value": "center-center" },
            { "label": "Left", "value": "left-center" },
            { "label": "Bottom", "value": "bottom-center" }
          ]
        },
        {
          "type": "select",
          "id": "height",
          "label": "Height",
          "options": [
              {
                "value": "one-hundred",
                "label": "Full screen height"
              },
              {
                "value": "original-height",
                "label": "Image height"
              },
              {
                "value": "big",
                "label": "750px"
              },
              {
                "value": "normal",
                "label": "650px"
              },
              {
                "value": "small",
                "label": "550px"
              }
            ],
            "default": "normal"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Welcome to Modular"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>A unique layout with a striking design</p>"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "default": "center",
          "options": [
            { "label": "Left", "value": "left" },
            { "label": "Center", "value": "center" },
            { "label": "Right", "value": "right" },
            { "label": "Bottom left", "value": "bottom-left" },
            { "label": "Bottom right", "value": "bottom-right" }
          ]
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_overlay",
          "label": "Overlay",
          "default": "#333333"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "step": 5,
          "max": 95,
          "min": 0,
          "unit": "%",
          "default": 0
        }
      ]
    },
    {
      "type": "rich-text",
      "name": "Rich text",
      "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Text position",
          "default": "split",
          "options": [
            { "label": "Stacked", "value": "default" },
            { "label": "Split", "value": "split" }
          ]
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "Describe your products or brand in detail here"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Modular is a powerful Shopify theme that will set you apart from the rest. It features ample space to showcase your imagery with Mosaic, Image with text, and Slideshow sections.</p>"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "primary",
          "options": [
            { "label": "Primary", "value": "primary" },
            { "label": "Secondary", "value": "secondary" }
          ]
        }
      ]
    },
    {
      "type": "product-feature",
      "name": "Product feature",
      "settings": [
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "This is a heading for a Product feature block."
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Use this text to share information about the point put forth above. Describe a product, your brand, or what makes you special.</p>"
        },
        {
          "type": "header",
          "content": "Images"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_aspect_ratio",
          "label": "Image aspect ratio",
          "min": 0.5,
          "max": 1.5,
          "step": 0.1,
          "unit": ":1",
          "default": 0.6
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image link"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "primary",
          "options": [
            { "label": "Primary", "value": "primary" },
            { "label": "Secondary", "value": "secondary" }
          ]
        },
        {
          "type": "header",
          "content": "Blocks Alignment"
        },
        {
          "type": "select",
          "id": "blocks_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "top",
              "label": "Top"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "reverse_layout",
          "label": "Reverse layout",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
