{% include 'build-a-box' %}

{% schema %}
{
    "name":"Build a Box",
    "settings":[
      {
        "type": "number",
        "id": "limit",
        "label": "Limit",
        "default": 6
      },
      {
        "type": "text",
        "id": "singular_item",
        "label": "Singular Item Name",
        "default": "bottle"
      },
      {
        "type": "text",
        "id": "plural_item",
        "label": "Plural Item Name",
        "default": "bottles"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Build a box"
      },
      {
        "type": "text",
        "id": "price_text",
        "label": "Price Text",
        "default": "6x 450ml bottles  •  Only [price] per bottle"
      },
      {
        "type": "text",
        "id": "sub_price_text",
        "label": "Sub Price Text"
      },
      {
        "type": "richtext",
        "id": "under_atc_content",
        "label": "Under ATC Content",
        "default": "<p>Delivery & Returns information</p>"
      },
      {
        "type": "richtext",
        "id": "under_atc_full_content",
        "label": "Under ATC Full Content",
        "default": "<p>Delivery & Returns information</p>"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Select your favourite flavours to create your customised box. Each box contains 6 bottles. You can order as many boxes with as many different combinations as you like. Buy them as a one off or add them as a subscription.</p>"
      },
      {
        "type": "text",
        "id": "grid_title",
        "label": "Grid Title",
        "default": "Select 6 bottles to create your box"
      },
      {
        "type": "link_list",
        "id": "switcher_menu",
        "label": "Switcher Menu"
      },
      {
        "type": "textarea",
        "id": "placeholder_url",
        "label": "Placeholder Image URL"
      }
    ],
    "blocks":[
      {
        "name":"Product",
        "type":"product",
        "settings":[
          {
            "type":"product",
            "id":"product",
            "label": "Product"
          }
        ]
      }
    ]
}
{% endschema %}
