{%- comment -%} Settings {%- endcomment -%}
{%- assign show_sort_filter = section.settings.show_sort_filter -%}
{%- assign show_banner = section.settings.show_banner -%}
{%- assign show_featured_image = section.settings.show_featured_image -%}
{%- assign filter_mode = section.settings.filter_mode -%}
{%- unless filter_mode == 'hidden' -%}
  {%- assign enable_filters = true -%}
{%- else -%}
  {%- assign enable_filters = false -%}
{%- endunless -%}

{% comment %}
  Set collectionBlock size classes
  These are applied in the collection-grid__block.liquid file
{% endcomment %}
{%- assign products_rows = settings.products_rows | plus: 0 -%}
{%- assign products_columns = settings.products_columns | plus: 0 -%}
{%- assign products_columns_mobile = settings.products_columns_mobile | plus: 0 -%}
{%- assign products_limit = products_columns | times: products_rows -%}
{%- assign columns_size = products_columns | replace: '1', '' -%}
{%- assign columns_size_mobile = products_columns_mobile | replace: '1', '' -%}
{%- assign grid_block_size = 'lg_s1' | append: columns_size -%}
{%- assign grid_block_size_mobile = 's1' | append: columns_size_mobile -%}

{% comment %} Set tablet size to be one-half {% endcomment %}
{%- if products_columns > 2 -%}
	{%- assign grid_block_size = 'lg_s1' | append: columns_size | append: ' med_s13' -%}
{%- endif -%}

{%- assign banner_image = collection.image -%}
{%- if collection.handle == 'all' %}
  {%- assign banner_image = section.settings.banner_image -%}
{%- endif %}

{%- comment -%} Assign all selected tags to container data-tags attribute {%- endcomment -%}
{%- if enable_filters -%}
  {%- assign selected_tags = '' -%}

  {%- for tag in current_tags -%}
    {%- assign current_tag_handle = tag | replace: '&#39;', '' | replace: '&#34;', '' | handle -%}
    {%- assign selected_tags = selected_tags | append: current_tag_handle -%}

    {%- unless forloop.last -%}
      {%- assign selected_tags = selected_tags | append: '+' -%}
    {%- endunless -%}
  {%- endfor -%}
{%- endif -%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="collection-template"
  data-filters="{{ enable_filters }}"
  data-filter-mode="{{ filter_mode }}">

  {%- if show_banner and banner_image -%}
    {%- render 'banner',
        image: banner_image,
        height: section.settings.banner_height,
        transparent_header: true,
        heading: collection.title,
        text: collection.description,
        text_position: section.settings.banner_text_position,
        image_position: section.settings.image_position,
        color_text: section.settings.banner_color_text,
        color_overlay: section.settings.banner_color_overlay,
        overlay_opacity: section.settings.banner_overlay_opacity,
        unique: section.id
    -%}
  {%- else -%}
    <div class="page-title" data-banner-content>
      <div class="container">
        <h1 class="page-title__heading">{{ page_title }}</h1>

        {%- unless collection.description == blank -%}
          <div class="page-title__text">{{ collection.description }}</div>
        {%- endunless -%}
      </div>
    </div>
  {%- endif -%}

  <section class="collection-grid container-wrap" data-collection-wrapper>
    {%- if enable_filters -%}
      {%- assign file_extension = 'png' -%}
{%- assign position_filters = section.settings.position_filters -%}
{%- unless collection.sort_by == '' -%}
	{%- assign sort_by = '?sort_by=' | append: collection.sort_by -%}
{%- endunless -%}

{%- capture filter_tags -%}
	{%- assign tags_list = '' -%}

	{%- case filter_mode -%}
		{%- when 'tag' -%}
			{%- assign is_active = false -%}
			{%- assign selected_filters_count = 0 -%}

			{%- for tag in collection.all_tags -%}
				{%- assign tag_url = tag | handle -%}
				{%- if current_tags contains tag  -%}
					{%- assign is_active = true -%}
					{%- assign tag_url = '' -%}
					{%- assign selected_filters_count =  selected_filters_count | plus: 1 -%}
				{%- endif -%}

				{%- unless tags_list contains tag or tag contains 'badge' or tag contains '__tab' -%}
					{%- capture temp_list -%}{{ tags_list | append: tag | append: ' ' }}{%- endcapture -%}
					{%- assign tags_list = tempList -%}
					<li class="collection__filter-tag collection__filter-tag--default {% if current_tags contains tag %}is-active{% endif %}" data-collection-filter-tag>
						<a href="{{- collection.url | append: '/' | append: tag_url | append: sort_by -}}" class="collection__filter-tag-btn" data-tag="{{ tag | handle }}" data-collection-filter-tag-button>
							{{- tag -}}
							{%- render 'icon-check' -%}
						</a>
					</li>
				{%- endunless -%}
			{%- endfor -%}

		{%- when 'group' -%}
			{%- assign groups = '' -%}

			{%- for tag in collection.all_tags -%}
				{%- assign tag_parts = tag | split: '_' -%}

				{%- if tag_parts.size == 2 -%}
					{%- assign groups = groups | append: tag_parts.first | append: ',' -%}
				{%- endif -%}
			{%- endfor -%}

			{%- assign groups = groups | split: ',' | compact | uniq -%}
			{%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}

			{%- for group in groups -%}
				{%- assign is_active = false -%}
				{%- assign selected_filters_count = 0 -%}
				{%- assign group_label = group | downcase -%}

				{%- for tag in current_tags -%}
					{%- if tag contains group -%}
						{%- assign is_active = true -%}
						{%- assign selected_filters_count = selected_filters_count | plus: 1 -%}
					{%- endif -%}
				{%- endfor -%}

				{%- comment -%} Don't show "badge" and empty tag label as a filter {%- endcomment -%}
				{%- unless group_label == 'badge' or group_label == '' -%}

					{%- if color_label contains group_label and settings.enable_color_swatches -%}
						{%- assign is_color_swatch = true -%}
					{%- else -%}
						{%- assign is_color_swatch = false -%}
					{%- endif -%}

					<div class="collection__filter{% if is_active %} collection__filter--accordion-expanded{% endif %}" data-collection-filter>
						<button class="collection__filter-title" tabindex="0" data-collection-filter-title>
							<span class="collection__filter-group">{{ group }}</span>
							<span class="collection__filter-count" data-count="{{ selected_filters_count }}" data-collection-filter-count></span>
							{%- render 'icon-arrow' -%}
						</button>
						<div class="collection__filter-container">
							<ul class="collection__filter-tags{% if is_color_swatch %} collection__filter-tags--swatches{% endif %}">
								{%- for tag in collection.all_tags -%}
									{%- assign tag_parts = tag | split: '_' -%}
									{%- assign group_tag = tag_parts.last -%}

									{%- assign tag_url = tag | handle -%}
									{%- if current_tags contains tag  -%}
										{%- assign tag_url = '' -%}
									{%- endif -%}

									{%- if tag_parts.first == group -%}
										{%- if is_color_swatch -%}
											<li class="collection__filter-tag collection__filter-tag--swatch swatch swatch--{{ settings.color_swatches_style }}{% if current_tags contains tag %} is-active{% endif %}"
												data-collection-filter-tag>
												<a href="{{- collection.url | append: '/' | append: tag_url | append: sort_by -}}"
													class="swatch__element swatch__element--{{ group_tag | handle }} collection__filter-tag-btn"
													data-value="{{ group_tag }}"
													data-tag="{{ tag | handle }}"
													data-collection-filter-tag-button>
													<div class="swatch__label">
														<span class="swatch__color swatch__color--{{ group_tag | handle }}" style="background-color: {{ group_tag | split: ' ' | last | handle }}; background-image: url({{ group_tag | handle | append: '.' | append: file_extension | asset_url }})"></span>
														<span class="swatch__color-name">{{ group_tag }}</span>
													</div>
												</a>
											</li>
										{%- else -%}

											{% comment %} Check if the tag value is a number {% endcomment %}
											{%- capture tag_value -%}{{ group_tag | abs }}{%- endcapture -%}

											{%- if tag_value == group_tag -%}
												{%- assign is_number = true -%}
											{%- else -%}
												{%- assign is_number = false -%}
											{%- endif -%}

											<li class="collection__filter-tag{% if is_number %} collection__filter-tag--number{% else %} collection__filter-tag--default{% endif %}{% if current_tags contains tag %} is-active{% endif %}"
												data-collection-filter-tag>
												<a href="{{- collection.url | append: '/' | append: tag_url | append: sort_by -}}" data-tag="{{ tag | handle }}" class="collection__filter-tag-btn" data-collection-filter-tag-button>
													{{- group_tag -}}
													{%- unless is_number -%}
														{%- render 'icon-check' -%}
													{%- endunless -%}
												</a>
											</li>
										{%- endif -%}
									{%- endif -%}
								{%- endfor -%}
							</ul>
						</div>
					</div>

				{%- endunless -%}
			{%- endfor -%}

	{%- endcase -%}
{%- endcapture -%}

{%- if filter_tags != blank -%}
	<div class="collection__filters collection__filters--{{ position_filters }} {% if current_tags != blank %}collection__filters--has-tags-selected{% endif %}" data-collection-filters>
		<div class="container">
			<div class="collection__filters-list">
				<div class="collection__filters-reset">
					<a href="{{- collection.url -}}" class="collection__filters-reset-btn{% if current_tags != blank %} is-visible{% endif %}"{% if current_tags == blank %} style="display: none;"{% endif %} data-collection-filters-reset-button>
						{%- render 'icon-close' -%}
						<span class="collection__filters-reset-btn-text">{{ 'collections.tag_filtering.reset' | t }}</span>
						<span class="products-found" data-products-found-label>- {{ 'collections.products_with_count' | t: count: collection.products_count }}</span>
					</a>
				</div>

				{%- case filter_mode -%}
				{%- when 'tag' -%}
					<div class="collection__filter collection__filter--accordion-expanded" data-collection-filter>
						<button class="collection__filter-title" data-collection-filter-title>
							<span>{{ 'collections.tag_filtering.filters' | t }}</span>
							<span class="collection__filter-count" data-count="{{ selected_filters_count }}" data-collection-filter-count></span>
							{%- render 'icon-arrow' -%}
						</button>
						<div class="collection__filter-container">
							<ul class="collection__filter-tags">
								{{- filter_tags -}}
							</ul>
						</div>
					</div>
				{%- when 'group' -%}
					{{- filter_tags -}}
				{%- endcase -%}
			</div>
		</div>
	</div>
{%- endif -%}
    {%- endif -%}
    <div class="collection-grid__wrapper">
      <div class="container">
        <div class="collection-grid__nav collection-grid__row row inline">

          {%- if settings.show_breadcrumbs -%}
            <div class="breadcrumbs block">
              {%- render 'site-breadcrumbs' -%}
            </div>
          {%- endif -%}

          <div class="grid-sort block">
            {%- if show_sort_filter -%}
              <div class="collection-grid__sort block">
                <div class="selector-wrapper">
                  <label for="collectionSort">{{ 'collections.sorting_dropdown.label' | t }}</label>
                  {%- render 'icon-arrow' -%}
                  {%- assign sort_by = collection.sort_by -%}
                  <select class="sort" id="collectionSort" data-collection-sort>
                    <option value="">{{ 'collections.sorting_dropdown.all' | t }}</option>
                    <option value="best-selling" {% if sort_by == "best-selling" %}selected{% endif %}>{{ 'collections.sorting_dropdown.best_selling' | t }}</option>
                    <option value="price-ascending" {% if sort_by == "price-ascending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.price_ascending' | t }}</option>
                    <option value="price-descending" {% if sort_by == "price-descending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.price_descending' | t }}</option>
                    <option value="title-ascending" {% if sort_by == "title-ascending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.title_ascending' | t }}</option>
                    <option value="title-descending" {% if sort_by == "title-descending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.title_descending' | t }}</option>
                    <option value="created-ascending" {% if sort_by == "created-ascending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.created_ascending' | t }}</option>
                    <option value="created-descending" {% if sort_by == "created-descending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.created_descending' | t }}</option>
                  </select>
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>
        <div class="collection-grid__load icon-load-more" data-icon-load-more></div>

        {%- if collection.all_products_count == 0 -%}
          <div class="collection-no-products">
            <div class="container">
              <h4>{{ 'collections.errors.no_products' | t }}</h4>
              <div class="button-wrapper">
                <a class="button" href="{{ routes.all_products_collection_url }}">{{ 'collections.errors.continue_shopping' | t }}</a>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>

      {%- if collection.all_products_count > 0 -%}
        {%- paginate collection.products by products_limit -%}

          <div class="js-collection-grid collection-grid__row collection-grid__row--grid{% if settings.enable_infinity_scroll %} EndlessScroll{% endif %}"
            data-section-id="{{ section.id }}"
            data-show_quantity="{{ settings.show_quantity }}"
            data-tags='{% if selected_tags != blank %}{{ selected_tags | split: '+' | json }}{% else %}[]{% endif %}'
            data-sort="{{ collection.sort_by | default: collection.default_sort_by }}"
            data-collection="{{ collection.url | default: routes.all_products_collection_url }}"
            data-collection-products>
            {%- if show_featured_image and paginate.current_page == 1 and collection.products_count > 0 -%}
              {% comment %} Featured Content Settings {% endcomment %}
              {%- assign featuredImage = section.settings.featured_image -%}
              {%- assign featuredHeading = section.settings.featured_heading -%}
              {%- assign featuredText = section.settings.featured_text | replace: '<p>', '' | replace: '</p>', '<br>' -%}
              {%- assign featuredButtonText = section.settings.featured_button_text -%}
              {%- assign featuredButtonLink = section.settings.featured_button_link -%}
              {%- assign featuredButtonStyle = section.settings.featured_button_style -%}
              {%- assign featuredColorText = section.settings.featured_color_text -%}
              {%- assign featuredColorOverlay = section.settings.featured_color_overlay -%}
              {%- assign featuredOverlayOpacity = section.settings.featured_overlay_opacity | times: 0.01 | round: 2 -%}

              {%- style -%}
                .featured-block__content { color: {{ featuredColorText }}; }
                .featured-block__image::before { background-color: {{ featuredColorOverlay }}; opacity: {{ featuredOverlayOpacity }}; }
              {%- endstyle -%}

              <div class="product-block featured-block featured-block--mobile-{{ products_columns_mobile }} block {{ grid_block_size }} {{ grid_block_size_mobile }}{% if settings.transition_grid_items %} will-animate{% endif %}"{% if settings.transition_grid_items %} data-animation="moFadeInUp"{% endif %} data-collection-featured-block>
                <div class="featured-block__container">
                  <div class="featured-block__wrapper">
                    {%- unless featuredImage == blank -%}
                      <div class="featured-block__image lazyload"
                        data-bgset="{% render 'bgset', image: featuredImage %}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        data-aspectratio="{{ featuredImage.aspect_ratio }}"></div>
                      <noscript>
                        <div class="featured-block__image no-js-image" style="background-image: url({{ section.settings.featured_image | img_url: '1024x' }});"></div>
                      </noscript>
                    {%- else -%}
                      <div class="featured-block__image svg-placeholder">
                        {{- 'image' | placeholder_svg_tag -}}
                      </div>
                    {%- endunless -%}

                    {%- if featuredHeading != blank or featuredText != blank or featuredButtonText != blank -%}
                      <div class="featured-block__content">
                        {%- if featuredHeading -%}
                          <h2 class="featured-block__content__heading">{{ featuredHeading }}</h2>
                        {%- endif -%}

                        {%- if featuredText -%}
                        <p class="featured-block__content__text">{{- featuredText -}}</p>
                        {%- endif -%}

                        {%- if featuredButtonText != blank -%}
                          {%- if featuredButtonLink == blank -%}
                            {%- assign featuredButtonLink = "#!" -%}
                          {%- endif -%}
                          <a href="{{ featuredButtonLink }}" title="{{ featuredButtonText }}" class="button button--{{ featuredButtonStyle }}">{{ featuredButtonText }}</a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endif -%}

            {%- if collection.products_count > 0 -%}

              {%- for product in collection.products -%}
                {%- render 'product-grid-item', product: product, grid_block_size: grid_block_size, grid_block_size_mobile: grid_block_size_mobile, index: forloop.index -%}
              {%- endfor -%}

            {%- else -%}
              <div class="collection-no-products">
                <div class="container">
                  <p>{{ 'collections.errors.no_products_by_filter' | t : products_count: collection.products_count }}</p>

                  {%- if enable_filters and current_tags != blank -%}
                    <a href="{{- collection.url -}}" class="collection__filters-reset-btn{% if current_tags != blank %} is-visible{% endif %}"{% if current_tags == blank %} style="display: none;"{% endif %} data-collection-filters-reset-button>
                      {%- render 'icon-close' -%}
                      <span class="collection__filters-reset-btn-text">{{ 'collections.tag_filtering.reset' | t }}</span>
                      <span class="products-found" data-products-found-label>- {{ 'collections.products_with_count' | t: count: collection.products_count }}</span>
                    </a>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}

            {%- render 'pagination', paginate: paginate -%}

          </div>
        {%- endpaginate -%}
      {%- endif -%}
    </div>
  </section>
</div>

{%- render 'product-quick-view' -%}

{% schema %}
   {
  "name": "Collection pages",
  "settings": [
    {
      "type": "header",
      "content": "Filters"
    },
    {
      "type": "checkbox",
      "id": "show_sort_filter",
      "label": "Show Sort By filter",
      "default": true
    },
    {
      "type": "select",
      "label": "Filter mode",
      "id": "filter_mode",
      "info": "Filters by group requires specific tag formatting. [Learn more](https://modular.helpscoutdocs.com/article/178-product-tag-and-group-filtering)",
      "default": "tag",
      "options": [
        { "label": "Hidden", "value": "hidden" },
        { "label": "By tag", "value": "tag" },
        { "label": "By group", "value": "group" }
      ]
    },
    {
      "type": "select",
      "id": "position_filters",
      "label": "Position",
      "default": "left",
      "options": [
        { "label": "Top", "value": "top" },
        { "label": "Left", "value": "left" }
      ]
    },
    {
      "type": "header",
      "content": "Catalog image"
    },
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "Show collection image as a banner",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Default image",
      "info": "Will be shown on collections/all"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "default": "center-center",
      "options": [
        { "label": "Top", "value": "top-center" },
        { "label": "Right", "value": "right-center" },
        { "label": "Center", "value": "center-center" },
        { "label": "Left", "value": "left-center" },
        { "label": "Bottom", "value": "bottom-center" }
      ]
    },
    {
      "type": "select",
      "id": "banner_height",
      "label": "Height",
      "options": [
        {
          "value": "one-hundred",
          "label": "Full screen height"
        },
        {
          "value": "original-height",
          "label": "Image height"
        },
        {
          "value": "big",
          "label": "750px"
        },
        {
          "value": "normal",
          "label": "650px"
        },
        {
          "value": "small",
          "label": "550px"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "banner_text_position",
      "label": "Text position",
      "default": "center",
      "options": [
        { "label": "Left", "value": "left" },
        { "label": "Center", "value": "center" },
        { "label": "Right", "value": "right" },
        { "label": "Bottom left", "value": "bottom-left" },
        { "label": "Bottom right", "value": "bottom-right" }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "banner_color_text",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "banner_color_overlay",
      "label": "Overlay",
      "default": "#333333"
    },
    {
      "type": "range",
      "id": "banner_overlay_opacity",
      "label": "Overlay opacity",
      "step": 5,
      "max": 95,
      "min": 0,
      "unit": "%",
      "default": 0
    },
    {
      "type": "header",
      "content": "Featured image"
    },
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "label": "Show featured image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "featured_heading",
      "label": "Heading",
      "default":"Use this image showcase promotional content."
    },
    {
      "type": "richtext",
      "id": "featured_text",
      "label": "Text",
      "default":"<p>Elaborate on it with rich text</p>"
    },
    {
      "type": "text",
      "id": "featured_button_text",
      "label": "Button label",
      "default":"Learn More"
    },
    {
      "type": "url",
      "id": "featured_button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "featured_button_style",
      "label": "Button style",
      "default": "primary",
      "options": [
        { "label": "Primary", "value": "primary" },
        { "label": "Secondary", "value": "secondary" }
      ]
    },
    {
      "type": "color",
      "id": "featured_color_text",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "featured_color_overlay",
      "label": "Overlay",
      "default": "#333333"
    },
    {
      "type": "range",
      "id": "featured_overlay_opacity",
      "label": "Overlay opacity",
      "step": 5,
      "max": 95,
      "min": 0,
      "unit": "%",
      "default": 30
    }
  ]
}
{% endschema %}
