{% comment %} Contact page template {% endcomment %}

{%- render 'contact-section', show_title: section.settings.show_page_title -%}

{% schema %}
	{
		"name": "Contact pages",
		"settings": [
			{
				"type": "header",
				"content": "Contact form",
				"info": "Name, Email, and Message fields are required. You can add them as blocks in order to edit or reorder."
			},
			{
				"type": "checkbox",
				"id": "show_page_title",
				"label": "Show page title",
				"default": false
			},
			{
				"type": "header",
				"content": "Banner"
			},
			{
				"type": "image_picker",
				"id": "banner_image",
				"label": "Image"
			},
			{
				"type": "select",
				"id": "image_position",
				"label": "Image position",
				"default": "center-center",
				"options": [
					{ "label": "Top", "value": "top-center" },
					{ "label": "Right", "value": "right-center" },
					{ "label": "Center", "value": "center-center" },
					{ "label": "Left", "value": "left-center" },
					{ "label": "Bottom", "value": "bottom-center" }
				]
			},
			{
				"type": "select",
				"id": "banner_height",
				"label": "Height",
				"options": [
					{
						"value": "one-hundred",
						"label": "Full screen height"
					},
					{
						"value": "original-height",
						"label": "Image height"
					},
					{
						"value": "big",
						"label": "750px"
					},
					{
						"value": "normal",
						"label": "650px"
					},
					{
						"value": "small",
						"label": "550px"
					}
				],
				"default": "small"
			},
			{
				"type": "text",
				"id": "banner_subheading",
				"label": "Subheading"
			},
			{
				"type": "richtext",
				"id": "banner_text",
				"label": "Text"
			},
			{
				"type": "select",
				"id": "banner_text_position",
				"label": "Text position",
				"default": "center",
				"options": [
					{ "label": "Left", "value": "left" },
					{ "label": "Center", "value": "center" },
					{ "label": "Right", "value": "right" },
					{ "label": "Bottom left", "value": "bottom-left" },
					{ "label": "Bottom right", "value": "bottom-right" }
				]
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "banner_color_text",
				"label": "Text",
				"default": "#ffffff"
			},
			{
				"type": "color",
				"id": "banner_color_overlay",
				"label": "Overlay",
				"default": "#333333"
			},
			{
				"type": "range",
				"id": "banner_overlay_opacity",
				"label": "Overlay opacity",
				"step": 5,
				"max": 95,
				"min": 0,
				"unit": "%",
				"default": 0
			}
		],
		"blocks": [
			{
				"type": "heading",
				"name": "Large heading",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Contact us"
					}
				]
			},
			{
				"type": "heading_small",
				"name": "Small heading",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Additional fields"
					}
				]
			},
			{
				"type": "email",
				"name": "Email",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Label",
						"default": "Email"
					}
				]
			},
			{
				"type": "body",
				"name": "Message",
				"limit": 1,
				"settings": [
					{
						"type": "textarea",
						"id": "title",
						"label": "Label",
						"default": "Message"
					}
				]
			},
			{
				"type": "text",
				"name": "Text line",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Label",
						"default": "Name",
						"info": "Example: Name"
					}
				]
			},
			{
				"type": "telephone",
				"name": "Telephone",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Label",
						"default": "Phone Number",
						"info": "Example: Phone Number"
					}
				]
			},
			{
				"type": "spacer",
				"name": "Spacer",
				"settings": [
					{
						"type": "checkbox",
						"id": "line",
						"label": "Show line",
						"default": false
					}
				]
			},
			{
				"type": "checkbox",
				"name": "Single checkbox",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Label",
						"default": "Checkbox option",
						"info": "Example: Subscribe to newsletter"
					}
				]
			},
			{
				"type": "select",
				"name": "Select dropdown",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Select an option",
						"info": "Example: Choose a delivery location"
					},
					{
						"type": "header",
						"content": "Include up to six options",
						"info":  "Leave option text blank to exclude"
					},
					{
						"type": "text",
						"id": "label-one",
						"default": "Select option one",
						"label": "Option one"
					},
					{
						"type": "text",
						"id": "label-two",
						"default": "Select option two",
						"label": "Option two"
					},
					{
						"type": "text",
						"id": "label-three",
						"default": "Select option three",
						"label": "Option three"
					},
					{
						"type": "text",
						"id": "label-four",
						"default": "Select option four",
						"label": "Option four"
					},
					{
						"type": "text",
						"id": "label-five",
						"default": "Select option five",
						"label": "Option five"
					},
					{
						"type": "text",
						"id": "label-six",
						"default": "Select option six",
						"label": "Option six"
					}
				]
			},
			{
				"type": "radio",
				"name": "Radio buttons",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Pick an option"
					},
					{
						"type": "header",
						"content": "Include up to six options",
						"info":  "Leave option text blank to exclude"
					},
					{
						"type": "text",
						"id": "label-one",
						"default": "Option one",
						"label": "Option one"
					},
					{
						"type": "text",
						"id": "label-two",
						"default": "Option two",
						"label": "Option two"
					},
					{
						"type": "text",
						"id": "label-three",
						"label": "Option three"
					},
					{
						"type": "text",
						"id": "label-four",
						"label": "Option four"
					},
					{
						"type": "text",
						"id": "label-five",
						"label": "Option five"
					},
					{
						"type": "text",
						"id": "label-six",
						"label": "Option six"
					}
				]
			}
		]
	}
{% endschema %}
