{% assign show_dynamic_cart_banner = false %}
{% for block in section.blocks %}
  {% if block.settings.enabled  %}
    {% assign show_dynamic_cart_banner = true %}
    {% break %}
  {% endif %}
{% endfor %}   

{% if show_dynamic_cart_banner %}
  <div class="dynamic-cart-banner-slider keen-slider {% if section.settings.hide_on_scroll %}hide-on-scroll{% endif %} {% if section.settings.hide_on_scroll_mobiles %}hide-on-scroll-mobiles{% endif %}"   data-keen-slider='{
    "slidesPerView": 1,
    "dots": false,
    "loop": true,
    "autoplay": true,
    "arrows": false
  }'>
    
    {% for block in section.blocks %}
      {% assign bs = block.settings %}


      {% if bs.enabled  %}
        <p  class="dynamic-cart-banner keen-slider__slide flex" style="color: {{ bs.text_color }}; background: {{ bs.background_color }};">
          {{ bs.banner_msg }}{% if bs.url %}<a href="{{ bs.url}}">{{ bs.banner_link }}</a>{% endif %}
          <style>
            .dynamic-cart-banner p{
              font-size: {{ bs.font_size_desktop }}px;
            }
            .dynamic-cart-banner a {
                margin-left: 4px;
              }
            @media screen and (max-width: 768px) {
               p{
                font-size: {{ bs.font_size_mobile }}px;
              }
            }
          </style>
        </p>

      {% endif %}
    {% endfor %}

  </div>
{% endif %}

{% schema %}
  {
    "name": "Header Banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_on_scroll",
        "label": "Hide on scroll on desktop?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "hide_on_scroll_mobiles",
        "label": "Hide on scroll on mobiles?",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "banner",
        "name": "Banner",
        "settings": [
          {
            "type": "checkbox",
            "id": "enabled",
            "label": "Enabled"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background Color"
          },
          {
            "type": "number",
            "id": "font_size_desktop",
            "label": "Font Size Desktop",
            "default": 15
          },
          {
            "type": "number",
            "id": "font_size_mobile",
            "label": "Font Size Mobile",
            "default": 12
          },
          {
            "type": "text",
            "id": "banner_msg",
            "label": "Banner Message",
            "default": "This is a message"
          },
          {
            "type": "text",
            "id": "banner_link",
            "label": "Anchor Message",
            "default": "This is a link"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ]
  }
{% endschema %}

