{%- comment %} Settings {%- endcomment -%}
{%- assign product = all_products[section.settings.product] -%}
{%- assign show_reviews = settings.show_reviews -%}
{%- assign enable_yotpo = settings.enable_yotpo -%}
{%- assign yotpo_ID = settings.yotpo_ID -%}
{%- assign enable_color_swatches = settings.enable_color_swatches -%}
{%- assign enable_variant_boxes = settings.enable_variant_boxes -%}
{%- assign show_quantity = section.settings.show_quantity -%}
{%- assign image_position = section.settings.image_position -%}
{%- assign image_size = section.settings.image_size -%}
{%- assign arrows = section.settings.product_slideshow_arrows -%}
{%- assign enable_video_looping = section.settings.enable_video_looping -%}
{%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
{%- assign featured_media_id = featured_media.id -%}
{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}

{%- assign sold_out = true -%}
{%- if product.available or product == blank -%}
	{%- assign sold_out = false -%}
{%- endif -%}

{%- assign is_single_media = false -%}
{%- if product.media.size == 1 -%}
	{%- assign is_single_media = true -%}
{%- endif -%}

{%- if product == blank -%}
	{%- assign onboarding_product = true -%}
{%- endif -%}

{%- if image_position == '1' -%}
<style>.shopify-payment-button {margin-left: auto !important; margin-right: auto !important;}</style>
{%- endif -%}

<section class="product container-wrap js-product-template clearfix row featured-product--{{section.id}} js-product-template--{{section.id}} featured-product {% if onboarding_product %}onboarding-product{% endif %}"
	data-section-type="product"
	data-section-id="{{ section.id }}"
	data-show_reviews="{{ show_reviews }}"
	data-show_quantity="{{ show_quantity }}"
	data-yotpo="{{ settings.enable_yotpo }}"
	data-yotpo-id="{{ settings.yotpo_ID }}">
	<div class="container">
		<div class="featured-product__wrapper{% if image_position == '1' %} featured-product__wrapper--vertical{% endif %}">
			<div class="product-layout-{{ image_position }}--images product-layout-images--{{ image_size }} xxl_s12 xl_s12 lg_s12 med_s12 s1">
				<div class="productImgSlider{% if is_single_media %} productImgSlider--single{% endif %}" data-product-single-media-group>
					<div
						id="productImgSlider--{{ section.id }}"
						class="js-productImgSlider js-productImgContainer"
						data-gallery="{{ section.settings.image_gallery }}"
						data-arrows="{{ arrows }}"
						data-product-single-media-slider>
						{%- unless onboarding_product -%}
							{%- comment -%} Show Featured media first {%- endcomment -%}
							{%- for media in product.media -%}
								{%- if media.id == featured_media_id -%}
									{%- render 'media', media: media, featured_media: featured_media, is_single_media: is_single_media -%}
								{%- endif -%}
							{%- endfor -%}

							{%- comment -%} Loop product media skipping the featured {%- endcomment -%}
							{%- for media in product.media -%}
								{%- if media.id != featured_media_id -%}
									{%- render 'media', media: media, featured_media: featured_media, is_single_media: is_single_media -%}
								{%- endif -%}
							{%- endfor -%}
						{%- else -%}
							<div class="product-image product-image--onboarding">
								{{ 'product-5' | placeholder_svg_tag: 'placeholder-svg' }}
							</div>
						{%- endunless -%}
					</div>

					{%- if first_3d_model -%}
						<button
							aria-label="{{ 'products.product_page.view_in_space_label' | t }}"
							class="btn btn--ar product-single__view-in-space"
							data-shopify-xr
							data-shopify-model3d-id="{{ first_3d_model.id }}"
							data-shopify-title="{{ product.title | strip_html }}"
							data-shopify-xr-hidden>
							{%- render 'icon-media-model' -%}
							<span class='product-single__view-in-space-text'>{{ 'products.product_page.view_in_space' | t }}</span>
						</button>
					{%- endif -%}
				</div>

				{%- unless onboarding_product -%}
					{%- if product.media.size > 1 -%}
						<div class="productImgSlider-nav js-productImgSlider-nav" data-product-single-media-thumbs>
							{%- comment -%} Show Featured media thumbnail first {%- endcomment -%}
							{%- for media in product.media -%}
								{%- if media.id == featured_media_id -%}
									{%- render 'media-thumb', media: media, index: forloop.index -%}
								{%- endif -%}
							{%- endfor -%}

							{%- comment -%} Loop product media thumbnails skipping the featured {%- endcomment -%}
							{%- for media in product.media -%}
								{%- if media.id != featured_media_id -%}
									{%- render 'media-thumb', media: media, index: forloop.index -%}
								{%- endif -%}
							{%- endfor -%}
						</div>
					{%- endif -%}
				{%- endunless -%}
			</div>
			{%- comment -%} end product images {%- endcomment -%}

			<div class="product-info product-layout-{{ image_position }}--info xxl_s12 xl_s12 lg_s12 med_s12 s1">
				<div class="product-info__wrapper">

					{%- unless onboarding_product -%}
						<div class="product-title__wrapper block s1">
							<h2 class="product-title"><a href="{{ product.url }}">{{ product.title | strip_html }}</a></h2>

							{%- render 'product-price', product: product -%}

							{%- if show_reviews or enable_yotpo and yotpo_ID != '' -%}
								<div class="product__badge">
									{%- if enable_yotpo and yotpo_ID != '' -%}
										<div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
									{%- else -%}
										<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
									{%- endif -%}
								</div>
							{%- endif -%}
						</div>

						<div class="product-form block s1">
							{%- render 'product-form', product: product -%}
							{%- render 'notification-form', variant_available: product.selected_or_first_available_variant.available, product_title: product.title -%}

							{%- unless product.description == blank -%}
								<div class="product-description rte">{{ product.description }}</div>
							{%- endunless -%}

							{%- if settings.share_on_facebook or settings.share_on_twitter or settings.share_on_pinterest -%}
								<div class="product-share">
									<span class="share-links p">
										{%- render 'site-shareLinks', product: product -%}
									</span>
								</div>
							{%- endif -%}
						</div>

					{%- else -%}
						<div class="product-title__wrapper block s1">
							<h2 class="product-title">{{ 'onboarding.product_title' | t }}</h2>

							<div class="product__price">{{ 9900 | money }}</div>

							{%- if show_reviews or enable_yotpo and yotpo_ID != '' -%}
								<div class="product__badge">
									<span class="spr-badge" data-rating="0.0">
										<span class="spr-starrating spr-badge-starrating">
											<i class="spr-icon spr-icon-star-empty"></i>
											<i class="spr-icon spr-icon-star-empty"></i>
											<i class="spr-icon spr-icon-star-empty"></i>
											<i class="spr-icon spr-icon-star-empty"></i>
											<i class="spr-icon spr-icon-star-empty"></i>
										</span>
									</span>
								</div>
							{%- endif -%}
						</div>

						<div class="product-form block s1">
							{%- render 'pseudoform' -%}

							<div class="product-description rte">{{ 'onboarding.product_description' | t }}</div>

							{% if settings.share_on_facebook or settings.share_on_twitter or settings.share_on_pinterest %}
								<div class="product-share">
									<span class="share-links p">
										{%- render 'site-shareLinks' -%}
									</span>
								</div>
							{% endif %}
						</div>
					{%- endunless -%}
				</div>

			</div>
		</div>
	</div>

	{%- unless onboarding_product -%}
		<script type="application/json" id="ProductJson--{{ section.id }}" hidden>{{ product | json }}</script>
		<script type="application/json" id="ModelJson-{{ section.id }}">
			{{ product.media | where: 'media_type', 'model' | json }}
		</script>
	{%- endunless -%}
</section>

{% schema %}
{
	"name": "Featured product",
	"class": "shopify-section--featured-product",
	"settings": [
		{
			"type": "product",
			"id": "product",
			"label": "Product"
		},
		{
			"type": "select",
			"id": "image_position",
			"label": "Image position",
			"options": [{
					"value": "1",
					"label": "Top"
				},
				{
					"value": "4",
					"label": "Left"
				}
			],
			"default": "4"
		},
		{
			"type": "select",
			"id": "image_size",
			"label": "Image size",
			"options": [
				{
					"value": "small",
					"label": "Small"
				},
				{
					"value": "medium",
					"label": "Medium"
				},
				{
					"value": "large",
					"label": "Large"
				}
			],
			"default": "large"
		},
		{
			"type": "checkbox",
			"id": "product_slideshow_arrows",
			"label": "Show slide navigation arrows",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_quantity",
			"label": "Show quantity picker",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "enable_payment_button",
			"label": "Show dynamic checkout button",
			"info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
			"default": true
		},
		{
			"type": "header",
			"content": "Newsletter"
		},
		{
			"type": "checkbox",
			"id": "show_newsletter",
			"label": "Show newsletter if out of stock",
			"default": true
		},
		{
			"type": "richtext",
			"id": "text_newsletter",
			"label": "Text",
			"default": "<p>Notify me when this product is available:</p>"
		},
		{
			"type": "header",
			"content": "Media",
			"info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
		},
		{
			"type": "checkbox",
			"id": "enable_video_looping",
			"label": "Enable video looping",
			"default": false
		}
	],
	"presets": [
		{
		"name": "Featured product",
		"category": "product"
		}
	]
}
{% endschema %}
