{% comment %} Settings {% endcomment %}
{%- assign blog = blogs[section.settings.blog] -%}
{%- assign blog_link = blogs[section.settings.blog].url -%}
{%- assign title = section.settings.heading -%}
{%- assign text = section.settings.text -%}
{%- assign cta = section.settings.cta -%}

{%- assign article_rows = section.settings.article_rows | plus: 0 -%}
{%- assign article_columns = section.settings.article_columns | plus: 0 -%}
{%- assign articles_count = article_columns | times: article_rows -%}

{%- comment -%} Section {%- endcomment -%}
<section
	id="blog-module-{{ section.id }}"
	class="blogModule container-wrap"
	data-section-id="{{ section.id }}"
	data-section-type="featured-blog"
	data-blog-container>
	{%- unless title == blank and text == blank -%}
		<div class="page-title{% if title == blank and text == blank %} page-title--no-text{% endif %}">
			<div class="container">
				{%- if title != blank -%}
					<h2>{{ title }}</h2>
				{%- endif -%}
				{%- if text != blank -%}
					<p>{{ text }}</p>
				{%- endif -%}
			</div>
		</div>
	{%- endunless -%}

	<div class="blogModule-posts__wrapper">
		<div class="blogModule-posts blogModule-posts--horizontal" data-blog-posts>
			{%- if section.settings.blog == blank -%}
				{%- for i in (1..articles_count) -%}
					{%- render 'blog-post', blog: blog, article: article, article_columns: article_columns, index: forloop.index, onboarding: true -%}
				{%- endfor -%}
			{%- else -%}
				{%- for article in blog.articles limit: articles_count -%}
					{%- render 'blog-post', blog: blog, article: article, article_columns: article_columns, index: forloop.index, onboarding: false -%}
				{%- endfor -%}
			{%- endif -%}
		</div>
	</div>

	{%- if cta != blank -%}
		<div class="row row-med u-center button-wrapper">
			<a href="{{ blog_link }}" class="button button--{{ section.settings.button_style }}">{{ cta }}</a>
		</div>
	{%- endif -%}
</section>

{% comment %} Schema {% endcomment %}
{% schema %}
	{
		"name": "Blog posts",
		"class": "shopify-section--featured-blog",
		"settings": [
			{
				"type": "header",
				"content": "Content"
			},
			{
				"type": "blog",
				"id": "blog",
				"label": "Blog"
			},
			{
				"type": "text",
				"id": "heading",
				"label": "Heading"
			},
			{
				"type": "textarea",
				"id": "text",
				"label": "Text"
			},
			{
				"type": "text",
				"id": "cta",
				"label": "Button label",
				"default": "View all posts",
				"info": "Links to blog"
			},
			{
				"type": "select",
				"id": "button_style",
				"label": "Button style",
				"default": "primary",
				"options": [
					{ "label": "Primary", "value": "primary" },
					{ "label": "Secondary", "value": "secondary" }
				]
			},
			{
				"type": "header",
				"content": "Settings"
			},
			{
				"type": "checkbox",
				"id": "tags",
				"label": "Show tags",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "author",
				"label": "Show author",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "date",
				"label": "Show date",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "show_comments",
				"label": "Show comment count",
				"default": true
			},
			{
				"type": "range",
				"id": "image_aspect_ratio",
				"label": "Image aspect ratio",
				"min": 0.5,
				"max": 1.5,
				"step": 0.1,
				"unit": ":1",
				"default": 1
			},
			{
				"type": "range",
				"id": "article_rows",
				"label": "Posts rows",
				"default": 1,
				"min": 1,
				"max": 4,
				"step": 1
			},
			{
				"type": "range",
				"id": "article_columns",
				"label": "Posts per row",
				"default":4,
				"min":2,
				"max":5,
				"step":1
			}
		],
		"presets": [
			{
				"category": "Blog",
				"name": "Blog posts",
				"settings": {
					"blog": "news",
					"heading": "News"
				}
			}
		]
	}
{% endschema %}
