{% assign ss = section.settings %}

<div class="section--inner section--{{ section.id }} flex f-wrap f-a-center" data-lazy data-bg="{{ ss.background_image | img_url: '1920x' }};">
  
  <div class="content-area">

    {% if ss.title != blank %}
      <{{ ss.title_tag }} class="h2">{{ ss.title }}</{{ ss.title_tag }}>
    {% endif %}

    {% if ss.content != blank %}
      <div class="rte">
        {{ ss.content }}
      </div>
    {% endif %} 

    {% if ss.cta_text != blank %}
      <a href="{{ ss.cta_url }}" class="cta" target="_blank" rel="noopener">
        {{ ss.cta_text }}
      </a>
    {% endif %}

  </div>

  <div class="reviews-area">
    
    <ul class="keen-slider flex" data-keen-slider='{
      "slidesPerView": 2,
      "arrows": true,
      "loop": false,
      "appendArrows": ".section--{{ section.id }} .custom-arrows",
      "responsive": [
        {
          "breakpoint": "950px",
          "settings": {
            "slidesPerView": 1
          }
        },
        {
          "breakpoint": "834px",
          "settings": {
            "arrows": false,
            "slidesPerView": 1.4,
            "loop": true
          }
        }
      ]
    }'>
      
      {% for block in section.blocks %}
        <li class="flex">
          
          <blockquote>
            
            <p class="review">
              {{ block.settings.title }}
            </p>

            <p class="review-by">
              {{ block.settings.review_by }}
            </p>

          </blockquote>


        </li>
      {% endfor %}

    </ul>

    <div class="custom-arrows"></div>

  </div>


</div>


{% schema %}
{
    "name":"Reviews",
    "class": "homepage-section ffc--reviews",
    "settings":[
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
         "type": "select",
         "id": "title_tag",
         "default": "h1",
         "options": [
            { "value": "h1", "label": "h1"},
            { "value": "h2", "label": "h2"},
            { "value": "h3", "label": "h3"},
            { "value": "h4", "label": "h4"},
            { "value": "h5", "label": "h5"},
            { "value": "h6", "label": "h6"}
         ],
         "label": "Title Tag"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      }
    ],
    "blocks":[
      {
        "name":"Review",
        "type":"review",
        "settings":[
          {
            "type":"textarea",
            "id":"title",
            "label":"Review"
          },
          {
            "type":"textarea",
            "id":"review_by",
            "label":"Review By"
          }
        ]
      }
    ],
    "presets":[
        {
            "category":"Homepage",
            "name":"FFC Reviews"
        }
    ]
}
{% endschema %}
