{% assign ss = section.settings %}

  <div class="section-header flex f-j-between f-a-center">
    
      <div class="left-area">
        
        {% if ss.title != blank %}
          <{{ ss.title_tag }} class="h2">{{ ss.title }}</{{ ss.title_tag }}>
        {% endif %}

        {% if ss.content != blank %}
          <div class="rte rte--l">
            {{ ss.content }}
          </div>
        {% endif %}

      </div>

      <div class="right-area desktop-only">
        
        {% if ss.button_text != blank %}
          <a {% if ss.button_url != blank %}href="{{ ss.button_url }}"{% endif %} class="btn btn--{{ ss.button_type }}">
            {{ ss.button_text }}
          </a>
        {% endif %}

      </div>

  </div>

  <ul class="product-grid flex f-grid" data-keen-slider='{
    "id": "slider{{ section.id }}",
    "mode": "snap",
    "slidesPerView": 3,
    "rangeSlider": "rangeSlider{{ section.id }}",
    "responsive": [
      {
        "breakpoint": "834px",
        "settings": {
          "slidesPerView": 2.3
        }
      },
      {
        "breakpoint": "550px",
        "settings": {
          "slidesPerView": 1.3
        }
      }
    ]
  }'>

    {% assign product_count = 0 %}
    
    {% for product in collections[ss.collection].products limit: ss.limit %}
      <li>
        {% include 'product-grid-item' %}
      </li>

      {% assign product_count = product_count | plus: 1 %}
    {% endfor %}


    {% for block in section.blocks limit: ss.limit %}
      {% assign product = all_products[block.settings.product] %}

      {% if product == blank %}
        {% continue %}
      {% endif %}
      <li>
        {% include 'product-grid-item' %}
      </li>

      {% assign product_count = product_count | plus: 1 %}
    {% endfor %}

  </ul>

  <div class="range-slider">
    <div data-range-slider='{
      "id": "rangeSlider{{ section.id }}",
      "start": [0],
      "padding": [1, 0],
      "step": 1,
      "connect": [true, false],
      "range": {
        "min": [0],
        "max": [{{ product_count | minus: 2 }}]
      },
      "callComponent": "slider{{ section.id }}",
      "callMethod": "goToSlide",
      "minus": 1,
      "responsive": [
        {
          "breakpoint": "834px",
          "settings": {
            "range": {
              "min": [0],
              "max": [{{ product_count }}]
            }
          }
        }
      ]
    }'></div>
  </div>

  <div class="button-area tablet-only">
    
    {% if ss.button_text != blank %}
      <a {% if ss.button_url != blank %}href="{{ ss.button_url }}"{% endif %} class="btn btn--{{ ss.button_type }}">
        {{ ss.button_text }}
      </a>
    {% endif %}

  </div>

{% schema %}
{
    "name":"Featured Products Slider",
    "class": "homepage-section ffc--featured-products wrapper",
    "settings":[
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
         "type": "select",
         "id": "title_tag",
         "default": "h1",
         "options": [
            { "value": "h1", "label": "h1"},
            { "value": "h2", "label": "h2"},
            { "value": "h3", "label": "h3"},
            { "value": "h4", "label": "h4"},
            { "value": "h5", "label": "h5"},
            { "value": "h6", "label": "h6"}
         ],
         "label": "Title Tag"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
         "type": "select",
         "id": "button_type",
         "default": "primary",
         "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "third", "label": "Third"}
         ],
         "label": "Button Type"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Limit",
        "default": 12
      }
    ],
    "blocks":[
      {
        "name":"Product",
        "type":"product",
        "settings":[
          {
            "type":"product",
            "id":"product",
            "label":"Product"
          }
        ]
      }
    ],
    "presets":[
        {
            "category":"Homepage",
            "name":"FFC Featured Products"
        }
    ]
}
{% endschema %}
