{% assign ss = section.settings %}

{% if ss.enabled and request.path != '/challenge' %}
  
<div class="ffc--newsletter-bar" data-newsletter-bar data-lazy data-bg="{{ ss.background_image | img_url: '1920x' }}">
  
  <div class="wrapper">
    

    <div class="flex f-j-between f-a-center">
      
      <div class="left-area flex f-grid--m--desktop f-grid--xs-hybrid--tablet  f-a-center">
        
        <div class="image-area">
          <img data-lazy data-src="{{ ss.image | img_url: '74x' }}" data-srcset="{{ ss.image | img_url: '74x' }} 1x, {{ ss.image | img_url: '74x', scale: 2 }} 2x" alt="{{ ss.image.alt | default: ss.title }}">
        </div>

        <div class="logo-area">
          {% if settings.logo_svg_url != blank %}
            <img src="{{ settings.logo_svg_url }}" alt="{{ shop.name }}">
          {% elsif settings.logo_png_url != blank %}
            <img data-lazy data-src="{{ settings.logo_png_url | img_url: '85x' }}" data-srcset="{{ settings.logo_png_url | img_url: '85x' }}, {{ settings.logo_png_url | img_url: '85x' }} scale: 2" alt="{{ shop.name }}">
          {% endif %}
        </div>

        <h5 class="h4">{{ ss.title }}</h5>

      </div>


      <div class="right-area flex f-a-center">
        
        {% render 'newsletter-form', source: 'Sticky Bottom Bar', show_checkbox: false %}

        <a href="#" data-close class="close-button">
          <img data-lazy data-src="{{ 'icon-close-circle.svg' | asset_url }}" alt="Hide Newsletter Bar">
        </a>

      </div>

    </div>

  </div>

</div>
{% endif %}

{% schema %}
{
  "name":"Newsletter Bar",
  "settings":[
    {
      "type":"checkbox",
      "id":"enabled",
      "label":"Enabled"
    },
    {
      "type":"image_picker",
      "id":"background_image",
      "label":"Background Image"
    },
    {
      "type":"image_picker",
      "id":"image",
      "label":"Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks":[
  
  ],
  "presets":[
     
  ]
}
{% endschema %}
