{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- assign meta_obj = product.metafields.custom_fields -%}
{% assign pack_size = meta_obj.pack_size | default: 1 | plus: 0 %}


{% assign ss = section.settings %}


  
<div class="product-page" style="
  --product-primary: {{ meta_obj.primary_colour | default: "#009baa" }};
  --product-secondary: {{ meta_obj.secondary_colour | default: "#e5f5f7" }};
  --product-third: {{ meta_obj.third_colour | default: "#f2fafb" }};
">

  {% if template == 'product.quickview' %}
    <div class="product-top-area flex f-wrap">
      {% include 'product-quickview--left-area' %}
      {% include 'product-quickview--right-area' %}
    </div>
  {% else %}

    <div class="product-top-area flex f-wrap wrapper f-a-start" data-product>
      
      {% include 'product--left-area' %}
      {% include 'product--right-area' %}

      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>

      <script type="application/json" data-extra-product-json>
        {
          "pack_size": {{ pack_size | default: 1 | plus: 0 | json }},
          "variants": [
            {% for variant in product.variants %}
            {
              "id": {{ variant.id | json }},
              "inventory_quantity": {{ variant.inventory_quantity | json }},
              "inventory_management": {{ variant.inventory_management | json }},
              "inventory_policy": {{ variant.inventory_policy | json }}
            }{% unless forloop.last %},{% endunless %}
            {% endfor %}
          ]  
        }
      </script>

    </div>

    {% if meta_obj.ingredients != blank %}
      {% include 'product--ingredients' %}
    {% endif %}

    {% for block in meta_obj.image_and_text_block %}
      {% include 'product--image-and-text' %}
    {% endfor %}

    {% for block in section.blocks %}
      {% if block.type == 'promo-item' or block.type == 'accordion-item' %}
        {% continue %}
      {% endif %}

      {% capture snippetName %}landing-block--{{ block.type }}{% endcapture %}
      {% assign bs = block.settings %}

      {% if bs.tag != blank %}
        {% unless product.tags contains bs.tag %}
          {% continue %}
        {% endunless %}
      {% endif %}

      {% if block.type == 'related-products' and meta_obj.related_products == blank and bs.fallback == blank %}
        {% continue %}
      {% endif %}


      <div class="landing-block {{ snippetName }} {{ bs.display_on }}" {{ block.shopify_attributes }} {% if bs.id != blank %}id="{{ bs.id }}_hash"{% endif %}>
        {% include snippetName %}
      </div>
    {% endfor %}

  {% endif %}

</div>

{% schema %}
{
  "name":"Product",
  "settings":[
    {
      "type": "text",
      "id": "ingredients_title",
      "label": "Ingredients Title",
      "default": "Ingredients"
    },
    {
      "type": "text",
      "id": "micronutrients_title",
      "label": "Micronutrients Title",
      "default": "Micronutrients"
    },
    {
      "type": "text",
      "id": "nutrients_title",
      "label": "Nutrients Title",
      "default": "Nutrients"
    },
    {
      "type": "text",
      "id": "nutrients_accordion_title",
      "label": "Nutrients Accordion Title",
      "default": "Nutrients"
    },
    {
      "type": "text",
      "id": "find_a_stockist_title",
      "label": "Find a Stockist Title",
      "default": "Find a stockist"
    },
    {
      "type": "richtext",
      "id": "find_a_stockist_content",
      "label": "Find a Stockist Content",
      "default": "<p>We stock this at over X stores, enter your postcode to find this veg pot near you!</p>"
    },
    {
      "type": "text",
      "id": "table_per_header",
      "label": "Table Per Column",
      "default": "Per Bol (450g)"
    }
  ],
  "blocks":[
    {
      "name":"Accordion Item",
      "type":"accordion-item",
      "settings":[
        {
          "type":"text",
          "id":"tag",
          "label":"Limit to tag"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
          "type":"text",
          "id":"metafield",
          "label":"Metafield Key to use"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"Content"
        }
      ]   
    }, 
    { 
      "name":"Promo Item",
      "type":"promo-item",
      "settings":[
        {
          "type":"text",
          "id":"tag",
          "label":"Limit to tag"
        },
        {
          "type":"textarea",
          "id":"icon_svg",
          "label":"Icon SVG Code"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"Content"
        },
        {
          "type":"text",
          "id":"link_title",
          "label":"Link Title"
        },
        {
          "type":"url",
          "id":"link_url",
          "label":"Link URL"
        }
      ]
    },
    {
      "name":"Block -- Related Products",
      "type":"related-products",
      "settings":[
        {
           "type": "select",
           "id": "display_on",
           "options": [
              { "value": "", "label": "Both"},
              { "value": "mobile-only", "label": "Mobile Only"},
              { "value": "desktop-only", "label": "Desktop Only"}
           ],
           "label": "Display on"
        },
        {
          "type":"text",
          "id":"tag",
          "label":"Limit to tag"
        },
        {
          "type":"collection",
          "id":"fallback",
          "label":"Fallback Collection"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        }
      ]
    },
    {
      "name":"Block -- Stockist Search",
      "type":"stockist-search",
      "settings":[
        {
           "type": "select",
           "id": "display_on",
           "options": [
              { "value": "", "label": "Both"},
              { "value": "mobile-only", "label": "Mobile Only"},
              { "value": "desktop-only", "label": "Desktop Only"}
           ],
           "label": "Display on"
        },
        {
          "type":"text",
          "id":"tag",
          "label":"Limit to tag"
        },
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Colour"
        },
        {
           "type": "select",
           "id": "title_tag",
           "default": "h1",
           "options": [
              { "value": "h1", "label": "h1"},
              { "value": "h2", "label": "h2"},
              { "value": "h3", "label": "h3"},
              { "value": "h4", "label": "h4"},
              { "value": "h5", "label": "h5"},
              { "value": "h6", "label": "h6"}
           ],
           "label": "Title Tag"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}

