{% assign ss = section.settings %}



<div class="section--inner" style="--background-color: {{ ss.background_color }}; --text-color: {{ ss.text_color }};">

  <div class="wrapper">
    
    <div class="flex f-wrap">
      
      <div class="content-area">

        {% if ss.top_title != blank %}
          <p class="top-title">{{ ss.top_title }}</p>
        {% endif %}

        {% if ss.title != blank %}
          <{{ ss.title_tag }} class="h1">
            <a href="{{ ss.button_url }}">{{ ss.title }}</a>
          </{{ ss.title_tag }}>
        {% endif %}

        {% if ss.content != blank %}
          <div class="rte">
            {{ ss.content }}
          </div>
        {% endif %}

        {% assign has_availablility = false %}

        {% for block in section.blocks %}
          {% if block.type == 'availability' %}
            {% assign has_availablility = true %}
          {% endif %}
        {% endfor %}

        {% if has_availablility %}
          <ul class="flex f-grid--m--desktop f-grid--xs--tablet f-a-center icon-grid">

            <li>
              <span>{{ 'products.labels.availability' | t }}:</span>
            </li>
            
            {% for block in section.blocks %}
              {% if block.type != 'availability' %}
                {% continue %}
              {% endif %}
              <li class="flex f-a-center">
                <img data-lazy data-src="{{ block.settings.icon_url }}" alt="{{ block.settings.title | strip_html }}">
                <p>
                  {{ block.settings.title }}
                </p>
              </li>
            {% endfor %}

          </ul>
        {% endif %}

        {% if ss.button_text != blank %}
          <a {% if ss.button_url != blank %}href="{{ ss.button_url }}"{% endif %} class="btn btn--{{ ss.button_type }}">
            {{ ss.button_text }}
          </a>
        {% endif %}

      </div>

      <a href="{{ ss.button_url }}" class="image-area">
        {% render 'picture-element', image: ss.image, image_mobile: ss.image_mobile, size: '1000x', alt: ss.title  %}
      </a>

      <div class="feature-area">
        
        <ul>
          
          {% for block in section.blocks %}
            {% if block.type != 'feature' %}
              {% continue %}
            {% endif %}
            <li class="flex f-a-center">
              {% include 'icon-curly-arrow' %}
              <img data-lazy data-src="{{ block.settings.icon_url }}" alt="{{ block.settings.title | strip_html }}">
              <p>
                {{ block.settings.title }}
              </p>
            </li>
          {% endfor %}

        </ul>

      </div>


    </div>

  </div>

</div>


{% schema %}
{
    "name":"Product Feature",
    "class": "homepage-section ffc--product-feature",
    "settings":[
      {
        "type":"image_picker",
        "id":"image",
        "label":"Image"
      },
      {
        "type":"image_picker",
        "id":"image_mobile",
        "label":"Image (Mobile)"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Colour"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Colour"
      },
      {
        "type": "text",
        "id": "top_title",
        "label": "Top Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
         "type": "select",
         "id": "title_tag",
         "default": "h1",
         "options": [
            { "value": "h1", "label": "h1"},
            { "value": "h2", "label": "h2"},
            { "value": "h3", "label": "h3"},
            { "value": "h4", "label": "h4"},
            { "value": "h5", "label": "h5"},
            { "value": "h6", "label": "h6"}
         ],
         "label": "Title Tag"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }
    ],
    "blocks":[
      {
        "name":"Availability",
        "type":"availability",
        "settings":[
          {
            "type":"textarea",
            "id":"icon_url",
            "label":"Icon URL"
          },
          {
            "type":"textarea",
            "id":"title",
            "label":"Title"
          }
        ]
      },
      {
        "name":"Feature",
        "type":"feature",
        "settings":[
          {
            "type":"textarea",
            "id":"icon_url",
            "label":"Icon URL"
          },
          {
            "type":"textarea",
            "id":"title",
            "label":"Title"
          }
        ]
      }
    ],
    "presets":[
        {
            "category":"Homepage",
            "name":"FFC Product Feature"
        }
    ]
}
{% endschema %}
