{% assign ss = section.settings %}

<div class="section--inner section--{{ section.id }}" data-lazy data-bg="{{ ss.background_image | img_url: '1920x' }};" style="--title-color: {{ ss.title_color }};">
  
  <div class="wrapper">
    
    <div class="content-area">

      {% if ss.title != blank %}
        <{{ ss.title_tag }} class="h3">{{ ss.title }}</{{ ss.title_tag }}>
      {% endif %}

      {% if ss.content != blank %}
        <div class="rte rte--xl">
          {{ ss.content }}
        </div>
      {% endif %} 


      <form action="/pages/{{ settings.store_locator_page }}" method="GET">
        
        <input type="text" required name="bh-sl-address" placeholder="Enter your postcode...">

        <button type="submit">
          <img data-lazy data-src="{{ 'icon-pin.svg' | asset_url }}" alt="Search">
        </button>

      </form>

      

    </div>

  </div>


</div>


{% schema %}
{
    "name":"Stockist Search",
    "class": "homepage-section ffc--stockist-search",
    "settings":[
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Colour"
      },
      {
         "type": "select",
         "id": "title_tag",
         "default": "h1",
         "options": [
            { "value": "h1", "label": "h1"},
            { "value": "h2", "label": "h2"},
            { "value": "h3", "label": "h3"},
            { "value": "h4", "label": "h4"},
            { "value": "h5", "label": "h5"},
            { "value": "h6", "label": "h6"}
         ],
         "label": "Title Tag"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }
    ],
    "blocks":[
    ],
    "presets":[
        {
            "category":"Homepage",
            "name":"FFC Stockist Search"
        }
    ]
}
{% endschema %}
