{% assign main_menu = menus[settings.footer_menu] %}
{% assign ss = section.settings %}


<div class="wrapper">
  
  <div class="footer-flex flex f-grid">
    
    <div class="logo-area">
      
      <a href="/">
        {% if ss.logo_svg != blank %}
            <img data-lazy data-src="{{ ss.logo_svg }}" alt="[{ shop.name | strip_html }}">
        {% else %}
          <img data-lazy data-src="{{ ss.logo | img_url: '150x' }}" data-srcset="{{ ss.logo | img_url: '150x' }} 1x, {{ ss.logo | img_url: '150x', scale: 2 }} 2x" alt="[{ shop.name | strip_html }}">
        {% endif %}
        
      </a>

      {% include 'social-links' %}

      <p class="copy">
        &copy; {{ shop.name }} {{ 'now' | date: "%Y" }}
      </p>

      <p class="credit">
        Designed and developed on Shopify by <a href="http://fullfatcommerce.com/" rel="noopener" target="_blank">Full Fat Commerce</a>
      </p>

    </div>


    <div class="menu-area">
      
      {% for link in main_menu.links %}
        <div class="footer-block">
          
          <h6>{{ link.title }}</h6>

          <ul>
            {% for link in link.links %}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>

        </div>
      {% endfor %}

    </div>


    <div class="content-area">
      
      {% for block in section.blocks %}
        <div class="footer-block">
          <h6>{{ block.settings.title }}</h6>

          <div class="rte rte">
            {{ block.settings.content }}
          </div>
        </div>
      {% endfor %}

    </div>


    <div class="form-area">
      
      <div class="footer-block">
        
        <h6>{{ ss.newsletter_title }}</h6>

        {% render 'newsletter-form', source: 'Footer', show_checkbox: true %}

      </div>

    </div>


  </div>

</div>


{% schema %}
{
  "name":"Footer",
  "class": "ffc--site-footer",
  "tag": "footer",
  "settings":[
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "textarea",
      "id": "logo_svg",
      "label": "Logo SVG URL"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title"
    },
    {
      "type": "richtext",
      "id": "newsletter_content",
      "label": "Newsletter Content"
    },
    {
      "type": "richtext",
      "id": "newsletter_checkbox",
      "label": "Newsletter Checkbox Label"
    }
  ],
  "blocks":[
     {
       "type": "content-block",
       "name": "Content Block",
       "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Title"
         },
         {
           "type": "richtext",
           "id": "content",
           "label": "Content"
         }
       ]
     }
  ]
}
{% endschema %}