{% for block in section.blocks %}
  {% capture snippetName %}landing-block--{{ block.type }}{% endcapture %} 
  {% assign bs = block.settings %}
  <div class="landing-block {{ snippetName }}" {{ block.shopify_attributes }} {% if bs.id != blank %}id="{{ bs.id }}_hash"{% endif %}>
    {% include snippetName %}
  </div>
{% endfor %}

{% schema %}
{
  "name":"Our Story",
  "class": "about-page",
  "settings":[
  ],
  "blocks": [
    {
      "name":"Hero",
      "type":"hero",
      "settings":[
        {
           "type": "select",
           "id": "display_on",
           "options": [
              { "value": "", "label": "Both"},
              { "value": "mobile-only", "label": "Mobile Only"},
              { "value": "desktop-only", "label": "Desktop Only"}
           ],
           "label": "Display on"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type":"image_picker",
          "id":"image_mobile",
          "label":"Image (mobile)"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
          "type":"color",
          "id":"title_color",
          "label":"Title Colour"
        },
        {
           "type": "select",
           "id": "title_tag",
           "default": "h1",
           "options": [
              { "value": "h1", "label": "h1"},
              { "value": "h2", "label": "h2"},
              { "value": "h3", "label": "h3"},
              { "value": "h4", "label": "h4"},
              { "value": "h5", "label": "h5"},
              { "value": "h6", "label": "h6"}
           ],
           "label": "Title Tag"
        },
        {
          "type":"image_picker",
          "id":"signature_image",
          "label":"Signature Image"
        },
        {
          "type":"text",
          "id":"signature_by",
          "label":"Signature By"
        }
      ]
    },
    {
      "name":"Accordion",
      "type":"accordion",
      "settings":[
        {
           "type": "select",
           "id": "display_on",
           "options": [
              { "value": "", "label": "Both"},
              { "value": "mobile-only", "label": "Mobile Only"},
              { "value": "desktop-only", "label": "Desktop Only"}
           ],
           "label": "Display on"
        },
        {
          "type":"textarea",
          "id":"top_icon",
          "label":"Top Icon URL"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
          "type":"color",
          "id":"primary_color",
          "label":"Primary Colour"
        },
        {
          "type":"color",
          "id":"secondary_color",
          "label":"Secondary Colour"
        },
        {
           "type": "select",
           "id": "title_tag",
           "default": "h1",
           "options": [
              { "value": "h1", "label": "h1"},
              { "value": "h2", "label": "h2"},
              { "value": "h3", "label": "h3"},
              { "value": "h4", "label": "h4"},
              { "value": "h5", "label": "h5"},
              { "value": "h6", "label": "h6"}
           ],
           "label": "Title Tag"
        },
        {
          "type":"text",
          "id":"item_1_title",
          "label":"Item 1 Title"
        },
        {
          "type":"text",
          "id":"item_1_icon",
          "label":"Item 1 Icon"
        },
        {
          "type":"richtext",
          "id":"item_1_content",
          "label":"Item 1 Content"
        },
        {
          "type":"text",
          "id":"item_2_title",
          "label":"Item 2 Title"
        },
        {
          "type":"text",
          "id":"item_2_icon",
          "label":"Item 2 Icon"
        },
        {
          "type":"richtext",
          "id":"item_2_content",
          "label":"Item 2 Content"
        },
        {
          "type":"text",
          "id":"item_3_title",
          "label":"Item 3 Title"
        },
        {
          "type":"text",
          "id":"item_3_icon",
          "label":"Item 3 Icon"
        },
        {
          "type":"richtext",
          "id":"item_3_content",
          "label":"Item 3 Content"
        },
        {
          "type":"text",
          "id":"item_4_title",
          "label":"Item 4 Title"
        },
        {
          "type":"text",
          "id":"item_4_icon",
          "label":"Item 4 Icon"
        },
        {
          "type":"richtext",
          "id":"item_4_content",
          "label":"Item 4 Content"
        },
        {
          "type":"text",
          "id":"item_5_title",
          "label":"Item 5 Title"
        },
        {
          "type":"text",
          "id":"item_5_icon",
          "label":"Item 5 Icon"
        },
        {
          "type":"richtext",
          "id":"item_5_content",
          "label":"Item 5 Content"
        },
        {
          "type":"text",
          "id":"item_6_title",
          "label":"Item 6 Title"
        },
        {
          "type":"text",
          "id":"item_6_icon",
          "label":"Item 6 Icon"
        },
        {
          "type":"richtext",
          "id":"item_6_content",
          "label":"Item 6 Content"
        }
      ]
    },
    {
      "name":"Product Grid",
      "type":"product-grid",
      "settings":[
        {
           "type": "select",
           "id": "display_on",
           "options": [
              { "value": "", "label": "Both"},
              { "value": "mobile-only", "label": "Mobile Only"},
              { "value": "desktop-only", "label": "Desktop Only"}
           ],
           "label": "Display on"
        },
        {
           "type": "select",
           "id": "mobile_grid_style",
           "options": [
              { "value": "stacked", "label": "Stacked"},
              { "value": "slider", "label": "Slider"}
           ],
           "label": "Mobile Grid Style"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
           "type": "select",
           "id": "title_tag",
           "default": "h1",
           "options": [
              { "value": "h1", "label": "h1"},
              { "value": "h2", "label": "h2"},
              { "value": "h3", "label": "h3"},
              { "value": "h4", "label": "h4"},
              { "value": "h5", "label": "h5"},
              { "value": "h6", "label": "h6"}
           ],
           "label": "Title Tag"
        },
        {
           "type": "select",
           "id": "title_size",
           "default": "h2",
           "options": [
              { "value": "h1", "label": "h1"},
              { "value": "h2", "label": "h2"},
              { "value": "h3", "label": "h3"},
              { "value": "h4", "label": "h4"},
              { "value": "h5", "label": "h5"},
              { "value": "h6", "label": "h6"}
           ],
           "label": "Title Size"
        },
        {
          "type":"color",
          "id":"title_color",
          "label":"Title Colour"
        },
        {
          "type":"collection",
          "id":"collection",
          "label":"Collection"
        },
        {
          "type":"number",
          "id":"limit",
          "label":"Product Limit"
        }
      ]
    },
    {
      "name":"CTA & Slider",
      "type":"cta-with-slider",
      "settings":[
        {
           "type": "select",
           "id": "display_on",
           "options": [
              { "value": "", "label": "Both"},
              { "value": "mobile-only", "label": "Mobile Only"},
              { "value": "desktop-only", "label": "Desktop Only"}
           ],
           "label": "Display on"
        },
        {
          "type":"color",
          "id":"background",
          "label":"Background Colour"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
           "type": "select",
           "id": "title_tag",
           "default": "h1",
           "options": [
              { "value": "h1", "label": "h1"},
              { "value": "h2", "label": "h2"},
              { "value": "h3", "label": "h3"},
              { "value": "h4", "label": "h4"},
              { "value": "h5", "label": "h5"},
              { "value": "h6", "label": "h6"}
           ],
           "label": "Title Tag"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"Content"
        },
        {
          "type":"text",
          "id":"cta_title",
          "label":"CTA Title"
        },
        {
          "type":"url",
          "id":"cta_url",
          "label":"CTA URL"
        },
        {
          "type":"textarea",
          "id":"slide_1_icon",
          "label":"Slide 1 Icon"
        },
        {
          "type":"text",
          "id":"slide_1_title",
          "label":"Slide 1 Title"
        },
        {
          "type":"richtext",
          "id":"slide_1_content",
          "label":"Slide 1 Content"
        },
        {
          "type":"textarea",
          "id":"slide_2_icon",
          "label":"Slide 2 Icon"
        },
        {
          "type":"text",
          "id":"slide_2_title",
          "label":"Slide 2 Title"
        },
        {
          "type":"richtext",
          "id":"slide_2_content",
          "label":"Slide 2 Content"
        },
        {
          "type":"textarea",
          "id":"slide_3_icon",
          "label":"Slide 3 Icon"
        },
        {
          "type":"text",
          "id":"slide_3_title",
          "label":"Slide 3 Title"
        },
        {
          "type":"richtext",
          "id":"slide_3_content",
          "label":"Slide 3 Content"
        }
      ]
    },
    {
      "name":"Image & Text",
      "type":"image-and-text",
      "settings":[
        {
           "type": "select",
           "id": "display_on",
           "options": [
              { "value": "", "label": "Both"},
              { "value": "mobile-only", "label": "Mobile Only"},
              { "value": "desktop-only", "label": "Desktop Only"}
           ],
           "label": "Display on"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type":"image_picker",
          "id":"image_mobile",
          "label":"Image (Mobile)"
        },
        {
           "type": "select",
           "id": "image_side",
           "default": "left",
           "options": [
              { "value": "left", "label": "Left"},
              { "value": "right", "label": "Right"}
           ],
           "label": "Image Side"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
           "type": "select",
           "id": "title_tag",
           "default": "h1",
           "options": [
              { "value": "h1", "label": "h1"},
              { "value": "h2", "label": "h2"},
              { "value": "h3", "label": "h3"},
              { "value": "h4", "label": "h4"},
              { "value": "h5", "label": "h5"},
              { "value": "h6", "label": "h6"}
           ],
           "label": "Title Tag"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"Content"
        },
        {
          "type":"text",
          "id":"cta_title",
          "label":"CTA Title"
        },
        {
          "type":"url",
          "id":"cta_url",
          "label":"CTA URL"
        }
      ]
    },
    {
      "name":"Image & Text 2",
      "type":"image-and-text-2",
      "settings":[
        {
           "type": "select",
           "id": "display_on",
           "options": [
              { "value": "", "label": "Both"},
              { "value": "mobile-only", "label": "Mobile Only"},
              { "value": "desktop-only", "label": "Desktop Only"}
           ],
           "label": "Display on"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type":"image_picker",
          "id":"image_mobile",
          "label":"Image (Mobile)"
        },
        {
          "type":"image_picker",
          "id":"image_2",
          "label":"Secondary Image"
        },
        {
          "type":"image_picker",
          "id":"image_2_mobile",
          "label":"Secondary Image (Mobile)"
        },
        {
           "type": "select",
           "id": "image_side",
           "default": "left",
           "options": [
              { "value": "left", "label": "Left"},
              { "value": "right", "label": "Right"}
           ],
           "label": "Image Side"
        },
        {
          "type":"text",
          "id":"background_icon_1",
          "label":"Background Icon 1"
        },
        {
          "type":"text",
          "id":"background_icon_2",
          "label":"Background Icon 2"
        },
        {
          "type":"text",
          "id":"title_icon",
          "label":"Title Icon"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
          "type":"checkbox",
          "id":"rotated_title",
          "label":"Rotated Title"
        },
        {
          "type":"color",
          "id":"primary_color",
          "label":"Primary Colour"
        },
        {
           "type": "select",
           "id": "title_tag",
           "default": "h1",
           "options": [
              { "value": "h1", "label": "h1"},
              { "value": "h2", "label": "h2"},
              { "value": "h3", "label": "h3"},
              { "value": "h4", "label": "h4"},
              { "value": "h5", "label": "h5"},
              { "value": "h6", "label": "h6"}
           ],
           "label": "Title Tag"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"Content"
        },
        {
          "type":"checkbox",
          "id":"large_content",
          "label":"Large Content"
        },
        {
          "type":"text",
          "id":"cta_title",
          "label":"CTA Title"
        },
        {
          "type":"url",
          "id":"cta_url",
          "label":"CTA URL"
        }
      ]
    },
    {
      "name":"Full Width Image",
      "type":"image",
      "settings":[
        {
           "type": "select",
           "id": "display_on",
           "options": [
              { "value": "", "label": "Both"},
              { "value": "mobile-only", "label": "Mobile Only"},
              { "value": "desktop-only", "label": "Desktop Only"}
           ],
           "label": "Display on"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type":"image_picker",
          "id":"image_mobile",
          "label":"Image (Mobile)"
        }
      ]
    },
    {
      "name":"Meet the team",
      "type":"meet-the-team",
      "settings":[
        {
           "type": "select",
           "id": "display_on",
           "options": [
              { "value": "", "label": "Both"},
              { "value": "mobile-only", "label": "Mobile Only"},
              { "value": "desktop-only", "label": "Desktop Only"}
           ],
           "label": "Display on"
        },
        {
          "type":"color",
          "id":"primary_color",
          "label":"Primary Colour"
        },
        {
          "type":"text",
          "id":"range_icon",
          "label":"Range Slider Icon"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
           "type": "select",
           "id": "title_tag",
           "default": "h1",
           "options": [
              { "value": "h1", "label": "h1"},
              { "value": "h2", "label": "h2"},
              { "value": "h3", "label": "h3"},
              { "value": "h4", "label": "h4"},
              { "value": "h5", "label": "h5"},
              { "value": "h6", "label": "h6"}
           ],
           "label": "Title Tag"
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"Content"
        },
        {
          "type":"text",
          "id":"cta_title",
          "label":"CTA Title"
        },
        {
          "type":"url",
          "id":"cta_url",
          "label":"CTA URL"
        },
        {
          "type":"textarea",
          "id":"person_1_job",
          "label":"Person 1 Job"
        },
        {
          "type":"text",
          "id":"person_1_title",
          "label":"Person 1 Title"
        },
        {
          "type":"image_picker",
          "id":"person_1_image",
          "label":"Person 1 Image"
        },
        {
          "type":"textarea",
          "id":"person_2_job",
          "label":"Person 2 Job"
        },
        {
          "type":"text",
          "id":"person_2_title",
          "label":"Person 2 Title"
        },
        {
          "type":"image_picker",
          "id":"person_2_image",
          "label":"Person 2 Image"
        },
        {
          "type":"textarea",
          "id":"person_3_job",
          "label":"Person 3 Job"
        },
        {
          "type":"text",
          "id":"person_3_title",
          "label":"Person 3 Title"
        },
        {
          "type":"image_picker",
          "id":"person_3_image",
          "label":"Person 3 Image"
        },
        {
          "type":"textarea",
          "id":"person_4_job",
          "label":"Person 4 Job"
        },
        {
          "type":"text",
          "id":"person_4_title",
          "label":"Person 4 Title"
        },
        {
          "type":"image_picker",
          "id":"person_4_image",
          "label":"Person 4 Image"
        },
        {
          "type":"textarea",
          "id":"person_5_job",
          "label":"Person 5 Job"
        },
        {
          "type":"text",
          "id":"person_5_title",
          "label":"Person 5 Title"
        },
        {
          "type":"image_picker",
          "id":"person_5_image",
          "label":"Person 5 Image"
        },
        {
          "type":"textarea",
          "id":"person_6_job",
          "label":"Person 6 Job"
        },
        {
          "type":"text",
          "id":"person_6_title",
          "label":"Person 6 Title"
        },
        {
          "type":"image_picker",
          "id":"person_6_image",
          "label":"Person 6 Image"
        },
        {
          "type":"textarea",
          "id":"person_7_job",
          "label":"Person 7 Job"
        },
        {
          "type":"text",
          "id":"person_7_title",
          "label":"Person 7 Title"
        },
        {
          "type":"image_picker",
          "id":"person_7_image",
          "label":"Person 7 Image"
        },
        {
          "type":"textarea",
          "id":"person_8_job",
          "label":"Person 8 Job"
        },
        {
          "type":"text",
          "id":"person_8_title",
          "label":"Person 8 Title"
        },
        {
          "type":"image_picker",
          "id":"person_8_image",
          "label":"Person 8 Image"
        },
        {
          "type":"textarea",
          "id":"person_9_job",
          "label":"Person 9 Job"
        },
        {
          "type":"text",
          "id":"person_9_title",
          "label":"Person 9 Title"
        },
        {
          "type":"image_picker",
          "id":"person_9_image",
          "label":"Person 9 Image"
        },
        {
          "type":"textarea",
          "id":"person_10_job",
          "label":"Person 10 Job"
        },
        {
          "type":"text",
          "id":"person_10_title",
          "label":"Person 10 Title"
        },
        {
          "type":"image_picker",
          "id":"person_10_image",
          "label":"Person 10 Image"
        },
        {
          "type":"textarea",
          "id":"person_11_job",
          "label":"Person 11 Job"
        },
        {
          "type":"text",
          "id":"person_11_title",
          "label":"Person 11 Title"
        },
        {
          "type":"image_picker",
          "id":"person_11_image",
          "label":"Person 11 Image"
        },
        {
          "type":"textarea",
          "id":"person_12_job",
          "label":"Person 12 Job"
        },
        {
          "type":"text",
          "id":"person_12_title",
          "label":"Person 12 Title"
        },
        {
          "type":"image_picker",
          "id":"person_12_image",
          "label":"Person 12 Image"
        },
        {
          "type":"textarea",
          "id":"person_13_job",
          "label":"Person 13 Job"
        },
        {
          "type":"text",
          "id":"person_13_title",
          "label":"Person 13 Title"
        },
        {
          "type":"image_picker",
          "id":"person_13_image",
          "label":"Person 13 Image"
        },
        {
          "type":"textarea",
          "id":"person_14_job",
          "label":"Person 14 Job"
        },
        {
          "type":"text",
          "id":"person_14_title",
          "label":"Person 14 Title"
        },
        {
          "type":"image_picker",
          "id":"person_14_image",
          "label":"Person 14 Image"
        },
        {
          "type":"textarea",
          "id":"person_15_job",
          "label":"Person 15 Job"
        },
        {
          "type":"text",
          "id":"person_15_title",
          "label":"Person 15 Title"
        },
        {
          "type":"image_picker",
          "id":"person_15_image",
          "label":"Person 15 Image"
        },
        {
          "type":"textarea",
          "id":"person_16_job",
          "label":"Person 16 Job"
        },
        {
          "type":"text",
          "id":"person_16_title",
          "label":"Person 16 Title"
        },
        {
          "type":"image_picker",
          "id":"person_16_image",
          "label":"Person 16 Image"
        },

        {
          "type":"textarea",
          "id":"person_17_job",
          "label":"Person 17 Job"
        },
        {
          "type":"text",
          "id":"person_17_title",
          "label":"Person 17 Title"
        },
        {
          "type":"image_picker",
          "id":"person_17_image",
          "label":"Person 17 Image"
        },

        {
          "type":"textarea",
          "id":"person_18_job",
          "label":"Person 18 Job"
        },
        {
          "type":"text",
          "id":"person_18_title",
          "label":"Person 18 Title"
        },
        {
          "type":"image_picker",
          "id":"person_18_image",
          "label":"Person 18 Image"
        },
        {
          "type":"textarea",
          "id":"person_19_job",
          "label":"Person 19 Job"
        },
        {
          "type":"text",
          "id":"person_19_title",
          "label":"Person 19 Title"
        },
        {
          "type":"image_picker",
          "id":"person_19_image",
          "label":"Person 19 Image"
        },
        {
          "type":"textarea",
          "id":"person_20_job",
          "label":"Person 20 Job"
        },
        {
          "type":"text",
          "id":"person_20_title",
          "label":"Person 20 Title"
        },
        {
          "type":"image_picker",
          "id":"person_20_image",
          "label":"Person 20 Image"
        },
        {
          "type":"textarea",
          "id":"person_21_job",
          "label":"Person 21 Job"
        },
        {
          "type":"text",
          "id":"person_21_title",
          "label":"Person 21 Title"
        },
        {
          "type":"image_picker",
          "id":"person_21_image",
          "label":"Person 21 Image"
        },
        {
          "type":"textarea",
          "id":"person_22_job",
          "label":"Person 22 Job"
        },
        {
          "type":"text",
          "id":"person_22_title",
          "label":"Person 22 Title"
        },
        {
          "type":"image_picker",
          "id":"person_22_image",
          "label":"Person 22 Image"
        },
        {
          "type":"textarea",
          "id":"person_23_job",
          "label":"Person 23 Job"
        },
        {
          "type":"text",
          "id":"person_23_title",
          "label":"Person 23 Title"
        },
        {
          "type":"image_picker",
          "id":"person_23_image",
          "label":"Person 23 Image"
        },
        {
          "type":"textarea",
          "id":"person_24_job",
          "label":"Person 24 Job"
        },
        {
          "type":"text",
          "id":"person_24_title",
          "label":"Person 24 Title"
        },
        {
          "type":"image_picker",
          "id":"person_24_image",
          "label":"Person 24 Image"
        },
        {
          "type":"textarea",
          "id":"person_25_job",
          "label":"Person 25 Job"
        },
        {
          "type":"text",
          "id":"person_25_title",
          "label":"Person 25 Title"
        },
        {
          "type":"image_picker",
          "id":"person_25_image",
          "label":"Person 25 Image"
        },
        {
          "type":"textarea",
          "id":"person_26_job",
          "label":"Person 26 Job"
        },
        {
          "type":"text",
          "id":"person_26_title",
          "label":"Person 26 Title"
        },
        {
          "type":"image_picker",
          "id":"person_26_image",
          "label":"Person 26 Image"
        },
        {
          "type":"textarea",
          "id":"person_27_job",
          "label":"Person 27 Job"
        },
        {
          "type":"text",
          "id":"person_27_title",
          "label":"Person 27 Title"
        },
        {
          "type":"image_picker",
          "id":"person_27_image",
          "label":"Person 27 Image"
        },
        {
          "type":"textarea",
          "id":"person_28_job",
          "label":"Person 28 Job"
        },
        {
          "type":"text",
          "id":"person_28_title",
          "label":"Person 28 Title"
        },
        {
          "type":"image_picker",
          "id":"person_28_image",
          "label":"Person 28 Image"
        },
        {
          "type":"textarea",
          "id":"person_29_job",
          "label":"Person 29 Job"
        },
        {
          "type":"text",
          "id":"person_29_title",
          "label":"Person 29 Title"
        }, 
        {
          "type":"image_picker",
          "id":"person_29_image",
          "label":"Person 29 Image"
        },
        {
          "type":"textarea",
          "id":"person_30_job",
          "label":"Person 30 Job"
        },
        {
          "type":"text",
          "id":"person_30_title",
          "label":"Person 30 Title"
        },
        {
          "type":"image_picker",
          "id":"person_30_image",
          "label":"Person 30 Image"
        }
      ]
    }
  ]
}
{% endschema %}
