{% assign main_menu = menus[settings.main_menu] %}
{% assign ss = section.settings %}

<div class="header-outer" data-mega-menus data-header-height>
  <div class="header-inner flex f-j-between f-a-center" >

    <div class="left-mobile-area small-desktop-only">
      <button class="burger-menu-container" data-class-change='[
          {
            "method": "toggle",
            "on": "click",
            "target": ".mobile-nav",
            "class": "open"
          },
          {
            "method": "toggle",
            "on": "click",
            "target": ".burger-menu-container",
            "class": "active"
          },
          {
            "target": ".search-dropdown",
            "class": "open",
            "method": "remove",
            "on": "click"
          }
        ]' 
        data-lock-scroll='
          [
              {
                  "target": ".mobile-nav",
                  "method": "toggleScroll",
                  "preventDefault": true,
                  "on": "click"
              }
          ]
        '>
        <div class="burger-menu-inner">
          <span></span>
        </div>
      </button>
    </div>
   

    <div class="logo-area">
      
      <a href="{{ shop.url }}">
        {% if settings.logo_svg_url != blank %}
          <img src="{{ settings.logo_svg_url }}" alt="{{ shop.name }}">
        {% elsif settings.logo_png_url != blank %}
          <img src="{{ settings.logo_png_url | img_url: '85x' }}" srcset="{{ settings.logo_png_url | img_url: '85x' }}, {{ settings.logo_png_url | img_url: '85x' }} scale: 2" alt="{{ shop.name }}">
        {% endif %}
      </a>

    </div>

    <nav class="middle-nav-area big-desktop-only">
      
      <ul class="flex f-grid--l">
        
        {% for link in main_menu.links %}
          <li>
            <a href="{{ link.url }}" class="nav-item flex f-a-center" {% if link.links != blank %}data-nav-item{% endif %}>
              <span class="flex f-a-center">
              {{ link.title }}
                {% if link.links != blank %}
                  {% include 'icon-arrow-down' %}
                {% endif %}
              </span>
            </a>
            {% if link.links != blank %}
              {% include 'mega-menu' %}
            {% endif %}
          </li>
        {% endfor %}

      </ul>

    </nav>

    <nav class="right-nav-area flex f-j-end f-a-center">

      <ul class="trigger-nav flex f-a-center">
        <li>
          <a href="#" class="search-trigger flex f-a-center" data-class-change='[
            {
              "target": ".search-dropdown",
              "class": "open",
              "method": "add",
              "on": "click",
              "preventDefault": true
            },
            {
              "method": "remove",
              "on": "click",
              "target": ".mobile-nav",
              "class": "open",
              "preventDefault": true
            },
            {
              "method": "remove",
              "on": "click", 
              "target": ".burger-menu-container",
              "class": "active",
              "preventDefault": true
            },
            {
              "target": ".side-cart",
              "class": "shown",
              "method": "remove",
              "on": "click",
              "preventDefault": true
            }, 
            {
              "target": ".cart-trigger",
              "class": "active",
              "method": "remove",
              "on": "click",
              "preventDefault": true
            },
            {
              "target": ".collection--filters",
              "class": "open",
              "method": "remove",
              "on": "click",
              "preventDefault": true
            },
            {
              "target": ".site-header .header-outer",
              "class": "search-open",
              "method": "add",
              "on": "click"
            }
        ]'

        data-lock-scroll='
          [
            {
              "target": ".search-dropdown",
              "method": "lockScroll",
              "on": "click"
            }
          ]'

        data-focus-on='[
          {
            "target": ".search-dropdown [data-ajax-search-input]",
            "on": "click",
            "waitFor": 500
          }
        ]'
          >
            <img src="{{ 'icon-search.svg' | asset_url }}" alt="Search">
          </a>
        </li>

        <li class="big-desktop-only">
          <a href="/account" class="account-trigger flex f-a-center">
            <img src="{{ 'icon-user.svg' | asset_url }}" alt="Search">
          </a>
        </li>

        <li> 
          <a href="/cart" data-cart-mount class="cart-trigger js-cartToggle" aria-expanded="false" aria-label="{{ 'general.accessibility.cart' | t }}" >
            <img src="{{ 'icon-cart.svg' | asset_url }}" alt="Search">
            <span rv-text="data.cart.displayCount" rv-class-shown="data.cart.displayCount | gt 0"></span>
          </a>
        </li>
      </ul>

    </nav>

  </div> 
  
</div>

{% include 'search-dropdown' %}
{% include 'mobile-nav' %}

{%- unless template == 'cart' -%}
  <div class="cart-drawer">
  {%- render 'site-cart' -%}
  </div>
{%- endunless -%}

  <div id="CartPopoverCont" class="js-cartToggle header-cartPopover"></div>

<script id="CartPopover" type="text/x-template">
  <div class="popover-inner">
    <div class="popover-item-heading h3">{% raw %}{{ it.product_title }}{% endraw %} {{ 'cart.labels.items_added' | t }}</div>
    {% raw %}
    <div class="popover-item-thumb lazyload" data-sizes="auto" data-bgset="{{ it.img }}"></div>
    <div class="popover-item-info">
      <span class="popover-item-title">{{ it.product_title }}</span>
      {{ @if (it.variation) }}
        <span class="popover-item-variant">{{ it.variation }}</span>
      {{ /if}}

      {{ @if (it.selling_plan_name) }}
        <span class="popover-item-selling-plan">{{ it.selling_plan_name }}</span>
      {{ /if}}

        <span class="popover-item-price">{{* it.price_formatted }}</span>

      {{ @if (it.unit_price) }}
        <span class="popover-item-unit-price">{{* it.unit_price }}</span>
      {{ /if}}
    </div>
    {% endraw %}
  </div>
</script>

{% schema %}
{
  "name":"Header",
  "class": "ffc--site-header",
  "tag": "header",
  "settings":[
  ],
  "blocks":[
     {
       "type": "mega-menu-block",
       "name": "Mega Menu Block",
       "settings": [
         {
           "type": "text",
           "id": "show_under",
           "label": "Header to show under"
         },
         {
           "type": "color",
           "id": "background_color",
           "label": "Background Colour"
         },
         {
           "type": "color",
           "id": "text_color",
           "label": "Text Colour"
         },
         {
           "type": "textarea",
           "id": "icon_url",
           "label": "Icon URL"
         },
         {
           "type": "text",
           "id": "title",
           "label": "Title"
         },
         {
           "type": "richtext",
           "id": "content",
           "label": "Content"
         },
         {
           "type": "text",
           "id": "button_title",
           "label": "CTA Title"
         },
         {
           "type": "url",
           "id": "button_url",
           "label": "CTA URL"
         }
       ]
     }
  ]
}
{% endschema %}