{% assign ss = section.settings %}

<div class="collection-page" style="
  --page-primary: {{ ss.primary_color }};
  --page-secondary: {{ ss.secondary_color }};
  --page-third: {{ ss.third_color }};
 ">
  
  {% include 'collection--hero' %}

  {% for block in section.blocks %}
   
    {% capture snippetName %}landing-block--{{ block.type }}{% endcapture %}
    {% assign bs = block.settings %}

    <div class="landing-block {{ snippetName }} {{ bs.display_on }}" {{ block.shopify_attributes }} {% if bs.id != blank %}id="{{ bs.id }}_hash"{% endif %}>
      {% include snippetName %}
    </div>
  {% endfor %}

</div>

{% schema %}
{
    "name":"Collection",
    "settings":[
      {
        "type": "color",
        "id": "primary_color",
        "label": "Primary Colour"
      },
      {
        "type": "color",
        "id": "secondary_color",
        "label": "Secondary Colour"
      },
      {
        "type": "color",
        "id": "third_color",
        "label": "Third Colour"
      },
      {
        "type": "checkbox",
        "id": "available_online",
        "label": "Available Online"
      },
      {
        "type": "checkbox",
        "id": "available_instore",
        "label": "Available Instore"
      },
      {
        "type": "checkbox",
        "id": "available_soon",
        "label": "Available Soon"
      },
      {
        "type": "richtext",
        "id": "subtext",
        "label": "Subtext"
      },
      {
        "type": "text",
        "id": "feature_1_icon",
        "label": "Feature 1 Icon UR/SVGL"
      },
      {
        "type": "text",
        "id": "feature_1_title",
        "label": "Feature 1 Title"
      },
      {
        "type": "text",
        "id": "feature_2_icon",
        "label": "Feature 2 Icon URL/SVG"
      },
      {
        "type": "text",
        "id": "feature_2_title",
        "label": "Feature 2 Title"
      },
      {
        "type": "text",
        "id": "feature_3_icon",
        "label": "Feature 3 Icon URL/SVG"
      },
      {
        "type": "text",
        "id": "feature_3_title",
        "label": "Feature 3 Title"
      }
    ],
    "blocks":[
      {
        "name":"Block -- Icon Bar",
        "type":"icon-bar",
        "settings":[
          {
             "type": "select",
             "id": "display_on",
             "options": [
                { "value": "", "label": "Both"},
                { "value": "mobile-only", "label": "Mobile Only"},
                { "value": "desktop-only", "label": "Desktop Only"}
             ],
             "label": "Display on"
          },
          {
            "type":"textarea",
            "id":"icon_url",
            "label":"Icon URL"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          },
          {
             "type": "select",
             "id": "title_tag",
             "default": "h1",
             "options": [
                { "value": "h1", "label": "h1"},
                { "value": "h2", "label": "h2"},
                { "value": "h3", "label": "h3"},
                { "value": "h4", "label": "h4"},
                { "value": "h5", "label": "h5"},
                { "value": "h6", "label": "h6"}
             ],
             "label": "Title Tag"
          },
          {
            "type":"richtext",
            "id":"content",
            "label":"Content"
          },
          {
            "type":"text",
            "id":"cta_title",
            "label":"CTA Title"
          },
          {
            "type":"url",
            "id":"cta_url",
            "label":"CTA URL"
          }
        ]
      },
      {
        "name":"Block -- Product Grid",
        "type":"product-grid",
        "settings":[
          {
             "type": "select",
             "id": "display_on",
             "options": [
                { "value": "", "label": "Both"},
                { "value": "mobile-only", "label": "Mobile Only"},
                { "value": "desktop-only", "label": "Desktop Only"}
             ],
             "label": "Display on"
          },
          {
             "type": "select",
             "id": "mobile_grid_style",
             "options": [
                { "value": "stacked", "label": "Stacked"},
                { "value": "slider", "label": "Slider"}
             ],
             "label": "Mobile Grid Style"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          },
          {
             "type": "select",
             "id": "title_tag",
             "default": "h1",
             "options": [
                { "value": "h1", "label": "h1"},
                { "value": "h2", "label": "h2"},
                { "value": "h3", "label": "h3"},
                { "value": "h4", "label": "h4"},
                { "value": "h5", "label": "h5"},
                { "value": "h6", "label": "h6"}
             ],
             "label": "Title Tag"
          },
          {
             "type": "select",
             "id": "title_size",
             "default": "h2",
             "options": [
                { "value": "h1", "label": "h1"},
                { "value": "h2", "label": "h2"},
                { "value": "h3", "label": "h3"},
                { "value": "h4", "label": "h4"},
                { "value": "h5", "label": "h5"},
                { "value": "h6", "label": "h6"}
             ],
             "label": "Title Size"
          },
          {
            "type":"color",
            "id":"title_color",
            "label":"Title Colour"
          },
          {
            "type":"collection",
            "id":"collection",
            "label":"Collection"
          },
          {
            "type":"number",
            "id":"limit",
            "label":"Product Limit"
          }
        ]
      },
      {
        "name":"Block -- CTA & Slider",
        "type":"cta-with-slider",
        "settings":[
          {
             "type": "select",
             "id": "display_on",
             "options": [
                { "value": "", "label": "Both"},
                { "value": "mobile-only", "label": "Mobile Only"},
                { "value": "desktop-only", "label": "Desktop Only"}
             ],
             "label": "Display on"
          },
          {
            "type":"color",
            "id":"background",
            "label":"Background Colour"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          },
          {
             "type": "select",
             "id": "title_tag",
             "default": "h1",
             "options": [
                { "value": "h1", "label": "h1"},
                { "value": "h2", "label": "h2"},
                { "value": "h3", "label": "h3"},
                { "value": "h4", "label": "h4"},
                { "value": "h5", "label": "h5"},
                { "value": "h6", "label": "h6"}
             ],
             "label": "Title Tag"
          },
          {
            "type":"richtext",
            "id":"content",
            "label":"Content"
          },
          {
            "type":"text",
            "id":"cta_title",
            "label":"CTA Title"
          },
          {
            "type":"url",
            "id":"cta_url",
            "label":"CTA URL"
          },
          {
            "type":"textarea",
            "id":"slide_1_icon",
            "label":"Slide 1 Icon"
          },
          {
            "type":"text",
            "id":"slide_1_title",
            "label":"Slide 1 Title"
          },
          {
            "type":"richtext",
            "id":"slide_1_content",
            "label":"Slide 1 Content"
          },
          {
            "type":"textarea",
            "id":"slide_2_icon",
            "label":"Slide 2 Icon"
          },
          {
            "type":"text",
            "id":"slide_2_title",
            "label":"Slide 2 Title"
          },
          {
            "type":"richtext",
            "id":"slide_2_content",
            "label":"Slide 2 Content"
          },
          {
            "type":"textarea",
            "id":"slide_3_icon",
            "label":"Slide 3 Icon"
          },
          {
            "type":"text",
            "id":"slide_3_title",
            "label":"Slide 3 Title"
          },
          {
            "type":"richtext",
            "id":"slide_3_content",
            "label":"Slide 3 Content"
          }
        ]
      },
      {
        "name":"Block -- Image & Text",
        "type":"image-and-text",
        "settings":[
          {
             "type": "select",
             "id": "display_on",
             "options": [
                { "value": "", "label": "Both"},
                { "value": "mobile-only", "label": "Mobile Only"},
                { "value": "desktop-only", "label": "Desktop Only"}
             ],
             "label": "Display on"
          },
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"image_picker",
            "id":"image_mobile",
            "label":"Image (Mobile)"
          },
          {
             "type": "select",
             "id": "image_side",
             "default": "left",
             "options": [
                { "value": "left", "label": "Left"},
                { "value": "right", "label": "Right"}
             ],
             "label": "Image Side"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          },
          {
             "type": "select",
             "id": "title_tag",
             "default": "h1",
             "options": [
                { "value": "h1", "label": "h1"},
                { "value": "h2", "label": "h2"},
                { "value": "h3", "label": "h3"},
                { "value": "h4", "label": "h4"},
                { "value": "h5", "label": "h5"},
                { "value": "h6", "label": "h6"}
             ],
             "label": "Title Tag"
          },
          {
            "type":"richtext",
            "id":"content",
            "label":"Content"
          },
          {
            "type":"text",
            "id":"cta_title",
            "label":"CTA Title"
          },
          {
            "type":"url",
            "id":"cta_url",
            "label":"CTA URL"
          }
        ]
      },
      {
        "name":"Block -- Full Width Image",
        "type":"image",
        "settings":[
          {
             "type": "select",
             "id": "display_on",
             "options": [
                { "value": "", "label": "Both"},
                { "value": "mobile-only", "label": "Mobile Only"},
                { "value": "desktop-only", "label": "Desktop Only"}
             ],
             "label": "Display on"
          },
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"image_picker",
            "id":"image_mobile",
            "label":"Image (Mobile)"
          }
        ]
      },
      {
        "name":"Block -- Stockist Search",
        "type":"stockist-search",
        "settings":[
          {
             "type": "select",
             "id": "display_on",
             "options": [
                { "value": "", "label": "Both"},
                { "value": "mobile-only", "label": "Mobile Only"},
                { "value": "desktop-only", "label": "Desktop Only"}
             ],
             "label": "Display on"
          },
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Colour"
          },
          {
             "type": "select",
             "id": "title_tag",
             "default": "h1",
             "options": [
                { "value": "h1", "label": "h1"},
                { "value": "h2", "label": "h2"},
                { "value": "h3", "label": "h3"},
                { "value": "h4", "label": "h4"},
                { "value": "h5", "label": "h5"},
                { "value": "h6", "label": "h6"}
             ],
             "label": "Title Tag"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
}
{% endschema %}
