{% assign ss = section.settings %}

  <div class="section-header flex f-j-between f-a-center">
    
      <div class="left-area">
        
        {% if ss.title != blank %}
          <{{ ss.title_tag }} class="h2">{{ ss.title }}</{{ ss.title_tag }}>
        {% endif %}

        {% if ss.content != blank %}
          <div class="rte rte--l">
            {{ ss.content }}
          </div>
        {% endif %}

      </div>

      <div class="right-area">
        
        {% if ss.button_text != blank %}
          <a {% if ss.button_url != blank %}href="{{ ss.button_url }}"{% endif %} class="btn btn--{{ ss.button_type }}">
            {{ ss.button_text }}
          </a>
        {% endif %}

      </div>

  </div>


  <ul class="featured-collection-grid flex f-grid--m f-j-center">

    {% for block in section.blocks %}
      {% assign bs = block.settings %}
      <li class="flex text-center" style="--text-color: {{ bs.text_color }};">

        <div class="flex inner f-d-column">
          
          <a href="{{ bs.url }}" class="image-area">
            {% render 'picture-element', image: bs.image, image_mobile: bs.image_mobile, size: '400x', alt: bs.title, extra_class: 'object-fit--contain'  %}
          </a>

          <div class="info-area flex f-d-column">
            
            <h3 class="h4">
              <a href="{{ bs.url }}">{{ bs.title }}</a>
            </h3>

            <div class="rte rte--s top-content">
              {{ bs.content }}
            </div>

            {% if bs.sub_content != blank %}
              <div class="rte rte--xs sub-content">
                {{ bs.sub_content }}
              </div>
            {% endif %}

            <div class="icon-grid">
              <ul class="flex f-grid--m--desktop f-grid--xs--tablet f-a-center">

                <li>
                  <span>{{ 'products.labels.availability' | t }}:</span>
                </li>

                {% if bs.is_online %}
                  <li class="flex f-a-center">
                    {% include 'icon-online' %}
                    <p>{{ 'products.labels.online' | t }}</p>
                  </li>
                {% endif %}
                
                {% if bs.is_instore %}
                  <li class="flex f-a-center">
                    {% include 'icon-instore' %}
                    <p>{{ 'products.labels.instore' | t }}</p>
                  </li>
                {% endif %}

                {% if bs.is_coming_soon %}
                  <li class="flex f-a-center">
                    <p>{{ 'products.labels.coming_soon' | t }}</p>
                  </li>
                {% endif %}
              </ul>
            </div>

          </div>

          <a href="{{ bs.url }}" class="custom-button">{{ bs.button_title }}</a>

        </div>
        
      </li>
    {% endfor %}

  </ul>

{% schema %}
{
    "name":"Featured Collections",
    "class": "homepage-section ffc--featured-collections wrapper",
    "settings":[
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
         "type": "select",
         "id": "title_tag",
         "default": "h1",
         "options": [
            { "value": "h1", "label": "h1"},
            { "value": "h2", "label": "h2"},
            { "value": "h3", "label": "h3"},
            { "value": "h4", "label": "h4"},
            { "value": "h5", "label": "h5"},
            { "value": "h6", "label": "h6"}
         ],
         "label": "Title Tag"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
         "type": "select",
         "id": "button_type",
         "default": "primary",
         "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "third", "label": "Third"}
         ],
         "label": "Button Type"
      }
    ],
    "blocks":[
      {
        "name":"Collection",
        "type":"collection",
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"image_picker",
            "id":"image_mobile",
            "label":"Image (Mobile)"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "richtext",
            "id": "sub_content",
            "label": "Sub Content"
          },
          {
            "type": "checkbox",
            "id": "is_online",
            "label": "Is Online"
          },
          {
            "type": "checkbox",
            "id": "is_instore",
            "label": "Is Instore"
          },
          {
            "type": "checkbox",
            "id": "is_coming_soon",
            "label": "Is Coming Soon"
          },
          {
            "type": "text",
            "id": "button_title",
            "label": "Button Title"
          }
        ]
      }
    ],
    "presets":[
        {
            "category":"Homepage",
            "name":"FFC Featured Collections"
        }
    ]
}
{% endschema %}
