{% assign ss = section.settings %}


<div class="content-area" style="--background-color: {{ ss.background_color }};">

  <div class="inner">
    
    {% if ss.title != blank %}
      <{{ ss.title_tag }} class="hero-heading">
        <a {% if ss.button_url != blank %}href="{{ ss.button_url }}"{% endif %}>{{ ss.title }}</a>
      </{{ ss.title_tag }}>
    {% endif %} 

    {% if ss.content != blank %}
      <div class="rte rte--l">
        {{ ss.content }}
      </div>
    {% endif %}

    {% if ss.button_text != blank %}
      <a {% if ss.button_url != blank %}href="{{ ss.button_url }}"{% endif %} class="btn btn--{{ ss.button_type }}">
        {{ ss.button_text }}
      </a>
    {% endif %}

    <ul class="flex f-grid--s icon-grid">
      
      {% for block in section.blocks %}
        <li>
          <img data-lazy data-src="{{ block.settings.icon_url }}" alt="{{ block.settings.title | strip_html }}">
          <p>
            {{ block.settings.title }}
          </p>
        </li>
      {% endfor %}

    </ul>

  </div>

</div>

<div class="image-area">
  {% if ss.video_url != blank %}
    <video autoplay loop muted playsinline data-background-video>
      <source data-src="{{ ss.video_url }}" type="video/mp4">
    </video>
  {% else %}
    {% render 'picture-element', image: ss.image, image_mobile: ss.image_mobile, size: '1000x', alt: ss.title, extra_class: 'object-fit--cover'  %}
  {% endif %}
</div>

{% schema %}
{
    "name":"Hero",
    "class": "homepage-section ffc--hero flex f-wrap",
    "settings":[
      {
        "type":"image_picker",
        "id":"image",
        "label":"Image"
      },
      {
        "type":"image_picker",
        "id":"image_mobile",
        "label":"Image (Mobile)"
      },
      {
        "type":"text",
        "id":"video_url",
        "label":"MP4 Video URL"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Colour"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
         "type": "select",
         "id": "title_tag",
         "default": "h1",
         "options": [
            { "value": "h1", "label": "h1"},
            { "value": "h2", "label": "h2"},
            { "value": "h3", "label": "h3"},
            { "value": "h4", "label": "h4"},
            { "value": "h5", "label": "h5"},
            { "value": "h6", "label": "h6"}
         ],
         "label": "Title Tag"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
         "type": "select",
         "id": "button_type",
         "default": "primary",
         "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "third", "label": "Third"}
         ],
         "label": "Button Type"
      }
    ],
    "blocks":[
      {
        "name":"Icon",
        "type":"icon",
        "settings":[
          {
            "type":"textarea",
            "id":"icon_url",
            "label":"Icon URL"
          },
          {
            "type":"textarea",
            "id":"title",
            "label":"Title"
          }
        ]
      }
    ],
    "presets":[
        {
            "category":"Homepage",
            "name":"FFC Hero"
        }
    ]
}
{% endschema %}
