{% assign ss = section.settings %}

  <div class="top-area flex f-d-column f-a-center f-j-center">
    
    <img data-lazy data-src="{{ ss.title_image }}" alt="Blog">
        
    {% if ss.cta_text != blank %}
      <a {% if ss.cta_url != blank %}href="{{ ss.cta_url }}"{% endif %} class="cta">
        {{ ss.cta_text }}
      </a>
    {% endif %}

  </div>
 

  <ul class="article-grid flex f-grid--m">
    
    {% assign blog = blogs[ss.blog] %}
    {% for article in blog.articles limit: ss.limit %}
      <li>
        {% include 'article-grid-item' %}
      </li>
    {% endfor %}


    {% for block in section.blocks limit: ss.limit %}
      {% assign article = articles[block.settings.article] %}

      {% if article == blank %}
        {% continue %}
      {% endif %}
      <li>
        {% include 'article-grid-item' %}
      </li>
    {% endfor %}

  </ul>

{% schema %}
{
    "name":"Featured Articles Slider",
    "class": "homepage-section ffc--featured-articles wrapper",
    "settings":[
      {
        "type": "textarea",
        "id": "title_image",
        "label": "Title Image SVG URL"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Limit",
        "default": 3
      }
    ],
    "blocks":[
      {
        "name":"Article",
        "type":"article",
        "settings":[
          {
            "type":"article",
            "id":"article",
            "label":"Article"
          }
        ]
      }
    ],
    "presets":[
        {
            "category":"Homepage",
            "name":"FFC Featured Articles"
        }
    ]
}
{% endschema %}
