{%- comment -%} Colors {%- endcomment -%}
{%- assign text_color = section.settings.text_color -%}
{%- assign overlay_color = section.settings.overlay_color -%}
{%- assign overlay_opacity = section.settings.overlay_opacity | times: 0.01 | round: 2 -%}

{%- style -%}
	#CollectionModule-{{ section.id }} .collection-block--has-image .collection-block__info { color: {{ text_color }}; }
	#CollectionModule-{{ section.id }} .collection-block--has-image .collection-block__image::after { background-color: {{ overlay_color }}; opacity: {{ overlay_opacity }}; }
{%- endstyle -%}

{%- paginate collections by 12 -%}
<section class="collection-list container-wrap" id="CollectionModule-{{ section.id }}" data-section-type="collection-grid" data-section-id="{{ section.id }}">
	<div class="collection-list__header row row-sm">
		<div class="block s1">
			<h1>{{ 'collections.listing_page.title' | t }}</h1>
		</div>
	</div>

	<div class="collection-list__row row{% if settings.enable_infinity_scroll %} EndlessScroll{% endif %}">
		{%- comment -%} Collection Block, contains .js-quickView {%- endcomment -%}

		{%- for collection in collections -%}
			{%- liquid
				unless collection.image == blank
					assign image = collection.image
				else
					assign image = collection.products.first.featured_media.preview_image
				endunless
			-%}
			{%- render 'collection-grid-item', collection: collection, image: image, image_position: 'center-center', unique: forloop.index0 -%}
		{%- endfor -%}

		{%- comment -%} Spacers for inline-block based collection-list {%- endcomment -%}
		<div class="gridSpacer item block s1 sm_s12 lg_s14"></div>
		<div class="gridSpacer item block s1 sm_s12 lg_s14"></div>

		{%- render 'pagination', paginate: paginate -%}
	</div>
</section>
{%- endpaginate -%}

{%- comment -%} Schema {%- endcomment -%}
{% schema %}
{
	"name": "Collections list",
	"class": "shopify-section--list-collections",
	"settings": [
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "checkbox",
			"id": "show_description",
			"label": "Show descriptions",
			"default": true
		},
		{
			"type": "range",
			"id": "collections_columns",
			"label": "Collections per row",
			"default": 4,
			"min": 2,
			"max": 4,
			"step": 1
		},
		{
			"type": "select",
			"id": "coll_text_position",
			"label": "Collections text position",
			"default": "center",
			"options": [
				{ "label": "Top left", "value": "top_left" },
				{ "label": "Top right", "value": "top_right" },
				{ "label": "Center", "value": "center" },
				{ "label": "Bottom left", "value": "bottom_left" },
				{ "label": "Bottom right", "value": "bottom_right" }
			]
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Button label",
			"default": "View products"
		},
		{
			"type": "select",
			"id": "button_style",
			"label": "Button style",
			"default": "primary",
			"options": [
				{ "label": "Primary", "value": "primary" },
				{ "label": "Secondary", "value": "secondary" }
			]
		},
		{
			"type": "header",
			"content": "Colors",
			"info": "For collection blocks"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "overlay_color",
			"label": "Overlay",
			"default": "#333333"
		},
		{
			"type": "range",
			"id": "overlay_opacity",
			"label": "Overlay opacity",
			"step": 5,
			"max": 95,
			"min": 0,
			"unit": "%",
			"default": 0
		}
	]}
{% endschema %}
