.box-builder {
  padding-top: 32px;
  padding-bottom: 50px;
  position: relative;

  &.loading,
  &:not(.rendered) {
    &:before,
    &:after {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .box-builder-flex {
      opacity: 0;
    }
  }

  &:before {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    background-image: url(liquid("{{ 'icon-loading.svg' | asset_url }}"));
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    animation: rotate 0.5s linear infinite;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s ease, visibility 0.35s ease;
  }

  &:after {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#fff, 0.8);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s ease, visibility 0.35s ease;
    z-index: 1;
    pointer-events: none;
  }

  .box-builder-flex {
    margin: 0 -50px;
    transition: all 0.35s ease;

    > * {
      padding: 0 50px;
    }

    .product-area {
      width: 55%;

      @include tablet {
        width: 100%;
        margin-top: 24px;
      }

      > p {
        margin-bottom: 24px;
        font-size: 18px;

        @include tablet {
          font-weight: 300;
        }
      }

      > ul {
        > li {
          width: calc(100% / 2);
          margin-bottom: 32px;

          @include tablet {
            width: 100%;
          }

          .inner {
            position: relative;

            .add-button {
              position: absolute;
              left: 0;
              top: 0;
              background: none;
              border: 0 none;
              padding: 0;
              border-radius: 0;
              z-index: 1;
              text-transform: none;
            }

            .already-added-flex {
              position: absolute;
              right: 0;
              top: 0;
              z-index: 1;

              button {
                background: transparent;
                padding: 0;
                border: 0 none;
                margin: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                height: 40px;
              }

              .already-added {
                text-transform: none;
                background: $color-primary;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                line-height: 1;
                text-align: center;
                left: auto;
                right: 0;
                font-weight: 400;
                margin: 0 8px;
                padding: 0;

                span {
                  font-size: 14px;
                  display: block;
                }
              }
            }

            .image-area {
              width: 100%;
              cursor: pointer;

              .object-fit--contain {
                padding-bottom: 100%;
              }

              img {
                width: 100%;
              }
            }

            .info-area {
              width: 100%;
              padding-top: $site-spacing;

              .product-title {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 900;

                @include tablet {
                  font-size: 16px;
                }
              }

              .product-more {
                margin-top: 8px;
                text-decoration: underline;
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .summary-area {
      width: 45%;

      @include tablet {
        width: 100%;
      }

      &.main-summary-area {
        @include tablet {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          height: calc(var(--vh) * 100);
          max-height: 100vh;
          max-height: calc(var(--vh) * 100);
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          background: #fff;
          padding: 8px $site-padding--tablet 24px $site-padding--tablet;
          z-index: 98;
          transition: all 0.25s ease;

          &:not(.active) {
            transform: translateY(calc(100% - 75px));
            overflow: hidden;
          }
        }
      }

      .top-area {
        .top-flex {
          h6 {
            margin: 0;
            font-size: 16px;
          }

          p {
            font-size: 14px;
            margin: 0;
          }

          button {
            background: none;
            border: 0 none;
            padding: $site-spacing;
            margin-right: 0 - $site-spacing;
            margin-bottom: 0 - $site-spacing;

            img {
              pointer-events: none;
            }
          }
        }

        .progress-bar {
          margin: 10px -2px 0 -2px;
          li {
            flex-basis: 0;
            flex-grow: 1;
            padding: 0 2px;

            &:first-child {
              span {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
              }
            }

            &:last-child {
              span {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
              }
            }

            span {
              height: 10px;
              display: block;
              background: #e9e9e9;
              transition: all 0.35s ease;

              &.active {
                background: $color-third;
              }
            }
          }
        }
      }

      > h2 {
        color: $color-third;
        margin-bottom: 16px;
      }

      .box-switcher {
        > p {
          font-size: 12px;
          font-weight: 600;
          margin: 0;
          display: block;
          text-transform: uppercase;
        }

        ul {
          li {
            margin-top: 8px;
            margin-bottom: 8px;

            @include mobile {
              width: 50%;
            }

            a {
              background: #fff;
              border: 1px solid rgba(0, 0, 0, 0.1);
              padding: 7px 15px;
              min-width: 170px;
              display: flex;
              justify-content: center;
              font-size: 14px;
              font-weight: 600;
              text-align: center;
              border-radius: 10px;
              cursor: pointer;
              position: relative;
              transition: all 0.25s ease;

              @include tablet {
                padding: 7px;
                min-width: 0;
              }

              @include mobile {
                width: 100%;
              }

              &.active {
                border: 2px solid $color-third;
              }
            }
          }
        }
      }

      .price-area {
        margin-bottom: 16px;
        border-bottom: 1px solid $color-border;
        padding-bottom: 20px;
        margin-top: 0;

        @include tablet {
          margin-bottom: $site-spacing;
        }

        .product-prices {
          margin: 0;
          line-height: 1.2;
          margin-right: 24px;

          @include tablet {
            margin-right: 6px;
          }

          span {
            font-size: 32px;

            &.from {
              margin-right: 5px;
              font-size: 26px;
            }

            @include tablet {
              font-size: 24px;
            }
          }

          .compare-at-price {
            text-decoration: line-through;
            opacity: 0.2;
            margin-left: 10px;
          }
        }
        .pack-info {
          margin: 0;
          font-weight: 300;
          font-size: 14px;
          opacity: 0.7;

          span {
            font-weight: 500;
          }
        }

        .subtext {
          font-weight: 300;
          opacity: 0.8;
          font-size: 14px;
          margin-top: 10px;
        }
      }

      .box-slots {
        margin-top: 32px;

        @include tablet {
          margin-top: 44px;
        }

        li {
          width: calc(100% / 3);
          margin-bottom: 24px;

          @include tablet {
            width: calc(100% / 2);
            margin-bottom: $site-padding--tablet;
          }

          .inner {
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
            position: relative;
            padding: 16px;
            border-radius: 3px;

            .image-area {
              width: 100%;
              padding-bottom: 70%;
            }

            .remove-button {
              background: none;
              border: 0 none;
              position: absolute;
              top: 0;
              right: 0;
              transform: translate(50%, -50%);
              padding: 0;
              line-height: 0;

              @include tablet {
                top: 10px;
                right: 10px;
              }

              img {
                width: 32px;
                height: 32px;
              }
            }
          }
        }
      }

      .product-atc-flex {
        margin-top: $site-spacing;

        &:not(.shown) {
          display: none;
        }

        li {
          @include tablet {
            width: 100%;
          }
          &:last-child {
            flex-grow: 1;
            padding-top: 26px;

            @include tablet {
              margin-top: 16px;
              padding-top: 0;
            }

            .btn {
              width: 100%;
            }
          }

          .quantity-selector-container {
            .quantity-selector {
              width: 100%;

              input {
                @include tablet {
                  width: auto;
                  flex-grow: 1;
                }
              }
            }
          }

          .under-atc-content {
            margin-top: 8px;
            text-align: center;
          }

          .accordion {
            margin-top: 16px;

            .accordion-item {
              .accordion-header {
              }

              .accordion-content {
                .rte {
                  padding-left: 8px;
                  padding-right: 8px;
                }
              }
            }
          }
        }
      }

      .error {
        color: red;
        display: block;
        margin-top: $site-spacing;
        font-weight: 300;
      }

      .description {
        margin-top: $site-spacing;
        font-weight: 300;
        opacity: 0.8;
      }
    }
  }
}
