.dynamic-cart-banner-slider {
  &.hide-on-scroll {
    @include desktop {
      transition: max-height ease 0.3s;
      overflow: hidden;
      max-height: 100px;
    }
  }
  &.hide-on-scroll-mobiles {
    @include tablet {
      transition: max-height ease 0.3s;
      overflow: hidden;
      max-height: 100px;
    }
  }

  .slick-dots {
    position: absolute;
    justify-content: center;
    bottom: 6px;

    li {
      button {
        background: #fff;
      }
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-arrow {
    &:before {
      background-image: url(liquid("{{ 'icon-slider--alternate.svg' | asset_url }}"));
    }

    &.slick-prev {
      left: 10px;

      @include tablet {
        left: 0;
      }
    }

    &.slick-next {
      left: auto;
      right: 10px;

      @include tablet {
        right: 0;
      }
    }
  }

  &.slick-dotted {
    .dynamic-cart-banner {
      padding-bottom: 15px;
    }
  }

  .dynamic-cart-banner {
    text-align: center;
    padding: 8px;
    min-height: 30px;
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: -1px;
    height: auto;

    @include tablet {
      padding: 8px 8px;
    }

    p {
      margin: 0;
      font-size: 14px;
      -webkit-text-size-adjust: none;

      @include tablet {
        line-height: 1.2;
      }

      .countdown-timer {
        display: inline-flex;
      }
    }
  }
}
