.ffc--featured-collections {
  @include tablet {
    margin-bottom: 32px;
  }

  .featured-collection-grid {
    > li {
      width: calc(100% / 3);
      margin-bottom: 35px;
      padding-top: 100px;

      @include media('<=1280px') {
        width: calc(100% / 2);
      }

      @include tablet {
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }

      > .inner {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
        background: #fff;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%;

        .image-area {
          padding: 0 $site-spacing;
          width: 100%;
          transform: translateY(-100px);
          margin-bottom: -100px;

          .picture-element-wrapper {
            padding-bottom: 50%;
          }
        }

        .info-area {
          padding: 24px $site-spacing 0 $site-spacing;
          width: 100%;
          flex-grow: 1;

          .h4 {
            margin-top: 0;
            margin-bottom: 0;
          }

          .top-content {
            margin-top: $site-spacing;
            margin-bottom: 25px;
          }

          .sub-content {
            margin-bottom: 10px;
          }

          .icon-grid {
            border-top: 1px solid rgba(#1e1f1d, 0.1);
            margin-top: auto;
            padding: $site-spacing 0;

            > .flex {
              min-height: 32px;
            }

            span {
              font-size: 12px;
              font-weight: 400;
            }

            img,
            svg {
              margin-right: 10px;
              width: 32px;
              height: 32px;

              circle {
                fill: var(--text-color);
              }
            }

            p {
              font-size: 14px;
              font-weight: 900;
              text-transform: uppercase;
              margin: 0;
            }
          }
        }

        .custom-button {
          width: 100%;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
          color: #fff;
          display: block;
          font-size: 14px;
          letter-spacing: 0.8px;
          font-weight: 900;
          padding: 11.5px;
          background: var(--text-color);
          text-transform: uppercase;
          min-height: 30px;

          &:empty {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
