.ffc--featured-articles {
  .top-area {
    text-align: center;

    img {
      @include tablet {
        width: 200px;
      }
    }

    .cta {
      margin-top: 24px;
    }
  }

  .article-grid {
    margin-top: 40px;

    > li {
      width: calc(100% / 3);
      display: flex;

      @include tablet {
        width: 100%;

        + li {
          margin-top: 24px;
        }
      }

      > * {
        width: 100%;
      }
    }
  }
}
