.ffc--featured-products {
  overflow: hidden;
  padding-bottom: 15px;

  .product-grid {
    overflow: visible;

    &[data-scroll-slider] {
      overflow: hidden;
      flex-wrap: nowrap;

      > div {
        display: flex !important;
        padding: 0 !important;
      }

      li {
        width: calc(100% / 3);
        min-width: calc(100% / 3);
        transition: opacity 0.35s ease;

        &:not(.active) {
          opacity: 0.2;
        }

        @include tablet {
          width: calc(100% / 1.3);
          min-width: calc(100% / 1.3);
        }
      }
    }

    .product-grid-item {
      margin-bottom: 15px;
    }

    .keen-slider__slide {
      opacity: 0.2;
      transition: opacity 0.35s ease;

      @include tablet {
        opacity: 1;
      }

      &.active {
        opacity: 1;
        + li,
        + li + li {
          opacity: 1;
        }
      }
    }
  }

  .range-slider {
    max-width: 600px;
    margin: 14px auto 0 auto;
  }

  .button-area {
    @include tablet {
      margin-top: 40px;

      .btn {
        width: 100%;
      }
    }
  }
}
