.ffc--hero {
  .content-area {
    width: 50%;
    padding: 80px 25px 30px $site-padding;
    background: var(--background-color);

    @include smallDesktop {
      padding-left: $site-padding--small;
    }

    @include tablet {
      width: 100%;
      padding: 30px $site-padding--tablet 8px $site-padding--tablet;
    }

    .inner {
      max-width: 650px;
    }

    .hero-heading {
      line-height: 1.15;
    }

    .rte {
      margin-top: 25px;

      @include tablet {
        margin-top: $site-spacing * 0.5;
      }
    }

    .btn {
      margin-top: 30px;

      @include tablet {
        margin-top: 24px;
        width: 100%;
      }
    }

    .icon-grid {
      margin-top: 70px;
      width: calc(100% - 50px);

      @include tablet {
        margin-top: $site-spacing * 2;
        width: 100%;
        justify-content: center;
      }

      li {
        text-align: center;
        width: 25%;
        margin-bottom: 24px;

        @include smallDesktop {
          width: 50%;
        }

        img {
          width: 100%;
          max-width: 60px;
          margin: 0 auto;
          display: block;
        }

        p {
          text-align: center;
          font-weight: 500;
          max-width: 110px;
          margin: 16px auto 0 auto;
          font-size: 14px;
        }
      }
    }
  }

  .image-area {
    width: 50%;
    display: flex;

    @include tablet {
      width: 100%;
      order: -1;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &::-webkit-media-controls-panel {
        display: none !important;
        opacity: 1 !important;
      }
    }

    .picture-element-wrapper {
      width: 100%;
      height: auto;
    }
  }
}
