.homepage-section {
  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 40px;
  }

  .section-header {
    margin-bottom: $site-spacing * 2;

    @include tablet {
      flex-wrap: wrap;
      margin-bottom: 24px;

      .left-area {
        width: 100%;
        text-align: center;
      }

      .right-area {
        width: 100%;

        .btn {
          width: 100%;
          margin-top: 24px;
        }
      }
    }

    .h2 {
      margin-bottom: 0;
    }

    .rte {
      margin-top: $site-spacing;

      @include tablet {
        margin-top: $site-spacing * 0.5;
      }
    }
  }
}
