.ffc--newsletter-bar {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  padding: 5px 0;
  transition: all 0.35s ease;

  @include tablet {
    padding-bottom: 14px;
  }

  &:not(.shown) {
    transform: translateY(100%);
  }

  > .wrapper > .flex {
    @include tablet {
      flex-wrap: wrap;
    }
  }

  .left-area {
    flex-wrap: nowrap;

    @include tablet {
      width: 100%;
      flex-wrap: nowrap;
    }

    .image-area {
      line-height: 0;
      img {
        height: 81px;

        @include tablet {
          height: 55px;
        }
      }
    }

    .logo-area {
      line-height: 0;

      img {
        height: 64px;
        @include tablet {
          height: 52px;
        }
      }
    }

    h5 {
      color: $color-secondary;
      border-left: 1px solid $color-content;
      padding-left: 24px;
      margin: 0;
      margin-left: 12px;
      min-height: 40px;
      display: flex;
      align-items: center;

      @include tablet {
        font-size: $size-h6;
      }
    }
  }

  .right-area {
    @include tablet {
      width: 100%;
      margin-top: 8px;
    }

    form {
      margin: 0;
      width: 100%;

      .input-flex {
        input {
          background: #fff;
          padding: 10px 24px;
          border-radius: 9px;
          color: $color-primary;
          border: 0 none;
          font-weight: 300;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border: 1px solid rgba(0, 0, 0, 0.1);
          flex-grow: 1;

          &::placeholder {
            font-weight: 300;
            opacity: 0.4;
            color: inherit;
          }
        }

        button {
          background: #000;
          color: #fff;
          border-color: #000;
          font-weight: 900;
          padding: 13px $site-spacing;
          border-radius: 9px;
          white-space: nowrap;
          font-size: 14px;
          margin: 0;

          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          @include tablet {
            padding-top: 11px;
            padding-bottom: 11px;
          }
        }
      }
    }

    .close-button {
      margin-left: $site-spacing * 2;

      @include tablet {
        position: absolute;
        top: 10px;
        right: $site-padding--tablet;
      }
    }
  }
}
