.ffc--product-feature {
  margin-bottom: 55px;

  .section--inner {
    padding: $site-spacing 0;
    background: var(--background-color);

    @include tablet {
      background: transparent;
    }

    > .wrapper {
      @include tablet {
        padding: 0;
      }
    }

    .content-area {
      width: calc(100% / 3);
      padding-top: 60px;

      @include tablet {
        width: 100%;
        background: var(--background-color);
        padding-left: $site-padding--tablet;
        padding-right: $site-padding--tablet;
        text-align: center;
        padding-top: 40px;
      }

      .top-title,
      .h1 {
        color: var(--text-color);
      }

      .top-title {
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 900;
      }

      .h1 {
        margin-top: $site-spacing;
        line-height: 1.3;
      }

      .rte {
        margin-top: 24px;
      }

      .icon-grid {
        margin-top: 32px;

        @include tablet {
          justify-content: center;
        }

        span {
          font-size: 12px;
          font-weight: 400;
        }

        img,
        svg {
          margin-right: 10px;
          width: 32px;
          height: 32px;
        }

        p {
          font-size: 14px;
          font-weight: 900;
          text-transform: uppercase;
          margin: 0;
        }
      }

      .btn {
        margin-top: 40px;
        background: var(--text-color);
        color: #fff;
        border-color: var(--text-color);

        @include tablet {
          width: 100%;
        }

        &:hover {
          background: #000;
          border-color: #000;
        }
      }
    }

    .image-area {
      width: calc(100% / 3);

      @include media('<1250px') {
        width: 45%;
      }

      @include tablet {
        width: 100%;
        order: -1;
      }
    }

    .feature-area {
      width: calc(100% / 3);
      padding-top: 145px;
      padding-left: $site-spacing * 0.5;

      @include media('<1250px') {
        width: 21%;
        padding-left: 0;
      }

      @include tablet {
        width: 100%;
        background: var(--background-color);
        padding-left: $site-padding--tablet;
        padding-right: $site-padding--tablet;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
      }

      ul {
        @include tablet {
          justify-content: center;
          display: flex;
          margin: 0 -5px;

          > li {
            padding: 0 5px;
            flex-basis: 0;
            flex-grow: 1;
          }
        }

        li {
          @include tablet {
            justify-content: flex-start;
            flex-direction: column;
          }

          + li {
            @include desktop {
              margin-top: 55px;
            }
          }

          svg {
            margin-right: $site-spacing;

            @include tablet {
              display: none;
            }
            path {
              fill: var(--text-color);
            }
          }

          img {
            margin-right: $site-spacing * 2;
            width: 40px;
            height: 40px;

            @include media('<1250px') {
              margin-right: 10px;
            }

            @include tablet {
              margin: 0;
            }
          }

          p {
            font-weight: 900;
            margin: 0;

            @include tablet {
              width: 100%;
              margin-top: 16px;
            }
          }
        }
      }
    }
  }
}
