.ffc--reviews {
  overflow: hidden;

  .section--inner {
    background-size: cover;
    padding-left: $site-padding;
    padding-top: 80px;
    padding-bottom: 80px;

    @include media('<1150px') {
      padding-left: 50px;
    }

    @include tablet {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: $site-padding--tablet;
    }

    .content-area {
      width: 45%;
      padding-right: 30px;
      max-width: 700px;

      @include tablet {
        width: 100%;
        padding-right: $site-padding--tablet;
      }

      .h2 {
        @include tablet {
          font-size: $size-h4;
        }
      }

      * + .h2 {
        margin-top: 32px;

        @include tablet {
          margin-top: $site-padding--tablet;
        }
      }

      .rte {
        margin-top: 24px;
        max-width: 500px;

        @include tablet {
          margin-top: $site-padding--tablet;
        }
      }

      .cta {
        margin-top: 32px;

        @include tablet {
          margin-top: 24px;
        }
      }
    }

    .reviews-area {
      width: 55%;
      position: relative;
      max-width: 800px;
      margin-left: auto;

      @include tablet {
        width: 100%;
        margin-top: 40px;
      }

      .custom-arrows {
        .keen-nav {
          left: -60px;
          padding-right: 40px;

          @include media('<1150px') {
            left: -50px;
            padding-right: 0;
          }
        }
      }

      .keen-slider {
        margin: 0 -10px;
        padding-right: 200px;

        @include media('<1150px') {
          padding-right: 100px;
        }

        @include tablet {
          padding-right: 0;
        }

        .keen-nav {
          padding: 0 $site-padding;

          .keen-arrow-prev {
            display: none;
          }
        }

        .keen-slider__slide {
          padding: 0 10px;

          @include desktop {
            opacity: 0.2;
            transition: opacity 0.35s ease;

            &.active,
            &.active + li {
              opacity: 1;
            }

            @include media('<950px') {
              &.active + li {
                opacity: 0.2;
              }
            }
          }

          blockquote {
            background: #fff;
            border-radius: 25px;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
            text-align: center;
            padding: 40px $site-spacing 25px $site-spacing;
            display: flex;
            flex-direction: column;
            margin: 0;

            .review {
              margin-bottom: $site-spacing;
            }

            .review-by {
              margin-top: auto;
              border-top: 1px solid rgba(#000, 0.1);
              padding-top: $site-spacing;
              font-size: 12px;
              color: rgba(30, 30, 28, 0.5);
              width: 100%;
            }
          }
        }
      }
    }
  }
}
