.ffc--site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

  .dynamic-cart-banner-slider {
    &.active-hide {
      &.hide-on-scroll {
        @include desktop {
          max-height: 0;
        }
      }
      &.hide-on-scroll-mobiles {
        @include tablet {
          max-height: 0;
        }
      }
    }
  }

  body#recharge-novum & {
    position: fixed !important;
    z-index: 50 !important;
  }

  body:not(.os--mac-os) & {
    width: calc(100% - var(--scroll-gap-right, 0px));
  }

  .header-outer {
    background: #fff;
    z-index: inherit;
    position: relative;
    transition: all 0.15s ease;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  }

  .header-inner {
    z-index: inherit;
    position: relative;
    padding: 0 $site-padding;

    @include media('<1150px') {
      padding-left: $site-padding--small;
      padding-right: $site-padding--small;
    }

    @include smallDesktop {
      padding: 10px $site-padding--tablet;
    }

    .logo-area,
    .right-nav-area {
      flex-basis: 0;
      flex-grow: 1;
    }

    .left-mobile-area {
      @include smallDesktop {
        flex-basis: 0;
        flex-grow: 1;
      }
    }

    .logo-area {
      @include smallDesktop {
        flex-basis: auto;
        flex-grow: 0;
      }
    }

    .middle-nav-area,
    .right-nav-area {
      > ul {
        > li {
          > a {
            padding: 20px 0;

            @include smallDesktop {
              padding: 20px 0;
            }
          }

          > a.nav-item {
            text-transform: uppercase;
            letter-spacing: 0;
            font-weight: 900;
            transition: all 0.15s ease;
            color: $color-primary;
            line-height: 1;
            font-size: $size-header-navigation;

            &[data-nav-item] {
              > span {
                border: 2px solid $color-secondary;
                border-radius: 8px;
              }
            }

            &:not([data-nav-item]) {
              &:hover {
                span {
                  color: $color-secondary;
                }
              }
            }

            > span {
              position: relative;
              display: block;
              padding: 11px 16px;
              transition: all 0.35s ease;
              border: 2px solid transparent;

              > img,
              > svg {
                margin-left: 2px;
                transition: transform 0.25s ease;
                width: 9px;
                height: 9px;

                path {
                  transition: all 0.35s ease;
                }
              }
            }

            &.dropdown-open {
              > span {
                background: $color-secondary;
                color: #fff;

                > img,
                > svg {
                  transform: rotate(180deg);

                  path {
                    fill: #fff;
                  }
                }
              }
            }
          }
        }
      }

      .f-grid {
        @include laptop {
          margin: 0 -20px;

          > * {
            padding: 0 20px;
          }
        }
      }
    }

    .burger-menu-container {
      padding: 10px;
      margin-left: -10px;
      background: transparent;
      border-radius: 0;
      border: 0 none;

      position: relative;

      .burger-menu-inner {
        height: 17px;
        width: 24px;
        position: relative;

        &:before,
        span,
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 3px;
          background: $color-primary;
          position: absolute;
          left: 0;
          transition: opacity 0.15s ease, top 0.15s ease, transform 0.15s ease;
          backface-visibility: hidden;
        }

        &:before {
          top: 0;
        }

        span {
          top: 7px;
        }

        &:after {
          top: 14px;
        }
      }

      &.active {
        .burger-menu-inner {
          span {
            opacity: 0;
          }

          &:before {
            transform: rotate(45deg);
            top: 7px;
          }

          &:after {
            transform: rotate(-45deg);
            top: 7px;
          }
        }
      }
    }

    .logo-area {
      line-height: 0;

      a {
        display: inline-block;

        img,
        svg {
          width: 85px;

          @include tablet {
            width: 65px;
          }
        }
      }
    }

    .trigger-nav {
      margin-left: 15px;
      margin-right: -12px;
      flex-grow: 0;

      @include smallDesktop {
        margin-left: 0;
        margin-right: -5px;
      }

      .search-trigger,
      .account-trigger,
      .cart-trigger {
        padding: 18px 12px;

        @include smallDesktop {
          padding: 8px 12px;
        }

        img,
        svg {
          width: 20px;
          height: 20px;
        }
      }

      .account-trigger {
        img,
        svg {
          width: 21px;
          height: 23px;
        }
      }

      .cart-trigger {
        display: block;
        position: relative;

        img,
        svg {
          width: 31px;
          height: 31px;
          display: block;

          @include smallDesktop {
            width: 28px;
            height: 28px;
          }
        }

        span {
          display: block;
          width: 14px;
          height: 14px;
          line-height: 10px;
          border-radius: 50%;
          background: transparent;
          border: 1px solid #70d44b;
          color: #000;
          font-weight: 500;
          font-size: 9px;
          text-align: center;
          transition: opacity 0.25s ease, visibility 0.25s ease;
          will-change: transform;
          background: #fff;

          position: absolute;
          top: 18px;
          left: 43px;
          transform: translate3d(-50%, -50%, 0);

          @include smallDesktop {
            left: 40px;
            top: 8px;
          }
        }

        &:hover {
          @include desktop {
          }
        }
      }
    }
  }
}
