.ffc--site-footer {
  padding-top: 70px;
  padding-bottom: 80px;

  background: #000;
  color: #fff;
  position: relative;
  transition: all 0.35s ease;

  body.ffc--newsletter--open & {
    padding-bottom: 140px;

    @include tablet {
      padding-bottom: 160px;
    }
  }

  @include tablet {
    padding-top: 40px;
  }

  .footer-flex {
    @include desktop {
      flex-wrap: nowrap;
    }

    .logo-area {
      width: 23%;
      display: flex;
      flex-direction: column;

      @include tablet {
        order: 99;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px solid rgba(#fff, 0.3);
        text-align: center;
      }

      > a {
        display: inline-block;

        img {
          width: 150px;
        }
      }

      .footer__social {
        margin-top: 30px;
        margin-bottom: 40px;

        @include tablet {
          margin-top: 25px;
        }

        .social-links {
          justify-content: flex-start;

          li {
            margin-right: 8px;
          }

          a {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            color: #000;
            background: #fff;
            transition: all 0.35s ease;

            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              width: 20px;
              height: 18px;
            }
          }
        }
      }

      .copy {
        margin-top: auto;
        margin-left: 0;
        font-size: 16px;
        margin-bottom: 0;

        @include tablet {
          margin-left: auto;
        }
      }
    }

    .footer-block {
      + .footer-block {
        margin-top: 40px;
      }
      h6 {
        color: $color-secondary;
        margin-bottom: $site-spacing;
      }

      .rte {
        a {
          font-weight: 300;
        }
      }

      ul {
        li {
          + li {
            margin-top: 10px;
          }
          a {
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }
    .menu-area,
    .content-area {
      width: 20%;

      @include tablet {
        width: 50%;
      }
    }

    .form-area {
      width: 35%;
      margin-left: auto;

      @include tablet {
        order: -1;
        width: 100%;
        margin-bottom: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(#fff, 0.3);
      }

      .rte {
        font-weight: 300;
        margin-bottom: 30px;
      }

      form {
        margin-top: 0;

        .input-flex {
          input {
            background: #373737;
            padding: 12.5px 24px;
            border-radius: 9px;
            color: #fff;
            border: 0 none;
            font-weight: 300;
            flex-grow: 1;

            @include desktop {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }

            &::placeholder {
              color: #fff;
              font-weight: 300;
            }
          }

          button {
            background: #fff;
            color: #000;
            font-weight: 900;
            padding: 13px $site-spacing;
            border-radius: 9px;
            white-space: nowrap;
            font-size: 14px;
            border-color: #fff;
            margin: 0;

            @include desktop {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }

        button {
          @include tablet {
            background: #fff;
            width: 100%;
            color: #000;
            margin-top: 14px;
            font-size: 14px;
          }
        }

        .checkbox-flex {
          margin-top: $site-spacing;
          display: flex;
          align-items: center;

          @include tablet {
            margin-top: 10px;
          }

          input {
            appearance: none;
            width: 31px;
            height: 31px;
            min-width: 31px;
            background-image: url(liquid("{{ 'icon-tick--green.svg' | asset_url }}"));
            background-size: 0px 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #fff;
            border-radius: 9px;

            @include tablet {
              width: 38px;
              height: 38px;
              min-width: 38px;
            }

            &:checked {
              background-size: 17px 17px;
            }
          }

          label {
            padding-left: $site-spacing;
            margin-bottom: 0;
            cursor: pointer;
            color: #fff;

            p {
              font-size: 14px;
              margin: 0;
              font-weight: 300;

              @include tablet {
                font-size: 12px;
              }

              a {
                color: inherit;
              }
            }
          }
        }
      }
    }
  }

  .credit {
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 0;
    padding-right: 30px;
    font-size: 12px;
    letter-spacing: 0.4px;

    @include tablet {
      padding-right: 0;
    }
  }
}
