.ffc--stockist-search,
.landing-block--stockist-search {
  @include tablet {
    margin-bottom: 55px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .section--inner {
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 150px;
    background-size: cover;

    @include tablet {
      padding-top: 40px;
      padding-bottom: 55px;
    }

    .content-area {
      text-align: center;
      max-width: 600px;
      margin: 0 auto;

      .h3 {
        color: var(--title-color);
        margin-bottom: 0;
      }

      .rte {
        margin-top: 24px;

        @include tablet {
          margin-top: $site-padding--tablet;
        }
      }

      form {
        max-width: 450px;
        margin: 55px auto 0 auto;
        position: relative;

        @include tablet {
          margin-top: 40px;
        }

        input {
          background: #fff;
          border: solid 1px rgba(0, 0, 0, 0.1);
          padding: 16px 60px 16px 25px;
          width: 100%;
          font-size: 18px;
          font-weight: 900;

          @include tablet {
            padding-left: $site-padding--tablet;
          }
        }

        button {
          background: transparent;
          border: 0 none;
          padding: 0 $site-spacing;
          right: 8px;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          height: 100%;

          img {
            width: 20px;
            height: 24px;
          }
        }
      }
    }
  }
}
