.landing-block--cta-with-slider {
  margin-bottom: 100px;

  @include tablet {
    margin-bottom: 40px;
  }

  .section--inner {
    padding: 60px 0;

    @include tablet {
      padding: 40px 0;
    }
  }

  .content-area {
    width: 50%;

    @include tablet {
      width: 100%;
      text-align: center;
    }

    .rte {
      margin-top: $site-spacing;
      max-width: 460px;

      @include tablet {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .btn {
      margin-top: $site-spacing * 2;
      background: var(--page-primary);
      border-color: var(--page-primary);

      @include tablet {
        width: 100%;
      }

      &:hover {
        background: #000;
        border-color: #000;
      }
    }
  }

  .slider-area {
    width: 50%;
    max-width: 460px;
    margin-left: auto;

    @include tablet {
      width: 100%;
      margin-top: 40px;

      margin-left: auto;
      margin-right: auto;
    }

    .keen-slider {
      &.keen--dotted {
        padding-bottom: 40px;

        @include tablet {
          padding-bottom: 60px;
        }
      }

      .keen-slider__slide {
        padding: 0 75px;

        @include tablet {
          padding: 0 40px;
        }

        img {
          width: 60px;
        }

        > p {
          margin-top: 24px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 900;
        }

        .rte {
          margin-top: 8px;
          font-weight: 300;
        }
      }
    }
  }
}
