.landing-block--meet-the-team {
  overflow: hidden;
  margin-top: -30px;

  @include tablet {
    margin-top: 80px;
  }

  .section-header {
    @include tablet {
      margin-bottom: 40px;
    }

    .left-area {
      .h3 {
        color: var(--block-primary);
      }
    }

    .rte {
      @include tablet {
        margin-top: 24px;
      }
    }
  }

  .team-grid {
    overflow: visible;

    > li {
      padding-bottom: 20px;

      @include desktop {
        opacity: 0.2;
        transition: opacity 0.35s ease;

        &.active,
        &.active + li,
        &.active + li + li,
        ,
        &.active + li + li + li {
          opacity: 1;
        }
      }

      @include tablet {
        padding-bottom: 80px;
      }

      .inner {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        background: #fff;

        .image-area {
          width: 100%;
        }

        .info-area {
          padding: 16px 16px 32px 16px;
          text-align: center;

          p {
            font-weight: 900;
            margin: 0;
            line-height: 1;
            text-transform: uppercase;

            &.job-role {
              color: $color-seventh;
              margin-bottom: 12px;
              font-size: 12px;
              letter-spacing: 0.7px;

              @include tablet {
                font-size: 10px;
              }
            }

            &.person-title {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  .range-slider {
    margin: 40px auto 15px auto;
    max-width: 600px;

    .noUi-connect {
      background: var(--block-primary);
    }

    .noUi-handle {
      background-image: var(--range-icon);
    }
  }
}
