.landing-block--related-products {
  overflow: hidden;

  .title-area {
    margin-bottom: 50px;

    @include tablet {
      margin-bottom: 30px;
    }

    * {
      margin-bottom: 0;
    }
  }

  .products-area {
    > ul {
      @include desktop {
        justify-content: center;
      }

      @include tablet {
        overflow: visible;
      }

      li {
        width: calc(100% / 3);

        .product-grid-item {
          margin-bottom: 0;
        }
      }
    }
  }
}
