.landing-block--hero {
  position: relative;

  .landing-block--image + & {
    margin-top: -80px;
  }

  .image-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .picture-element-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      padding-bottom: 0;
    }
  }

  .caption-area {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

    @include tablet {
      padding-top: 80px;
      padding-bottom: 100px;
    }

    .h1 {
      text-transform: none;
    }

    .title-by {
      margin-top: 40px;

      p {
        font-weight: 900;
        font-size: 18px;
        margin: 20px 0 0 0;
      }
    }
  }
}
