.landing-block--product-grid {
  margin-bottom: 100px - $site-spacing;

  .title-area {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 30px;
    }

    * {
      margin-bottom: 0;
    }
  }

  .products-area {
    > ul {
      @include desktop {
        justify-content: center;
      }

      li {
        width: calc(100% / 3);

        @include tablet {
          width: 100%;

          + li {
            margin-top: 24px;
          }
        }

        .product-grid-item {
          margin-bottom: 0;
        }
      }

      &.keen-slider {
        @include tablet {
          overflow: visible;
        }
        li {
          @include tablet {
            + li {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
