.landing-block--accordion {
  margin-top: -80px;
  margin-bottom: 130px;

  @include tablet {
    margin-top: -40px;
    margin-bottom: 55px;
  }

  .accordion-wrapper {
    max-width: 900px;
  }

  .top-area {
    margin-bottom: 50px;

    @include tablet {
      margin-bottom: 30px;
    }

    img {
      margin-top: -37px;
      height: 74px;
      position: relative;
      z-index: 1;
    }

    .h2 {
      margin-top: 32px;
      color: var(--block-primary);
    }
  }

  .accordion-area {
    .accordion-item {
      + * {
        margin-top: 4px;
      }

      &.open {
        .accordion-header {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .accordion-header {
        background: var(--block-primary);
        padding: 13.5px 24px;
        border-radius: 10px;
        transition: all 0.35s ease;

        @include tablet {
          padding: 11.5px $site-spacing;
        }

        .left-area {
          img {
            margin-right: 22px;
            width: 34px;
          }

          h3 {
            color: #fff;
            margin: 0;
            text-transform: none;
            font-weight: 500;

            @include tablet {
              font-size: 18px;
            }
          }
        }

        svg {
          width: 20px;
          height: 20px;

          path {
            stroke: #fff;
          }
        }
      }

      .accordion-content {
        background: var(--block-secondary);
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .rte {
          padding: $site-spacing 80px;
          font-weight: 300;

          @include tablet {
            padding: $site-spacing;
          }
        }
      }
    }
  }
}
