.landing-block--image-and-text {
  margin-bottom: 100px;

  @include tablet {
    margin-bottom: 55px;
  }

  .flex {
    margin: 0 -50px;

    > * {
      padding: 0 50px;
    }
  }

  .image-area {
    width: 45%;

    @include tablet {
      width: 100%;
    }

    &.image-side--right {
      @include desktop {
        order: 99;
      }
    }
  }

  .content-area {
    width: 55%;

    @include tablet {
      width: 100%;
      margin-top: 24px;
      text-align: center;
    }

    .h2 {
      color: var(--page-primary);
      margin-bottom: 0;
    }

    .rte {
      margin-top: 24px;

      @include tablet {
        margin-top: $site-spacing;
      }
    }

    .btn {
      margin-top: 40px;
      background: var(--page-primary);
      border-color: var(--page-primary);

      @include tablet {
        margin-top: 24px;
        width: 100%;
      }

      &:hover {
        background: #000;
        border-color: #000;
      }
    }
  }
}
