.landing-block--image-and-text-2 {
  position: relative;
  margin-bottom: 185px;

  @include tablet {
    margin-bottom: 40px;
  }

  .wrapper {
    padding: 0 50px;

    @include tablet {
      padding: 0;
    }
  }

  .background-icon-1 {
    position: absolute;
    right: 0;
    bottom: 80%;
    z-index: 0;

    @include tablet {
      bottom: 95%;
      width: 25%;
    }
  }

  .background-icon-2 {
    position: absolute;
    left: 0;
    bottom: -35%;
    z-index: 0;

    @include tablet {
      width: 19%;
      bottom: 54%;
    }
  }

  .image-area {
    width: 45%;
    position: relative;
    z-index: 1;

    @include tablet {
      width: 100%;
    }

    @include desktop {
      padding-right: 30px;
    }

    .picture-element-wrapper,
    .image-area--inner {
      width: 100%;
    }

    &.image-side--right {
      @include desktop {
        order: 99;
        padding-left: 30px;
        padding-right: 0;

        .rotated-title {
          margin-left: 80px;
        }
      }
    }

    &.image-side--left {
      @include desktop {
        .rotated-title {
          margin-left: 80px;
        }
      }
    }

    .image-area--inner {
      .main-image {
        width: 100%;
      }

      .simpleParallax {
        width: 50%;
        overflow: visible !important;
      }

      .sub-image-2 {
        margin-top: 150px;
      }
    }

    .rotated-title {
      writing-mode: vertical-lr;
      align-self: center;
      align-items: center;

      @include tablet {
        order: -1;
      }

      .hero-heading {
        color: var(--block-primary);
        margin-bottom: 0;
        transform: rotate(180deg);
        white-space: nowrap;
      }

      img {
        margin-bottom: 32px;

        @include tablet {
          width: 57px;
          margin-bottom: 24px;
        }
      }
    }
  }

  .content-area {
    width: 55%;
    padding: 0 50px;

    @include tablet {
      width: 100%;
      margin-top: 40px;
      text-align: center;
      position: relative;
      padding: 0 $site-padding--tablet;
    }

    .h2 {
      color: var(--block-primary);
      margin-bottom: 0;
      font-size: 80px;
      position: relative;
      z-index: 1;

      @include tablet {
        font-size: 48px;
      }

      + .rte {
        margin-top: 24px;
      }
    }

    .rte {
      position: relative;
      z-index: 1;

      @include tablet {
        font-size: $size-rte;
      }
    }

    .btn {
      margin-top: 40px;
      background: var(--block-primary);
      border-color: var(--block-primary);

      @include tablet {
        margin-top: 24px;
        width: 100%;
      }

      &:hover {
        background: #000;
        border-color: #000;
      }
    }
  }
}
