.landing-block--icon-bar {
  padding: $site-spacing 0;
  background: var(--page-third);
  margin-top: -80px;

  @include tablet {
    padding: $site-spacing 8px;
    margin-top: -40px;
  }

  .flex {
    @include desktop {
      flex-wrap: nowrap;
    }
  }

  .icon-area {
    @include tablet {
      width: 80px;
    }
    img {
      width: 65px;

      @include tablet {
        width: 100%;
      }
    }
  }

  .content-area {
    @include tablet {
      width: calc(100% - 80px);
    }
    .h4 {
      color: var(--page-primary);
      margin: 0;

      @include tablet {
        font-size: 18px;
      }
    }

    .rte {
      margin-top: 8px;
    }
  }

  .button-area {
    margin-left: auto;

    @include tablet {
      width: 100%;
      margin-top: $site-spacing;
    }

    .btn {
      background: var(--page-primary);
      color: #fff;
      border-color: var(--page-primary);

      @include tablet {
        width: 100%;
      }

      &:hover {
        background: #000;
        border-color: #000;
      }
    }
  }
}
