body.template- {
  .ffc--site-header {
    .flex,
    .child-flex > * {
      max-width: none;
    }
  }
}

.rc_layout__container {
  margin-top: 30px;

  #customer_tab_content {
    > .row {
      justify-content: center;
    }
  }
}

.rc_form__group {
  input {
    border: 1px solid var(---color-border);
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
  }
}

.rc_layout .button {
  color: #fff;
}
