.cart-container {
  position: relative;
  overflow: hidden;
  transition: all 0.35s ease;
  padding-bottom: 50px;

  &:before {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    background-image: url(liquid("{{ 'icon-loading.svg' | asset_url }}"));
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    animation: rotate 0.5s linear infinite;
    z-index: 12;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s ease, visibility 0.35s ease;
  }

  &:after {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#fff, 0.8);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s ease, visibility 0.35s ease;
    z-index: 11;
    pointer-events: none;
  }

  // &:not(.rendered) {
  //   opacity: 0;
  //   visibility: hidden;
  // }

  &.loading {
    &:before,
    &:after {
      opacity: 1;
      visibility: visible;
    }

    > * {
      opacity: 0;
      visibility: hidden;
    }
  }

  > * {
    transition: all 0.35s ease;
  }

  .error-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;

    &.shown {
      opacity: 1;
      visibility: visible;
    }

    .popup-inner {
      background: #fff;
      padding: 30px;
      text-align: center;

      .btn {
        margin-top: 20px;
      }
    }
  }

  .cart-table-row {
    .cart-product {
      .cart-product__thumb {
        .object-fit--contain {
          height: 100%;
          padding: 0;
        }
        img {
          width: 100%;
        }
      }

      .cart-product__desc {
        small {
          display: block;
          margin-top: 5px;
          font-size: 12px;
        }
      }

      .cart-product__quantity {
        input {
          pointer-events: none;
        }
      }
    }
  }
}
