body#challenge {
  .pageWrap {
    height: 100%;

    .bodyWrap {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }

    .main-content {
      margin: auto 0 0;
    }

    .ffc--site-footer {
      margin: auto 0 0;
    }
  }
}
