.collection-page {
  .collection-hero {
    padding: 20px 0;
    background: var(--page-secondary);

    @include tablet {
      padding-top: 30px;
      padding-bottom: 24px;
    }

    .content-area {
      width: 48%;

      @include tablet {
        width: 100%;
        text-align: center;
      }

      h1 {
        color: var(--page-primary);
        line-height: 1.3;
      }

      .rte {
        margin-top: $site-spacing;
      }

      .icon-grid {
        margin-top: 32px;

        @include tablet {
          justify-content: center;
        }

        span {
          font-size: 12px;
          font-weight: 400;
        }

        img,
        svg {
          margin-right: 10px;
          width: 32px;
          height: 32px;

          circle {
            fill: var(--page-primary);
          }
        }

        p {
          font-size: 14px;
          font-weight: 900;
          text-transform: uppercase;
          margin: 0;
        }
      }

      .subtext {
        margin-top: 40px;

        @include tablet {
          margin-top: 24px;
        }
      }
    }

    .image-area {
      width: 25%;

      @include tablet {
        width: 100%;
        margin-top: $site-spacing * 2;
        padding: 0 50px;
      }
    }

    .feature-area {
      width: 27%;
      align-self: center;
      padding-left: $site-spacing * 0.5;

      @include tablet {
        width: 100%;
        text-align: center;
        margin-top: $site-spacing;
        padding-left: 0;
      }

      ul {
        @include tablet {
          justify-content: center;
          display: flex;

          > li {
            flex-basis: 0;
            flex-grow: 1;
          }
        }

        li {
          @include tablet {
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
          }

          + li {
            @include desktop {
              margin-top: 32px;
            }
          }

          svg {
            margin-right: $site-spacing;
            width: 42px;
            height: 42px;
            min-width: 42px;

            @include tablet {
              margin-right: 0;
              &:first-child {
                display: none;
              }
            }
            path {
              fill: var(--page-primary);
            }
          }

          img {
            margin-right: $site-spacing;
            width: 40px;
            height: 40px;
            min-width: 40px;

            @include tablet {
              margin: 0;
            }
          }

          p {
            font-weight: 900;
            margin: 0;

            @include tablet {
              width: 100%;
              margin-top: 16px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
