.template-giftcard {
  padding: 0;
  margin: 0;

  * {
    box-sizing: border-box;
  }
}

.giftcard-page {
  padding: 80px $site-padding--tablet;
  background-size: 40%;
  background-position: bottom right;
  background-repeat: no-repeat;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: 90%;
  }

  .giftcard-page-inner {
    max-width: 750px;
    margin: 0 auto;
  }

  .giftcard-logo {
    max-width: 160px;
    margin: 0 auto 40px auto;
    display: block;

    @include tablet {
      max-width: 100px;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
    }
  }

  .giftcard {
    text-align: center;

    h1 {
      margin-bottom: 32px;
      color: $color-third;

      @include tablet {
        font-size: 40px;
        margin-bottom: 16px;
      }
    }

    .rte {
      margin-bottom: 30px;
      font-weight: 300;

      @include tablet {
        margin-bottom: 40px;
      }
    }

    .giftcard-image {
      max-width: 400px;
      margin: 0 auto;

      img {
        border-radius: 40px;
        max-width: 100%;
        width: 100%;
      }
    }

    #GiftCardDigits {
      display: inline-flex;
      border: 1px dashed $color-third;
      border-radius: 15px;
      text-transform: uppercase;
      font-size: 24px;
      padding: 18px 24px;
      font-weight: 900;
      line-height: 1;
      width: 100%;
      max-width: 400px;
      margin: 25px auto 10px auto;
      text-align: left;
      justify-content: space-between;
      align-items: center;

      @include tablet {
        font-size: 18px;
        width: 100%;
        margin-top: 20px;
        text-align: left;
        padding: $site-padding--tablet;
      }

      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    [data-copied-status] {
      text-align: center;
      margin-bottom: 20px;
      display: block;
      font-size: 18px;
      font-weight: 300;

      &:not(.shown) {
        display: none;
      }
    }

    .btn {
      @include tablet {
        width: 100%;
      }
    }

    .giftcard-print,
    .apple-wallet {
      margin-bottom: 55px;

      @include tablet {
        margin-bottom: 40px;
      }

      a {
        text-decoration: underline;
        font-size: 18px;

        img {
          margin-right: 16px;
          width: 18px;
          height: 18px;
        }
      }
    }

    .apple-wallet {
      margin-bottom: 0;
      margin-top: 25px;
    }

    .giftcard-qr {
      margin-top: 40px;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
