.product-page {
  .product-top-area {
    padding-top: 0;
    padding-left: $site-padding--tablet;
    margin-bottom: 80px;

    @include tablet {
      padding-top: $site-spacing;
      margin-bottom: 40px;
    }

    .product-image-area {
      width: 55%;
      align-self: flex-start;

      @include desktop {
        padding-top: 40px;
      }

      @include tablet {
        width: 100%;
      }

      .thumbnails {
        margin-right: 30px;
        align-self: center;

        li {
          + li {
            margin-top: $site-spacing;
          }

          &.active {
            .object-fit--contain {
              border-color: var(--product-primary);
            }
          }

          .object-fit--contain {
            border-radius: 100%;
            border: 2px solid transparent;
            padding-bottom: 0;
            width: 70px;
            height: 70px;
            transition: all 0.35s ease;
            cursor: pointer;
          }
        }

        + .product-image-slider {
          width: calc(100% - 100px);

          @include tablet {
            width: 100%;
          }
        }
      }

      .product-image-slider {
        flex-grow: 1;
        width: 100%;

        @include tablet {
          &.keen--dotted {
            padding-bottom: 30px;
          }
        }

        .object-fit--contain {
          padding-bottom: 100%;
        }
      }
    }

    .product-info-area {
      width: 45%;
      padding-left: 90px;

      @include desktop {
        padding-top: 40px;
      }

      @include tablet {
        width: 100%;
        padding-left: 0;
        margin-top: 24px;
      }

      .sticky-atc {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: all 0.35s ease;

        &:not(.shown) {
          transform: translateY(100%);
        }

        .btn {
          padding-top: 17px;
          padding-bottom: 17px;
          flex-grow: 1;
          border-radius: 0;

          .seperator {
            margin: 0 10px;
          }
        }
      }

      .inner {
        .product-type {
          font-size: 16px;
          letter-spacing: 1.6px;
          margin-bottom: $site-spacing;
        }

        .product-title {
          color: var(--product-primary);
          margin-bottom: $site-spacing;

          @include tablet {
            text-align: left;
            line-height: 1.5;
          }
        }

        .product-description {
          margin-bottom: 24px;
          padding-top: 0;
          padding-bottom: 0;
          font-weight: 300;
          line-height: 1.5;
        }

        .availability-bar {
          border-top: 1px solid $color-border;
          padding-top: 24px;

          .icon-grid {
            span {
              font-size: 12px;
              font-weight: 400;
              letter-spacing: 0.7px;
            }

            img,
            svg {
              margin-right: 10px;
              width: 32px;
              height: 32px;

              circle {
                fill: var(--product-primary);
              }
            }

            p {
              font-size: 14px;
              font-weight: 900;
              text-transform: uppercase;
              margin: 0;
              letter-spacing: 0.8px;
            }
          }

          .rte {
            font-size: 14px;

            a {
              font-weight: 600;

              &:hover {
                color: var(--product-primary);
              }
            }
          }
        }

        .product-header-bar-flex {
          margin-bottom: 24px;
          padding-bottom: 24px;
          border-bottom: 1px solid $color-border;

          @include tablet {
            margin-bottom: $site-spacing;
          }

          .product-prices {
            margin: 0;
            line-height: 1.2;
            margin-right: 24px;

            span {
              font-size: 32px;

              @include tablet {
                font-size: 24px;
              }
            }

            .compare-at-price {
              text-decoration: line-through;
              opacity: 0.2;
              margin-left: 10px;
            }
          }
          .pack-info {
            margin: 0;
            font-weight: 300;
            font-size: 14px;
            opacity: 0.7;

            span {
              font-weight: 500;
            }
          }
        }

        .product-options {
          &:not(.hide) {
            margin-bottom: $site-spacing;
          }
        }

        .product-atc-flex {
          margin-top: $site-spacing;

          @include tablet {
            margin-top: 24px;
          }

          li {
            @include tablet {
              width: 100%;
            }
            &:last-child {
              flex-grow: 1;

              @include tablet {
                margin-top: 32px;
              }

              .btn {
                width: 100%;
              }
            }

            .quantity-selector-container {
              .quantity-selector {
                width: 100%;

                input {
                  @include tablet {
                    width: auto;
                    flex-grow: 1;
                  }
                }
              }
            }
          }
        }

        .product-accordion-area {
          margin-top: 24px;
        }

        .promo-items {
          margin-top: 24px;

          @include tablet {
            margin-top: 0;
          }

          .promo-item {
            background: var(--product-third);
            padding: 24px;
            border-radius: 9px;

            @include tablet {
              margin-top: calc(40px + 32px);
              padding-top: 0;
            }

            + * {
              margin-top: $site-spacing;

              @include tablet {
                margin-top: 40px + $site-spacing;
              }
            }

            .left-area {
              width: 80px;
              min-width: 80px;

              @include tablet {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: -40px;

                svg {
                  transform: translateY(-40px);
                }
              }

              svg {
                circle {
                  fill: var(--product-primary);
                }
              }
            }

            .right-area {
              flex-grow: 1;
              padding-left: 30px;

              @include tablet {
                padding-left: 0;
                text-align: center;
                margin-top: $site-spacing;
              }

              .h4 {
                color: var(--product-primary);
              }

              .rte {
                margin-top: $site-spacing * 0.5;

                @include tablet {
                  font-size: 16px;
                }
              }

              .btn {
                margin-top: $site-spacing;
                width: 100%;
                border: 2px solid var(--product-primary);
                color: var(--product-primary);

                &:hover {
                  background: var(--product-primary);
                  color: #fff;
                }
              }
            }
          }
        }

        .find-a-stockist {
          padding: 30px 24px;
          background: var(--product-third);
          margin-top: 24px;
          border-radius: 9px;

          .rte {
            margin-top: 8px;
            font-weight: 300;
          }

          form {
            position: relative;
            margin-top: 24px;

            @include tablet {
              margin-top: 24px;
            }

            input {
              background: #fff;
              border: solid 1px rgba(0, 0, 0, 0.1);
              padding: 16px 60px 16px 25px;
              width: 100%;
              font-size: 18px;
              font-weight: 900;

              @include tablet {
                padding-left: $site-padding--tablet;
              }
            }

            button {
              background: transparent;
              border: 0 none;
              padding: 0 $site-spacing;
              right: 8px;
              position: absolute;
              top: 0;
              display: flex;
              align-items: center;
              height: 100%;

              img {
                width: 20px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }

  .ingredients-container {
    padding: 24px 0;
    background-color: var(--product-third);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;

    @include tablet {
      padding: 0 0 50px 0;
      margin-top: 190px;
    }

    .micronutrients-wrapper {
      @include tablet {
        margin: 24px -16px 0 -16px;
      }
      .btn {
        margin-top: 40px;
        width: 100%;
        background: var(--product-primary);
        border-color: var(--product-primary);
        justify-content: space-between;
        padding: 12px $site-spacing;

        @include tablet {
          border-radius: 0;
          padding: 12px 32px;
          margin-top: 0;
        }

        svg {
          width: 16px;
          height: 16px;
          transition: all 0.35s ease;

          path {
            stroke: currentColor;
          }
        }

        &.open {
          svg {
            transform: rotate(90deg);
            .horizontal-line {
              opacity: 0;
            }
          }
        }
      }

      .micronutrients-container {
        max-height: 0;
        overflow: hidden;
        transition: all 0.35s ease;
        background: #fff;
        border-radius: 9px;

        .table-wrap {
          padding: $site-spacing;
          max-height: 280px;
          overflow: auto;
          -webkit-overflow-scrolling: touch;

          @include tablet {
            padding: 16px 32px;
            max-height: none;
          }
        }

        .rte {
          padding: $site-spacing;
          max-height: 280px;
          overflow: auto;
          -webkit-overflow-scrolling: touch;

          @include tablet {
            padding: 16px 32px;
          }

          &::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $color-border;
            border-radius: 5px;
          }
        }
      }
    }

    .left-area {
      width: 35%;
      padding-top: 30px;

      @include tablet {
        width: 100%;
        text-align: center;
      }

      .h4 {
        margin-bottom: $site-spacing;
        color: var(--product-primary);
      }

      .rte {
        line-height: 2;
      }
    }

    .middle-area {
      width: 30%;

      @include tablet {
        width: 100%;
        order: -1;
        transform: translateY(-150px);
        max-width: 220px;
        margin: 0 auto -150px auto;
        display: block;
      }

      .picture-element-wrapper {
        padding-bottom: 150%;
      }

      img {
        width: 100%;
      }
    }

    .right-area {
      width: 35%;
      padding-top: 30px;

      @include tablet {
        width: 100%;

        .h4 {
          text-align: center;
        }
      }

      .h4 {
        margin-bottom: $site-spacing;
        color: var(--product-primary);
      }
    }
  }

  .product--image-and-text {
    margin-top: 100px;
    margin-bottom: 100px;

    @include tablet {
      margin-top: 40px;
      margin-bottom: 55px;
    }

    .content-area {
      width: 50%;

      @include tablet {
        width: 100%;
        margin-top: 50px;
      }

      .h3 {
        color: var(--product-primary);

        @include tablet {
          font-size: $size-h4;
        }
      }

      .rte {
        margin-top: 24px;
        font-weight: 300;
        opacity: 0.8;

        b,
        strong {
          color: var(--product-primary);
          font-weight: 600;
        }
      }
    }

    .image-area {
      width: 50%;

      @include tablet {
        width: 100%;
        order: -1;
      }

      .image-wrapper {
        padding: 50px 140px;
        position: relative;

        @include tablet {
          padding: 60px 45px;
        }
      }

      .sub-image-1,
      .sub-image-2 {
        position: absolute;

        .picture-element-wrapper {
          padding-bottom: 120%;
        }
      }

      .sub-image-1 {
        left: 5%;
        top: 0;
        width: 30%;

        @include tablet {
          left: -16px;
          width: 45%;
        }
      }

      .sub-image-2 {
        right: 5%;
        bottom: 0;
        width: 30%;

        @include tablet {
          right: -16px;
          width: 45%;
        }
      }

      .main-image {
        position: relative;
        z-index: 1;
        width: 100%;
        // box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1)

        .picture-element-wrapper {
          padding-bottom: 100%;
        }
      }
    }
  }

  .product-features {
    background: #f9f9f9;
    padding: $site-spacing;
    margin-top: 24px;

    @include tablet {
      margin-top: 32px;
    }

    > .flex {
      @include tablet {
        &.keen--dotted {
          padding-bottom: 32px;
        }
      }

      > li {
        flex-basis: 0;
        flex-grow: 1;
        min-width: calc(100% / 4);
        text-align: center;

        .icon-area {
          width: 40px;
          height: 40px;
          margin: 0 auto;
          padding: 0;

          svg {
            width: 100%;
            height: 100%;

            * {
              &[fill] {
                fill: var(--product-primary);
              }
            }
          }
        }

        p {
          margin: 0;
          margin-top: $site-spacing;
          font-weight: 500;
          line-height: 1.25;

          @include tablet {
            max-width: 165px;
            margin: $site-spacing auto 0 auto;
          }
        }
      }
    }
  }

  .percentage-breakdown {
    margin-top: 45px;
    overflow: hidden;

    @include tablet {
      margin-top: 32px;
    }

    > .flex {
      @include tablet {
        margin: 0 -3px;

        > * {
          padding: 0 3px;
        }
      }
    }

    ul {
      flex-wrap: nowrap;

      li {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;

        p {
          font-size: 14px;
          font-weight: 900;
          margin: 0 0 8px 0;
          line-height: 1;

          @include tablet {
            font-size: 12px;
          }

          @include media('<340px') {
            font-size: 10px;
          }
        }

        span {
          display: block;
          padding: 10px 12px;
          border: 1px solid #000;
          font-size: 22px;
          font-weight: 900;
          line-height: 1;
          background: #fff;
          border-radius: 10px;

          @include tablet {
            font-size: 21px;
            padding: 10px 5px;
          }

          @include media('<340px') {
            font-size: 19px;
          }
        }
      }
    }

    > p {
      font-size: 12px;
      font-weight: 300;
      margin: $site-spacing 0 0 0;
      opacity: 0.7;

      @include tablet {
        margin-top: 8px;
        font-size: 14px;
      }
    }
  }
}
