.store-locator {
  padding-top: 30px;
  padding-bottom: 80px;

  #page-header {
    .bh-sl-title {
      font-family: $font-heading;
      color: #000;
      text-align: center;
      font-weight: 900;
    }
  }

  #bh-sl-map-container {
    &.always-shown {
      display: block !important;
    }
  }
}
