.accordion {
  .accordion-item {
    border-bottom: 1px solid $color-border;

    &:first-child {
      border-top: 1px solid $color-border;
    }

    .accordion-header {
      cursor: pointer;
      padding: 12px 0;

      @include tablet {
        padding-left: 8px;
        padding-right: 8px;
      }

      p {
        font-size: 14px;
        margin: 0;
      }

      svg {
        width: 11px;
        height: 11px;
        min-width: 11px;
        transition: all 0.35s ease;
      }
    }

    &.open {
      .accordion-header {
        svg {
          transform: rotate(90deg);
          .horizontal-line {
            opacity: 0;
          }
        }
      }
    }

    &:not(.open) {
      .accordion-content {
        max-height: 0px;
      }
    }

    .accordion-content {
      transition: max-height 0.25s;
      overflow: hidden;

      .rte {
        margin-bottom: 20px;
      }
    }
  }
}
