.article-grid-item {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  .image-area {
    > a {
      display: block;
    }
  }

  .info-area {
    padding: 24px 32px 40px 32px;

    @include tablet {
      padding: 24px 24px 32px 24px;
    }

    .top-area {
      margin-bottom: 12px;

      .tags {
        margin: 0;

        a {
          font-size: 12px;
          font-weight: 900;
          color: $color-seventh;
          text-transform: uppercase;
          letter-spacing: 0.7px;
          text-decoration: none;

          &[data-tag='recipes'] {
            color: $color-sixth;
          }
        }
      }

      time {
        font-size: 12px;
        color: rgba(30, 30, 28, 0.5);
        letter-spacing: 0.7px;
      }
    }

    .article-title {
      font-size: 24px;
      font-weight: 900;
    }
  }
}
