.btn,
.button {
  text-transform: uppercase;
  font-weight: 900;
  transition: all 0.35s ease;
  min-width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;

  &[type='submit'],
  &.btn--has-loader {
    position: relative;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 8px);

      background-image: url(liquid("{{ 'icon-loading--white.svg' | asset_url }}"));
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      animation: rotate 0.5s linear infinite;
      z-index: 2;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.35s ease, visibility 0.35s ease;
    }

    &.btn--fourth {
      &:before {
        background-image: url(liquid("{{ 'icon-loading--white.svg' | asset_url }}"));
      }
    }

    &.ffc--adding-to-cart,
    &.btn--loading {
      color: transparent !important;
      pointer-events: none;

      &:hover {
        color: transparent;
      }

      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &:hover {
    background: #000;
    color: #fff;
    border-color: #000;
  }

  &.btn--small {
    font-size: 14px;
  }

  &.btn--outline {
    background: transparent;
    color: #1e1f1d;

    &:hover {
      background: #000;
      color: #fff;
    }
  }

  &.btn--secondary {
    color: #fff;
    background: $color-third;
    border-color: $color-third;

    &:hover {
      background: #000;
      color: #fff;
      border-color: #000;
    }
  }

  &.btn--third {
    color: #fff;
    background: $color-fifth;
    border-color: $color-fifth;

    &:hover {
      background: #000;
      color: #fff;
      border-color: #000;
    }
  }
}
