[data-preload] {
  transition: all 0.35s ease;

  &:not([data-preload='loaded']) {
    opacity: 0;
    visibility: hidden;
  }
}

picture {
  position: relative;

  .placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

img[data-lazy][data-srcset]:not([srcset]) {
  visibility: hidden;
}

img[data-lazy]:not(.picture-element-image) {
  transition: opacity 0.25s ease;
  opacity: 0;

  &:not([src]) {
    visibility: hidden;
  }

  &.loaded,
  &.error {
    opacity: 1;
  }
}

img[data-lazy-manual] {
  transition: opacity 0.25s ease, visibility 0.35s ease;
  opacity: 0;

  &:not([srcset]) {
    visibility: hidden;
  }

  &.loaded,
  &.error {
    opacity: 1;
  }
}

.picture-element-wrapper {
  position: relative;
  overflow: hidden;

  padding-bottom: var(--aspect-desktop);

  @include tablet {
    padding-bottom: var(--aspect-tablet);
  }

  picture,
  .placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  picture {
    img {
      width: 100%;
    }
  }

  .placeholder {
    z-index: 1;
    transition: opacity 0.5s ease, filter 0.5s ease;
    pointer-events: none;
    filter: blur(5px);
  }

  picture {
    &.loaded,
    &.error {
      + .placeholder {
        opacity: 0;
      }
    }
  }
}
