.mega-menu {
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 100%;
  transition: opacity 0.15s linear, visibility 0.15s linear;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  border-top: 2px solid $color-secondary;

  max-height: calc(100vh - var(--header-height));
  overflow: auto;

  @include noscrollbar;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &:not(.open) {
    @include desktop {
      pointer-events: none;
    }
    img:not(.placeholder):not(.loaded) {
      display: none;
    }
  }

  .wrapper {
    margin: 0;
  }

  .mega-menu-inner {
    background: #fff;
    padding: 0 0 0 $site-padding;

    .menu-area {
      margin: 0 -27.5px;
      padding-top: 35px;
      padding-bottom: 50px;
      padding-right: 55px;

      flex-grow: 1;

      > * {
        padding: 0 27.5px;
      }

      .menu-block {
        width: 50%;

        .h4 {
          margin-bottom: 16px;
          padding-bottom: 8px;
          border-bottom: 1px solid $color-secondary--alt;

          .link-title {
            color: $color-secondary--alt;
          }

          .cta {
            margin-left: 10px;
            font-weight: 400;
            white-space: nowrap;
            text-transform: none;
          }
        }

        ul {
          li {
            display: block;

            + li {
              margin-top: 16px;
            }

            a {
              font-size: 18px;

              span {
                background: $color-third;
                color: #fff;
                border-radius: 6px;
                font-size: 10px;
                padding: 4px 8px;
                margin-left: 5px;
                display: inline-block;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 900;
              }
            }
          }
        }

        .mega-menu-block {
          margin-top: 25px;
          border-radius: 9px;
          padding: 16px 16px 24px 16px;
          background: var(--block-bg-color);
          color: var(--block-text-color);

          @include tablet {
            margin-top: 25px;
          }

          .top-area {
            @include desktop {
              flex-wrap: nowrap;
            }
          }

          .left-area {
            padding-right: 16px;

            @include tablet {
              width: 100%;
              padding-right: 0;
              text-align: center;
              transform: translateY(-25px);
              margin-bottom: -25px;
            }

            img {
              width: 50px;
            }
          }

          .right-area {
            flex-grow: 1;

            @include tablet {
              text-align: center;
              margin-top: 5px;
            }

            h6 {
              color: inherit;
            }

            .rte {
              margin-top: 8px;
              color: $color-primary;
            }
          }

          .btn {
            width: 100%;
            margin-top: 16px;
            border-color: var(--block-text-color);
            color: var(--block-text-color);

            &:hover {
              background: var(--block-text-color);
              color: #fff;
            }
          }
        }
      }
    }

    .product-grid-area {
      padding-left: 40px;
      padding-bottom: 35px;
      width: 43%;
      background: $color-fourth;
      min-width: 43%;
      padding-top: 25px;
      overflow: hidden;

      .h4 {
        margin-bottom: 20px;
        padding-right: $site-padding;

        .link-title {
          color: $color-third;
        }

        .btn {
          margin: 0;
          margin-left: 15px;
          min-width: 0;
        }
      }

      .product-grid {
        padding-right: 30px;
        overflow: visible;

        > li {
          display: flex;

          > * {
            width: 100%;
          }
        }
      }

      .range-slider {
        padding-right: $site-padding;
      }
    }
  }
}
