.mobile-nav {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background: #fff;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.25s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.25s cubic-bezier(0.22, 1, 0.36, 1), visibility 0.25s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: 10;
  height: calc(100vh - #{$height-header--tablet});
  height: calc(var(--vh, 1vh) * 100 - var(--header-height));

  padding: 0;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  > ul {
    > li {
      > a {
        font-weight: 900;
        font-size: 24px;
        padding: 0 $site-spacing;
        text-transform: uppercase;
        transition: all 0.35s ease;

        &.open {
          background: $color-secondary;
          color: #fff;

          svg {
            transform: rotate(0);
            path {
              fill: #fff;
            }
          }
        }

        > .link-title {
          border-bottom: 1px solid rgba(#1e1f1d, 0.1);
          padding: 12px 0;
          width: 100%;
        }

        svg {
          transform: rotate(180deg);
          transition: all 0.35s ease;

          path {
            fill: $color-primary;
            transition: all 0.35s ease;
          }
        }
      }

      .mega-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        max-height: none;
        border: 0 none;
        padding: 0;
        box-shadow: none;

        overflow: hidden;
        max-height: 0px;
        transition: all 0.35s ease;

        .mega-menu-inner {
          padding: 0;

          > .flex {
            flex-wrap: wrap;

            > * {
              width: 100%;
            }

            .menu-area {
              padding: 0 $site-padding--tablet;

              .menu-block {
                width: 100%;
                margin-top: 40px;

                > .h4 {
                  font-size: 18px;

                  .cta {
                    font-size: 16px;
                  }
                }
              }
            }

            .product-grid-area {
              width: 100%;
              margin-top: 30px;
              padding-left: $site-padding--tablet;
              padding-top: 20px;

              .h4 {
                padding-right: $site-padding--tablet;

                @include tablet {
                  font-size: 18px;
                }
              }

              .product-grid {
                padding-left: $site-padding--tablet;

                @include tablet {
                  padding-left: 0px;
                  padding-right: 0;
                }
              }

              .range-slider {
                padding-right: $site-padding--tablet;
                margin-top: 30px;
              }
            }
          }
        }
      }

      &.account-sub-menu {
        > a {
          font-size: 16px;

          > .link-title {
            border: 0 none;
            width: 100%;
          }

          .link-icon {
            margin-right: 18px;

            img {
              width: 26px;
              height: 29px;
            }
          }
        }
      }
    }
  }
}
