.product-grid-item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-bottom: 0;
  }

  .product-image-area {
    width: 100%;
    position: relative;

    > a {
      display: block;
      position: relative;

      .object-fit--cover,
      .object-fit--contain {
        padding-bottom: 100%;

        &.hover-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          opacity: 0;
          visibility: hidden;
          transition: opacity 0.15s linear, visibility 0.15s linear;
        }
      }

      @include desktop {
        &:hover {
          .object-fit--cover,
          .object-fit--contain {
            &.hover-image {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }

  .product-info-area {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include tablet {
      flex-wrap: wrap;
    }

    .product-title {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 900;
      margin-bottom: 0;
    }

    .product-price {
      font-size: 16px;
      margin: 8px 0 0 0;

      @include tablet {
        font-size: 14px;
      }
    }
  }

  &.product-grid-item--small {
    .product-info-area {
      .product-title {
        font-size: 14px;
      }
    }
  }
}
