.product-subscription-picker,
.product-options {
  background: var(--product-secondary, #e5f5f7);
  padding: $site-spacing;
  padding-bottom: $site-spacing * 0.5;
  border-radius: 10px;

  @include tablet {
    margin: 0 -8px;
  }

  .choice-block,
  .product-option {
    &.subscription-choices {
      &:not(.shown) {
        display: none;
      }

      ul {
        li {
          input + label {
            @include tablet {
              padding: 9.5px 8px;

              .box-builder & {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    p,
    .option-title {
      font-size: 12px;
      font-weight: 600;
      margin: 0;
      display: block;
      text-transform: uppercase;
    }

    ul {
      li {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 25%;
        margin-top: 8px;
        margin-bottom: 8px;

        input {
          display: none;

          + label {
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 8px;
            display: flex;
            justify-content: center;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            transition: all 0.25s ease;

            @include tablet {
              font-size: 12px;
              padding: 12.5px 8px;
            }

            &.subscribe-label {
              padding-right: 30px;
            }

            span {
              position: absolute;
              left: 12px;
              background: #fff;
              font-size: 9px;
              text-transform: uppercase;
              top: 0;
              display: block;
              text-align: center;
              transform: translateY(-50%);
              padding: 1px 5px;
              border: 1px solid var(--product-primary, $color-sixth);
              color: var(--product-primary, $color-sixth);
              border-radius: 10px;
              line-height: 12px;
            }

            .info-trigger {
              position: absolute;
              right: $site-spacing;
              top: 50%;
              transform: translateY(-50%);
              line-height: 0;

              @include tablet {
                right: 10px;
              }

              &:hover:after {
                @media only screen and (max-width: 320px) {
                  transform: translate(-42%, 0);
                }
              }

              img {
                width: 17px;
                height: 17px;
              }
            }
          }

          &:checked {
            + label {
              box-shadow: 0 0 0 2px var(--product-primary, $color-sixth);
              z-index: 10;
            }
          }
        }
      }
    }
  }
}
