.quantity-selector-container {
  > p {
    font-size: 12px;
    letter-spacing: 1.2px;
    margin: 0 0 $site-spacing * 0.5 0;
    font-weight: 600;

    span {
      font-weight: 300;
    }
  }
}

.quantity-selector {
  border: 1px solid $color-border;
  border-radius: 10px;

  button {
    width: 42px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.15s, border-color 0.15s;
    padding: 0;
    background: transparent;
    border: 0 none;
    margin: 0;

    &:hover {
      background: transparent;
    }

    img,
    svg {
      width: 11px;
      height: 11px;

      path {
        stroke: $color-primary;
        transition: stroke 0.15s, fill 0.15s;
      }
    }
  }

  input {
    width: 42px;
    height: 44px;
    text-align: center;
    border: 0 none;
  }
}
