.quickview-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 60px $site-padding;
  transition: all 0.35s ease;

  @include tablet {
    padding: ($site-padding--tablet * 2) $site-padding--tablet;
  }

  &:not(.shown) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  > .inner {
    background: #fff;
    border-radius: 25px;
    padding: 16px 80px 40px 40px;
    position: relative;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    min-height: 300px;
    max-height: calc(100vh - 120px);
    max-height: calc((var(--vh) * 100) - 120px);
    max-width: 1250px;

    @include tablet {
      padding: $site-padding--tablet $site-padding--tablet ($site-padding--tablet * 2)
        $site-padding--tablet;
      max-height: calc(100vh - 64px);
      max-height: calc((var(--vh) * 100) - 64px);
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(#dedede, 50%);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      margin: 15px 0;
    }

    &.loading {
      &:before,
      &:after {
        opacity: 1;
        visibility: visible;
      }

      .top-bar {
        opacity: 0;
        visibility: hidden;
      }
    }

    &:before {
      content: '';
      width: 30px;
      height: 30px;
      display: block;
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
      background-image: url(liquid("{{ 'icon-loading.svg' | asset_url }}"));
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      animation: rotate 0.5s linear infinite;
      z-index: 2;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.35s ease, visibility 0.35s ease;
    }

    &:after {
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(#fff, 0.8);
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.35s ease, visibility 0.35s ease;
      z-index: 1;
      pointer-events: none;
      border-radius: 25px;
    }

    .top-bar {
      padding: 0;
      margin-right: -64px;
      margin-bottom: 10px;
      transition: all 0.35s ease;

      @include tablet {
        margin-right: 0;
      }

      a.flex {
        img {
          margin-right: 10px;
        }

        span {
          text-decoration: underline;
        }
      }

      .close-popup {
        img {
          @include tablet {
            width: 36px;
            height: 36px;
          }
        }
      }
    }

    .product-page {
      .product-top-area {
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 0;

        .product-image-area {
          width: 45%;

          @include tablet {
            width: 100%;
          }

          .product-features {
            width: 100%;
          }
        }

        .product-info-area {
          padding-left: 80px;
          width: 55%;

          @include tablet {
            width: 100%;
            padding-left: 0;
          }

          .inner {
            padding-right: 0;

            .product-type {
              @include tablet {
                font-size: 14px;
                margin-bottom: 10px;
              }
            }

            .product-title {
              @include tablet {
                font-size: 24px;
                line-height: 32 / 24;
              }
            }

            .product-card {
              padding: 25px;
              border-radius: 20px;
              box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
              width: 100%;

              @include tablet {
                margin: 0 -16px;
                padding: $site-padding--tablet $site-padding--tablet $site-padding--tablet 4px;
                width: calc(100% + 32px);
                border-radius: 0;
              }

              .image-area {
                width: 100px;

                @include tablet {
                  width: 70px;
                }
              }

              .info-area {
                width: calc(100% - 100px);
                padding-left: 24px;

                @include tablet {
                  width: calc(100% - 70px);
                  padding-left: 8px;
                }

                .flex-area {
                  @include tablet {
                    display: flex;
                    align-items: center;
                  }
                }

                h6 {
                  color: var(--product-primary);
                  margin: 0;

                  @include tablet {
                    font-size: 16px;
                  }
                }

                p {
                  font-size: 12px;
                  font-weight: 300;
                  margin-top: 8px;
                  opacity: 0.7;

                  @include tablet {
                    margin-left: 5px;
                    white-space: nowrap;
                  }
                }

                .product-atc-flex {
                  margin-top: $site-spacing;

                  @include tablet {
                    width: calc(100% + 16px);
                    margin-top: 0;
                  }

                  .btn {
                    min-width: 0;
                  }

                  li {
                    @include tablet {
                      width: auto;
                      margin-top: $site-padding--tablet;
                    }

                    &:last-child {
                      @include tablet {
                        margin-top: 0;

                        .btn {
                          font-size: 14px;
                          min-height: 44px;
                        }
                      }
                    }
                  }

                  .quantity-selector-container {
                    .quantity-selector {
                      button,
                      input {
                        @include tablet {
                          min-width: 30px;
                          width: 30px;
                          padding: 0;
                          flex-grow: 0;
                        }
                      }
                    }
                  }
                }
              }
            }

            .product-features {
              @include tablet {
                margin-left: -16px;
                margin-right: -16px;
                width: calc(100% + 32px);
              }
            }

            .percentage-breakdown {
              margin-top: 32px;

              @include tablet {
                margin-top: 24px;
              }
            }

            .product-accordion-area {
              .accordion-item {
                border-color: var(--product-primary);

                &:first-child {
                  border-top: 0 none;
                }

                &.open {
                  .accordion-header {
                    svg {
                      transform: rotate(180deg);
                    }
                  }
                }

                .accordion-header {
                  padding: 12px 8px;

                  p {
                    color: var(--product-primary);
                    font-size: 18px;
                    font-weight: 900;
                    text-transform: uppercase;

                    @include tablet {
                      font-size: 16px;
                    }
                  }

                  svg {
                    path {
                      &[stroke] {
                        stroke: var(--product-primary);
                      }

                      &[fill] {
                        fill: var(--product-primary);
                      }
                    }
                  }
                }

                .accordion-content {
                  .rte {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 2;
                    padding: 0 8px;
                  }

                  table {
                    width: calc(100% - 16px);
                    border-collapse: collapse;
                    margin: 0 8px 20px 8px;

                    th,
                    td {
                      padding: 6px 0;
                      text-align: right;
                    }

                    thead {
                      th {
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                      }
                    }

                    tbody {
                      tr {
                        td {
                          font-size: 10px;
                          text-align: right;
                          border-top: 1px solid var(--product-primary);
                          border-bottom: 1px solid var(--product-primary);

                          &:first-child {
                            text-align: left;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
