.search-dropdown {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background: #fff;
  transition: transform 0.25s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.25s cubic-bezier(0.22, 1, 0.36, 1), visibility 0.25s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: 10;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;

  max-height: calc(100vh - #{$height-header});
  max-height: calc((var(--vh, 1vh) * 100) - var(--header-height));

  border-top: 2px solid $color-third;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @include styled-scrollbar;

  @include desktop {
    padding-top: 10px;
  }

  @include tablet {
    max-height: calc(100vh - #{$height-header--tablet});
    max-height: calc((var(--vh, 1vh) * 100) - var(--header-height));
  }

  &.ajax-search--loading {
    &:before,
    &:after {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &:before {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    background-image: url(liquid("{{ 'icon-loading.svg' | asset_url }}"));
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    animation: rotate 0.5s linear infinite;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s ease, visibility 0.35s ease;
  }

  &:after {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#fff, 0.8);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s ease, visibility 0.35s ease;
    z-index: 1;
    pointer-events: none;
  }

  &:not(.open) {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
  }

  &:not(.open) {
    img:not(.placeholder):not(.loaded) {
      display: none;
    }
  }

  .wrapper {
    padding-top: 0;
    padding-bottom: 10px;

    @include tablet {
      padding-bottom: $site-spacing;
    }
  }

  .close-search-dropdown {
    position: absolute;
    top: 16px;
    right: $site-padding - 10px;
    z-index: 1;
    padding: 0;
    border: 0 none;
    border-radius: 0;
    background: transparent;

    @include tablet {
      top: $site-padding--tablet;
      right: $site-padding--tablet;
    }

    img {
      width: 40px;
      height: 40px;

      @include tablet {
        width: 32px;
        height: 32px;
      }
    }
  }

  .inner {
    position: relative;
    max-width: 740px;
    margin: 0 auto;

    @include tablet {
      margin-top: $site-spacing;
    }

    img {
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include tablet {
        width: 19px;
        height: 19px;
        left: 5px;
      }
    }

    input {
      font-size: 24px;
      font-weight: 500;
      border: 0 none;
      border-bottom: 1px solid #000;

      font-weight: 900;

      padding: 12px 0;
      padding-left: 55px;

      width: 100%;
      transition: border-color 0.25s ease;
      appearance: none;
      line-height: normal;

      background: transparent;

      text-transform: uppercase;

      overflow: hidden;

      &::placeholder {
        color: rgba(#1e1f1d, 0.3);
      }

      @include tablet {
        font-size: 18px;
        padding: 10px 0;
        padding-left: 40px;
      }
    }
  }

  .search-results {
    .search-results-header {
      @include tablet {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }

      .s5 {
        @include tablet {
          width: 100%;
          margin-bottom: 16px;
        }
      }
    }

    .search-results-products {
      margin-top: 20px;

      @include tablet {
        margin-top: 25px;
        overflow: visible;
      }

      .no-results {
        width: 100%;
      }

      .product-grid-item {
        width: calc(100% / 4);

        @include tablet {
          width: calc(100% / 2);
        }
      }
    }
  }
}
