<div class="article-grid-item">
  
  <div class="image-area">

    <a href="{{ article.url }}">
      {% assign img_size = '400x' %}

      {% render 'picture-element', image: article.image, size: img_size, alt: article.title, show_placeholder: true, extra_class: 'object-fit--cover' %}
    </a>

  </div>
  
  <div class="info-area">

    <div class="top-area flex f-j-between f-a-center">
      
      <p class="tags flex f-grid--xxs">

        {% assign url_split = article.url | split: "/" %}
        {% for tag in article.tags %}
          <a href="{{ url_split[1] }}/{{ url_split[2] }}/tagged/{{ tag }}" data-tag="{{ tag | handleize }}">{{ tag }}</a>
        {% endfor %}
      </p> 

      {{ article.published_at | time_tag: "%d/%m/%Y" }}


    </div>

    <a href="{{ article.url }}" class="article-title">{{ article.title }}</a>
    
  </div>

</div>