{%- assign show_comments = section.settings.show_comments -%}
{%- assign show_author = section.settings.author -%}
{%- assign show_date = section.settings.date -%}
{%- assign columns_size = article_columns | replace: '1', '' | prepend: 'lg_s1' -%}
{%- assign image_aspect_ratio = section.settings.image_aspect_ratio -%}

{%- capture article_excerpt -%}
	{{- article.excerpt_or_content | strip_html | strip | truncatewords: 50 -}}
{%- endcapture -%}

{%- capture article_image -%}
	{%- if article.image -%}
		<a href="{{ article.url }}" title="{{ article.title }}" aria-label="{{ article.title }}"
			class="post__image lazyload"
			style="padding-top: {{ image_aspect_ratio | times: 100 }}%;"
			{% if article.image %}
			data-bgset="{% render 'bgset', image: article.image %}"
			data-sizes="auto"
			data-parent-fit="cover"
			{% endif %}>
		</a>
		<noscript>
			<a class="post__image" style="background-image:url('{{ article.image | img_url: '2048x' }}'); padding-top: {{ image_aspect_ratio | times: 100 }}%;"></a>
		</noscript>
	{%- endif -%}
{%- endcapture -%}

{%- capture article_image_onboarding -%}
	<div class="post__image svg-placeholder" style="padding-top: {{ image_aspect_ratio | times: 100 }}%;">
		{{- 'image' | placeholder_svg_tag -}}
	</div>
{%- endcapture -%}

{%- capture article_tags -%}
	{%- for tag in article.tags -%}
		<a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="post__tags__tag">{{ tag | downcase }}</a>
	{%- endfor -%}
{%- endcapture -%}

{%- capture article_tags_onboarding -%}
	{%- for tag in (1..2) -%}
		<span class="post__tags__tag">{{ 'blog.article.onboarding.tag' | t }}</span>
	{%- endfor -%}
{%- endcapture -%}

{%- liquid
	unless onboarding
		assign article_url = article.url
		assign article_image = article_image
		assign article_title = article.title | strip_html
		assign article_excerpt = article_excerpt
		assign article_tags = article_tags
		assign author = 'blog.article.by_author' | t: author: article.author
		assign published_at = article.published_at | date: format: 'month_day_year'
		assign datetime = article.published_at | date: '%Y-%m-%d'
		assign comments_count = 'blog.blog_list_view.comment_count' | t: count: article.comments_count
	else
		assign article_url = '#!'
		assign article_image = article_image_onboarding
		assign article_title = 'blog.article.onboarding.title' | t
		assign article_excerpt = 'blog.article.onboarding.excerpt' | t
		assign article_tags = article_tags_onboarding
		assign author_name = 'blog.article.onboarding.author' | t
		assign author = 'blog.article.by_author' | t: author: author_name
		assign published_at = 'now' | date: format: 'month_day_year'
		assign datetime = 'now' | date: '%Y-%m-%d'
		assign comments_count = 'blog.blog_list_view.comment_count' | t: count: 0
	endunless
-%}

{%- capture article_class -%}blogModule-posts__post block s1 med_s12 {{ columns_size }}{% if settings.transition_grid_items %} will-animate{% endif %}{% unless article.image %} blogModule-posts__post--no-image{% else %} blogModule-posts__post--has-image{% endunless %}{% if onboarding %} onboarding-blog-content{% endif %}{%- endcapture -%}

<article class="{{ article_class }}"{% if settings.transition_grid_items %} data-animation="moFadeInUp"{% endif %} data-blog-post>
	<div class="blogModule-posts__post-block">
		{{- article_image -}}

		{%- if section.settings.tags and article_tags != blank -%}
			<div class="post__tags">
				{{- article_tags -}}
			</div>
		{%- endif -%}
	</div>

	<a href="{{ article_url }}" title="{{ article_title }}" aria-label="{{ article_title }}" class="article__info">
		{%- if show_date or show_author or show_comments and blog.comments_enabled? -%}
			<div class="article__meta">
				{%- if show_author -%}
					<span class="article__meta__author">{{ author }}</span>
				{%- endif -%}
				{%- if show_date -%}
					<span class="article__meta__date"><time pubdate datetime="{{ datetime }}">{{ published_at }}</time></span>
				{%- endif -%}
				{%- if show_comments and blog.comments_enabled? -%}
					<span class="article__meta__comment-count">{{ comments_count }}</span>
				{%- endif -%}
			</div>
		{%- endif -%}

		<h3 class="article__title" data-post-title>{{ article_title }}</h3>
		<p class="article__excerpt" data-post-excerpt>{{ article_excerpt }}</p>
	</a>
</article>