{% assign ss = section.settings %}

<div class="box-builder wrapper loading" data-box-builder rv-class-loading="data.loading">

  <div class="quickview-popup" data-quick-view-popup rv-class-shown="data.quickViewOpen" rv-on-click="controller.closeQuickViewFromPopup">
    
    <div class="inner" rv-class-loading="data.quickViewLoading" data-quick-view-popup-scroll >
      
      <div class="top-bar flex f-a-center f-j-between">
        
        <a href="#" class="flex f-a-center" rv-on-click="controller.closeQuickView">
          <img src="{{ 'ffc--icon-arrow-left.svg' | asset_url }}" alt="Back To Box">
          <span>Back to box</span>
        </a>

        <a class="close-popup" href="#" rv-on-click="controller.closeQuickView">
          <img src="{{ 'icon-close-circle.svg' | asset_url }}" alt="Back To Box">
        </a>

      </div>

      <div data-quick-view-popup-content></div>

    </div>

  </div>

  <script type="application/json" data-box-builder-json>
    
    {
      "products": [
        {% for block in section.blocks %}
          {{ all_products[block.settings.product] | json }}
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
      ],
      "limit": {{ ss.limit | json }},
      "singularItem": {{ ss.singular_item | json }},
      "pluralItem": {{ ss.plural_item | json }},
      "priceText":  {{ ss.price_text | json }},
      "quantity": 1,
      "buyType": "subscribe",
      "selectedPeriod": 0
    }

  </script>

  <div class="box-builder-flex flex f-grid">

    <div class="summary-area tablet-only">
      
      <h2>{{ ss.title }}</h2>

      <div class="box-switcher">
        <p>Product Type</p>

        <ul class="flex f-grid--xs">
          {% for link in menus[ss.switcher_menu].links %}
            <li>
              <a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      
      <div class="rte description">
        {{ ss.content }}
      </div>

    </div>
    
    <div class="product-area">
      
      <p>{{ ss.grid_title }}</p>

 
      <ul class="flex f-grid">
        <li rv-each-product="data.products">
          
          <div class="inner"> 
            
            <button rv-unless="product | isInBox data.boxSlots" class="add-button" rv-on-click="controller.addToBox">
              {% include 'ffc--icon-add' %}
            </button>

            <div class="already-added-flex flex f-a-center" rv-class-hide="product | isInBox data.boxSlots | not">
              
              <button type="button" rv-on-click="controller.removeFromBox">
                {% include 'ffc--icon-minus' %}
              </button>

              <button class="already-added" rv-on-click="controller.addToBox">
                <span rv-text="product | addedCount data.boxSlots"></span>
              </button>

              <button rv-on-click="controller.addToBox">
                {% include 'ffc--icon-plus' %}
              </button>

            </div>

            <div class="image-area" rv-on-click="controller.addToBox">
              <div class="object-fit--contain">
                <img rv-src="product.featured_image | getSizedImage '290x290'" rv-srcset="product.featured_image | getSrcSet '290x290'" rv-alt="product.title">
              </div>
            </div>

            <div class="info-area text-center">
              <p rv-text="product.title" class="product-title"></p>
              <a rv-href="product.url" class="product-more" rv-on-click="controller.quickViewProduct">Find out more</a>
            </div>

          </div>

        </li>
      </ul>
    </div>

    <div class="summary-area main-summary-area" data-mobile-summary rv-class-active="data.mobileSummaryOpen">

      <div class="tablet-only top-area">
        
        <div class="top-flex flex f-a-end f-j-between" rv-on-click="controller.openMobileSummary">
          <h6>Your Box</h6>

          <div class="flex f-a-end">

            <p rv-class-hide="data.boxSlots | addedAll">
              <span rv-text="data.boxSlots | totalAddedCount"></span>
              /
              <span rv-text="data.limit"></span>
            </p> 

            <p rv-if="data.boxSlots | addedAll">
              FULL
            </p>

            <button rv-on-click="controller.closeMobileSummary" rv-if="data.mobileSummaryOpen" data-close-mobile-summary>
              <img src="{{ 'ffc--icon-close-line.svg' | asset_url }}" alt="Close">
            </button>

            <button rv-unless="data.mobileSummaryOpen">
              <img src="{{ 'ffc--icon-angle-up.svg' | asset_url }}" alt="Open">
            </button>
          </div>

        </div>

        <ul class="progress-bar flex">
          <li rv-each-slot="data.boxSlots | sortedBoxSlots">
            <span rv-class-active="slot.product"></span>
          </li>
        </ul>

      </div>
      
      <h2 class="desktop-only">{{ ss.title }}</h2>


      <div class="box-switcher desktop-only">
        <p>Product Type</p>

        <ul class="flex f-grid--xs">
          {% for link in menus[ss.switcher_menu].links %}
            <li>
              <a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
 
      <ul class="box-slots flex f-grid--m--desktop f-grid--tablet">
        
        <li rv-each-slot="data.boxSlots">
          
          <div class="inner">
            
            <div class="image-area object-fit--contain">
              
              {% if ss.placeholder_url != blank %}
                <img rv-unless="slot.product.id" src="{{ ss.placeholder_url }}" alt="Empty">
              {% endif %}
              
              <img rv-if="slot.product.id" rv-src="slot.product.featured_image | getSizedImage '290x290'" rv-srcset="slot.product.featured_image | getSrcSet '290x290'" rv-alt="slot.product.title">

            </div>

            <button rv-on-click="controller.removeFromBox" rv-if="slot.product.id" class="remove-button">
              <img src="{{ 'icon-close-circle.svg' | asset_url }}" alt="Remove">
            </button>

          </div>

        </li>

      </ul>
 
      <div class="price-area"> 

        <div class="flex f-grid--xs f-a-end">
          <p class="product-prices">
            <span class='from' rv-if="data.priceVaries" rv-class-hide="data.boxSlots | boxFilled">From </span>
            <span class="money product-price" rv-text="data.buyType | fullPrice data.boxSlots data.selectedPeriod | money">
            </span>
          </p> 

          <p class="pack-info" rv-html="data.buyType | priceText">
           
          </p>

        </div>

        {% if ss.sub_price_text != blank %}
          <p class="subtext">
            {{ ss.sub_price_text }}
          </p>
        {% endif %}

      </div>

      <div class="product-subscription-picker">
        
        <div class="choice-block">
          <p>TYPE</p>

          <ul class="flex f-grid--xs">
            
            <li>
              
              <input type="radio" name="buy_type" value="subscribe" id="buyType1" rv-checked="data.buyType">

              <label for="buyType1" class="subscribe-label">
                SUBSCRIBE & SAVE

                <span rv-text="data.subscriptionSaving | append ' OFF'">

                </span>

                <div class="info-trigger" aria-label="{{ settings.subscription_tooltip }}" data-balloon-pos="up">
                  <img src="{{ 'icon-info.svg' | asset_url }}" alt="">
                </div>
              </label>

            </li>

            <li>
              
              <input type="radio" name="buy_type" value="one-time" id="buyType2" rv-checked="data.buyType">
              <label for="buyType2">
                ONE TIME PURCHASE
              </label>

            </li>

          </ul>

        </div>

        <div class="choice-block subscription-choices" rv-class-shown="data.buyType | showFrequencies data.boxSlots">
          <p>DELIVER EVERY</p>
          <ul class="flex f-grid--xs">
           <li rv-each-plan="data.plans">
             <input type="radio" name="selling_plan" rv-value="plan.index" rv-id="plan.id" rv-checked="data.selectedPeriod">
             <label rv-for="plan.id" rv-text="plan.title"></label>
           </li>
          </ul>
        </div>

      </div>

      <div class="error" rv-if="data.errorMessage | length" rv-text="data.errorMessage"></div>

      <ul class="product-atc-flex flex f-a-start f-grid--xs-hybrid" rv-class-shown="data.boxSlots | boxFilled">
        
        <li>
          <div class="quantity-selector-container">
            <p>
              QTY
              <span rv-html="data.quantity | getQuantityText"></span>
            </p>
            <div class="quantity-selector flex">
              <button type="button" rv-on-click="controller.decrementQuantity">
                {% include 'ffc--icon-minus' %}
              </button>
              <input type="text" data-quantity data-input min="1" max="999" name="quantity" rv-value="data.quantity">
              <button type="button" data-plus  rv-on-click="controller.incrementQuantity">
                {% include 'ffc--icon-plus' %}
              </button>
            </div>
          </div>
        </li>

        <li>
          <button rv-on-click="controller.addToCart" class="btn btn--has-loader" rv-class-btn--loading="data.loading" type="submit">
            <span rv-if="data.buyType | eq 'subscribe'">
              {{ 'products.form.subscribe' | t }}
            </span>
            <span rv-if="data.buyType | eq 'one-time'">
              {{ 'products.form.submit' | t }}
            </span>
          </button>

          <div class="rte rte--s under-atc-content desktop-only">
            {{ ss.under_atc_content }}
          </div>

          <div class="tablet-only accordion" data-toggle-group>
            <div class="accordion-item" data-toggle-item>
              <div class="accordion-header flex f-a-center f-j-between" data-toggle-trigger>
                <p>Delivery & Returns Information</p>
                {% include 'icon-plus-thin' %}
              </div>

              <div class="accordion-content" data-toggle-elem>
                <div class="rte rte--s">
                  {{ ss.under_atc_full_content }}
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>

      <div class="rte description desktop-only">
        {{ ss.content }}
      </div>

    </div>

  </div>

</div>