<div class="cart-table-row line-item" rv-data-variant-id="item.variant_id" rv-each-item="data.cart.displayItems">
    <div class="cart-table-cell cart-table-cell--product">
        <div class="cart-product">
           
            <a class="cart-product__thumb" rv-href="item.url" class="object-fit--contain">
                <div class="cart-product__thumb-img lazyloaded object-fit--contain">
                    <img loading="lazy" rv-src="item.image ">
                </div>
            </a> 

            <div class="cart-product__desc">
                <a class="cart-product__title" rv-href="item.url" rv-text="item.product_title"></a>
                <span class="cart-product__variant" rv-text="item.variant_title"></span>

                <small rv-each-prop="item | getProps"><span rv-text="prop.name"></span>: <span rv-text="prop.value"></span></small>

                <small rv-each-sub="item.subItems">
                    <span rv-text="sub.quantity | append 'x'"></span>
                    <span rv-text="sub.product_title"></span>
                </small>

                <span class="cart-product__selling-plan-name" rv-if="item.selling_plan_allocation" rv-text="item.selling_plan_allocation.selling_plan.name"></span>
            </div>
        </div>
    </div>

    <div class="cart-table-cell cart-table-cell--price">
        <div class="cart-product__price" rv-data-price="item.singlePrice">
            <span rv-data-money="item.singlePrice" rv-html="item.singlePrice | money"></span>
        </div>
    </div>

    <div class="cart-table-cell cart-table-cell--quantity">
        <div class="cart-product__quantity">
            <div class="js-counter counter inputGroup">
                <input readonly type="text" name="updates[]" class="inputCounter" rv-value="item.displayQuantity" rv-on-input="controller.updateQuantity" />
                <button class="inputCounter__btn inputCounter__btn--down" type="button" aria-label="{{ 'general.accessibility.decrease' | t }}" rv-on-click="controller.decrementQuantity" >
                    {%- render 'icon-minus' -%}
                </button>
                <button class="inputCounter__btn inputCounter__btn--up" type="button" aria-label="{{ 'general.accessibility.increase' | t }}" rv-on-click="controller.incrementQuantity">
                    {%- render 'icon-plus' -%}
                </button>
            </div>
        </div>
        <a href="#" rv-on-click="controller.removeItem" class="cart-product__remove">{{ 'cart.labels.remove' | t }}</a>
    </div>

    <div class="cart-table-cell cart-table-cell--total med_hide">
        <div class="cart-product__total-price" rv-html="item.line_price | money"></div>
    </div>
</div>