<div class="collection-hero landing-block">
  
  <div class="wrapper">
    
    <div class="flex f-grid f-a-center">
      
      <div class="content-area">
        
        <h1 class="hero-heading">{{ collection.title }}</h1>
        <div class="rte rte--l">
          {{ collection.description }}
        </div>

        {% if ss.available_online or ss.available_instore or ss.available_soon %}
          <ul class="flex f-grid--m--desktop f-grid--xs--tablet f-a-center icon-grid">

            <li>
              <span>{{ 'products.labels.availability' | t }}:</span>
            </li>

            {% if ss.available_online %}
              <li class="flex f-a-center">
                {% include 'icon-online' %}
                <p>{{ 'products.labels.online' | t }}</p>
              </li>
            {% endif %}
            
            {% if ss.available_instore %}
              <li class="flex f-a-center">
                {% include 'icon-instore' %}
                <p>{{ 'products.labels.instore' | t }}</p>
              </li>
            {% endif %}

            {% if ss.available_soon %}
              <li class="flex f-a-center">
                <p>{{ 'products.labels.coming_soon' | t }}</p>
              </li>
            {% endif %}
          </ul>
        {% endif %}
        
        {% if ss.subtext != blank %}
          <div class="rte rte--l subtext">
            {{ ss.subtext }}
          </div>
        {% endif %}

        

      </div>


      <div class="image-area">
        {% render 'picture-element', image: collection.image, size: '350x', alt: collection.title  %}
      </div>

      <div class="feature-area"> 
        
        <ul>
          
          {% for i in (1..5) %}
            {% capture icon_url %}feature_{{ i }}_icon{% endcapture %}
            {% capture icon_title %}feature_{{ i }}_title{% endcapture %}

            {% if ss[icon_title] == blank %}
              {% continue %}
            {% endif %}

            <li class="flex f-a-center">
              {% include 'icon-curly-arrow' %}
              {% if ss[icon_url] != blank %}
                
                {% if ss[icon_url] contains '.svg' or ss[icon_url] contains '.png' or ss[icon_url] contains '.jpg' %}
                  <img data-lazy data-src="{{ ss[icon_url] }}" alt="{{ ss[icon_title] | strip_html }}">
                {% else %}
                  {{ ss[icon_url] }}
                {% endif %}
              {% endif %}
              <p>
                {{ ss[icon_title] }}
              </p>
            </li>
          {% endfor %}

        </ul>

      </div>

    </div>


  </div>

</div>