{%- comment -%} Fonts {%- endcomment -%}
{%- assign heading_font = settings.type_heading_font -%}
{%- assign heading_font_bold = heading_font | font_modify: 'weight', 'bolder' -%}
{%- assign heading_font_italic = heading_font | font_modify: 'style', 'italic' -%}
{%- assign heading_font_bold_italic = heading_font_bold | font_modify: 'style', 'italic' -%}

{%- assign base_font = settings.type_base_font -%}
{%- assign base_font_medium = base_font | font_modify: 'weight', '+100' -%}
{%- assign base_font_bold = base_font | font_modify: 'weight', 'bolder' -%}
{%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
{%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}

{%- assign base_font_size = 14 | times: settings.type_base_size | divided_by: 100 | round: 2 -%}
{%- assign heading_font_size = 14 | times: settings.type_heading_size | divided_by: 100 | round: 2 -%}

{%- comment -%} Colors {%- endcomment -%}
{%- assign color_text = settings.color_text_new -%}
{%- assign color_background = settings.color_background_new -%}
{%- assign color_background_brightness = color_background | color_brightness | round -%}

{%- comment -%} Use white background if it's set to transparent {%- endcomment -%}
{%- if color_background == 'rgba(0,0,0,0)' -%}
	{%- assign color_background = 'rgba(255, 255, 255, 0)' -%}
{%- endif -%}

{%- comment -%} Button colors {%- endcomment -%}
{%- assign color_button_primary_bg = settings.color_button_primary_bg -%}
{%- assign color_button_primary_text = '#fff' -%}
{%- assign color_button_primary_border = color_button_primary_bg -%}
{%- assign color_button_primary_brightness = color_button_primary_bg | color_brightness | round -%}
{%- comment -%}
	Maximum color brightness is 255
	Change button text color to black if brightness is more than 85% ( 85% of 255 is ~215 )
	Change button border to match button text color in case button background is the same as the page body background
{%- endcomment -%}
{%- if color_button_primary_brightness > 215 -%}
	{%- assign color_button_primary_text = '#000' -%}
{%- endif -%}
{%- if color_button_primary_bg == color_background -%}
	{%- assign color_button_primary_border = color_button_primary_text -%}
{%- endif -%}

{%- assign color_button_secondary_bg = settings.color_button_secondary_bg -%}
{%- assign color_button_secondary_text = '#fff' -%}
{%- assign color_button_secondary_border = color_button_secondary_bg -%}
{%- assign color_button_secondary_brightness = color_button_secondary_bg | color_brightness | round -%}
{%- if color_button_secondary_brightness > 215 -%}
	{%- assign color_button_secondary_text = '#000' -%}
{%- endif -%}
{%- if color_button_secondary_bg == color_background -%}
	{%- assign color_button_secondary_border = color_button_secondary_text -%}
{%- endif -%}

{%- comment -%} Button alt is used for Dynamic checkout buttons (Buy it now) on PDP {%- endcomment -%}
{%- assign color_button_alt_text = color_button_primary_bg -%}
{%- assign color_button_alt_border = color_button_primary_border -%}
{%- if color_button_primary_bg == color_background -%}
	{%- if color_button_primary_brightness > 215 -%}
		{%- assign color_button_alt_text = '#000' -%}
		{%- assign color_button_alt_border = '#000' -%}
	{%- else %}
		{%- assign color_button_alt_text = '#fff' -%}
		{%- assign color_button_alt_border = '#fff' -%}
	{%- endif -%}
{%- endif -%}

{%- comment -%} Badge {%- endcomment -%}
{%- assign color_badge_bg = settings.color_badge_bg -%}
{%- assign color_badge_text = '#fff' -%}
{%- assign color_badge_bg_brightness = color_badge_bg | color_brightness | round -%}
{%- if color_badge_bg_brightness > 215 -%}
	{%- assign color_badge_text = '#000' -%}
{%- endif -%}

{%- comment -%} Table heading {%- endcomment -%}
{%- if color_background_brightness > 122 -%}
	{%- assign color_background_table_header = color_background | color_darken: 50 -%}
{%- else -%}
	{%- assign color_background_table_header = color_background | color_lighten: 50 -%}
{%- endif -%}

{%- comment -%} Search overlay opacity {%- endcomment -%}
{%- assign search_overlay_opacity = settings.search_overlay_opacity | times: 0.01 | round: 2 -%}

{%- comment -%} Preload fonts {%- endcomment -%}
<link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ base_font | font_url }}" type="font/woff2" crossorigin>

{%- if heading_font_bold -%}
	<link rel="preload" as="font" href="{{ heading_font_bold | font_url }}" type="font/woff2" crossorigin>
{%- endif -%}

{%- if heading_font_italic -%}
	<link rel="preload" as="font" href="{{ heading_font_italic | font_url }}" type="font/woff2" crossorigin>
{%- endif -%}

{%- if heading_font_bold_italic -%}
	<link rel="preload" as="font" href="{{ heading_font_bold_italic | font_url }}" type="font/woff2" crossorigin>
{%- endif -%}

{%- if base_font_italic -%}
 	<link rel="preload" as="font" href="{{ base_font_italic | font_url }}" type="font/woff2" crossorigin>
{%- endif -%}

{%- if base_font_medium -%}
	<link rel="preload" as="font" href="{{ base_font_medium | font_url }}" type="font/woff2" crossorigin>
{%- endif -%}

{%- if base_font_bold -%}
	<link rel="preload" as="font" href="{{ base_font_bold | font_url }}" type="font/woff2" crossorigin>
{%- endif -%}

{%- if base_font_bold_italic -%}
	<link rel="preload" as="font" href="{{ base_font_bold_italic | font_url }}" type="font/woff2" crossorigin>
{%- endif -%}

{% style %}
	:root {
		---color-background: {{ settings.color_background_new }};
		---color-background-alpha-25: {{ settings.color_background_new | color_modify: 'alpha', 0.25 }};
		---color-background-alpha-35: {{ settings.color_background_new | color_modify: 'alpha', 0.35 }};
		---color-background-alpha-60: {{ settings.color_background_new | color_modify: 'alpha', 0.6 }};
		---color-background-overlay: {{ settings.color_background_new | color_modify: 'alpha', 0.9 }};
		---color-background-table-header: {{ color_background_table_header }};
		---color-heading: {{ settings.color_heading_new }};
		---color-text: {{ settings.color_text_new }};
		---color-text-alpha-5: {{ settings.color_text_new | color_modify: 'alpha', 0.05 }};
		---color-text-alpha-8: {{ settings.color_text_new | color_modify: 'alpha', 0.08 }};
		---color-text-alpha-10: {{ settings.color_text_new | color_modify: 'alpha', 0.1 }};
		---color-text-alpha-25: {{ settings.color_text_new | color_modify: 'alpha', 0.25 }};
		---color-text-alpha-30: {{ settings.color_text_new | color_modify: 'alpha', 0.3 }};
		---color-text-alpha-55: {{ settings.color_text_new | color_modify: 'alpha', 0.55 }};
		---color-text-alpha-60: {{ settings.color_text_new | color_modify: 'alpha', 0.6 }};
		---color-label: {{ settings.color_text_new | color_modify: 'alpha', 0.8 }};
		---color-input-placeholder: {{ settings.color_text_new | color_modify: 'alpha', 0.5 }};
		---color-cart-text: {{ settings.color_text_new | color_modify: 'alpha', 0.6 }};
		---color-border: {{ settings.color_border_new }};
		---color-border-dark: {{ settings.color_border_new | color_darken: 35 }};
		---color-error: {{ settings.color_error_new }};
		---color-badge-text: {{ color_badge_text }};
		---color-badge-bg: {{ color_badge_bg }};
		---color-button-primary-bg: {{ color_button_primary_bg }};
		---color-button-primary-text: {{ color_button_primary_text }};
		---color-button-primary-border: {{ color_button_primary_border }};
		---color-button-secondary-bg: {{ color_button_secondary_bg }};
		---color-button-secondary-text: {{ color_button_secondary_text }};
		---color-button-secondary-border: {{ color_button_secondary_border }};
		---color-button-alt-bg: transparent;
		---color-button-alt-text: {{ color_button_alt_text }};
		---color-button-alt-border: {{ color_button_alt_border }};
		---color-search-overlay: {{ settings.search_overlay_color | color_modify: 'alpha', search_overlay_opacity }};

		---body-letter-spacing: {{ settings.type_base_letter_spacing | append: 'px' }};
		---heading-letter-spacing: {{ settings.type_heading_letter_spacing | append: 'px' }};

		---body-font-family: 'sofia-pro', {{ base_font.family }}, {{ base_font.fallback_families }};
		---heading-font-family: 'sofia-pro', {{ heading_font.family }}, {{ heading_font.fallback_families }};

		---body-font-weight: {{ base_font.weight | default: 400 }};
		---heading-font-weight: {{ heading_font.weight | default: 400 }};

		---body-font-style: {{ base_font.style }};
		---heading-font-style: {{ heading_font.style }};

		---body-font-weight-medium: {{ base_font_medium.weight | default: 400 }};
		---body-font-weight-bold: {{ base_font_bold.weight | default: 700 }};

		---heading-font-weight-bold: {{ heading_font_bold.weight | default: 700 }};

		---font-adjust-body: {{ settings.type_base_size | divided_by: 100.0 }};
		---font-adjust-heading: {{ settings.type_heading_size | divided_by: 100.0 }};

		---image-size: {{ settings.image_size | default: 'cover' }};
		---image-aspect-ratio: {{ settings.image_aspect_ratio | times: 100 | append: '%' }};
		---image-aspect-ratio-half: {{ settings.image_aspect_ratio | times: 50 | append: '%' }};

		---icon-loader: url( "{{ 'loader.svg' | asset_url }}" );
		---icon-check: url( "{{ 'icon-check.svg' | asset_url }}" );
		---icon-zoom-in: url( "{{ 'icon-zoom-in.svg' | asset_url }}" );
		---icon-zoom-out: url( "{{ 'icon-zoom-out.svg' | asset_url }}" );

		--header-height: 120px;
		--collection-featured-block-height: none;

		{% comment %} Dynamic variables {% endcomment %}
		--overlay-color: #000;
		--overlay-opacity: 0;
	}

	{{ heading_font | font_face: font_display: 'swap' }}
	{{ base_font | font_face: font_display: 'swap' }}

	{%- if heading_font_bold -%}
		{{ heading_font_bold | font_face: font_display: 'swap' }}
	{%- endif -%}
	{%- if heading_font_italic -%}
		{{ heading_font_italic | font_face: font_display: 'swap' }}
	{%- endif -%}
	{%- if heading_font_bold_italic -%}
		{{ heading_font_bold_italic | font_face: font_display: 'swap' }}
	{%- endif -%}

	{%- if base_font_bold -%}
		{{ base_font_bold | font_face: font_display: 'swap' }}
	{%- endif -%}
	{%- if base_font_medium -%}
		{{ base_font_medium | font_face: font_display: 'swap' }}
	{%- endif -%}
	{%- if base_font_italic -%}
		{{ base_font_italic | font_face: font_display: 'swap' }}
	{%- endif -%}
	{%- if base_font_bold_italic -%}
		{{ base_font_bold_italic | font_face: font_display: 'swap' }}
	{%- endif -%}
{% endstyle %}