<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 40 40">
    <g fill="#009BAA" clip-path="url(#clip0)">
        <path d="M21.226 13l-5.4 3.842c.258.57.383 1.192.365 1.818-.018.626-.177 1.24-.467 1.794l4.914 4.2c.508-.523 1.141-.907 1.84-1.116l-.236-10.08c-.363-.092-.707-.247-1.016-.458z"/>
        <path d="M20 0c-3.956 0-7.822 1.173-11.111 3.37-3.29 2.198-5.853 5.322-7.367 8.976C.01 16.001-.388 20.022.384 23.902c.772 3.88 2.677 7.443 5.474 10.24 2.797 2.797 6.36 4.702 10.24 5.474 3.88.771 7.901.375 11.556-1.138 3.654-1.514 6.778-4.078 8.975-7.367C38.827 27.822 40 23.956 40 20c0-5.304-2.107-10.391-5.858-14.142C30.392 2.108 25.304 0 20 0zm6.888 31.022c-.39.433-.863.781-1.392 1.024-.529.243-1.102.376-1.684.39h-.1c-2.368 0-4.324-1.966-4.382-4.432-.016-.675.115-1.346.384-1.966l-5.028-4.306c-.71.588-1.598.919-2.52.938h-.098c-1.094.012-2.149-.41-2.931-1.175-.783-.765-1.23-1.81-1.242-2.904-.012-1.094.41-2.149 1.175-2.931.765-.783 1.81-1.23 2.904-1.242 1.07-.033 2.108.357 2.892 1.086l5.29-3.768c-.28-.594-.371-1.26-.26-1.906.11-.648.418-1.245.88-1.711.462-.467 1.056-.78 1.702-.898.646-.117 1.312-.033 1.909.242.596.274 1.094.725 1.425 1.292.332.567.48 1.222.427 1.876-.053.655-.307 1.277-.726 1.782-.42.505-.984.87-1.617 1.043l.232 9.928c2.16.214 3.9 2.098 3.954 4.412.034 1.19-.394 2.346-1.194 3.226z"/>
    </g>
    <defs>
        <clipPath id="clip0">
            <path fill="#fff" d="M0 0H40V40H0z"/>
        </clipPath>
    </defs>
</svg>
