<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none" viewBox="0 0 36 36">
    <rect width="36" height="36" fill="#1E1F1D" opacity=".95" rx="7.364"/>
    <path fill="#fff" stroke="#fff" stroke-width=".744" d="M25.174 16.982h-6.142v-6.134c0-.32-.096-.57-.288-.754-.192-.184-.44-.276-.744-.276s-.552.092-.744.276c-.192.183-.288.435-.288.754v6.134h-6.142c-.304 0-.548.092-.732.276-.184.183-.276.427-.276.73 0 .32.092.571.276.755.184.184.428.276.732.276h6.142v6.133c0 .304.096.551.288.743.192.192.44.287.744.287s.552-.095.744-.287c.192-.192.288-.44.288-.743v-6.134h6.142c.304 0 .548-.091.732-.275.184-.184.276-.435.276-.755 0-.303-.092-.547-.276-.73-.184-.184-.428-.276-.732-.276z"/>
</svg>
