<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 40 40">
    <g clip-path="url(#clip0)">
        <path fill="#8B38B2" d="M20 0c-3.956 0-7.822 1.173-11.111 3.37-3.29 2.198-5.853 5.322-7.367 8.976C.01 16.001-.388 20.022.384 23.902c.772 3.88 2.677 7.443 5.474 10.24 2.797 2.797 6.36 4.702 10.24 5.474 3.88.771 7.901.375 11.556-1.138 3.654-1.514 6.778-4.078 8.975-7.367C38.827 27.822 40 23.956 40 20c0-5.304-2.107-10.391-5.858-14.142C30.392 2.108 25.304 0 20 0zm8.884 8c-.532 7.896-6.668 7.4-6.668 7.4-.764-6.8 6.668-7.4 6.668-7.4zM11.55 4.156c6.676 1.496 4.814 8.718 4.814 8.718C9.072 9.8 11.55 4.156 11.55 4.156zm5.698 16.91c-8.676-.894-7.4-10.316-7.4-10.316 9.69 2.804 7.4 10.316 7.4 10.316zm3.8 13.624c.008.21-.027.42-.102.616-.076.196-.19.375-.336.526-.145.151-.32.271-.514.353-.193.083-.4.125-.611.125-.21 0-.418-.042-.611-.125-.194-.082-.369-.202-.514-.353-.146-.151-.26-.33-.335-.526-.076-.197-.11-.406-.103-.616V8.478c-.008-.21.027-.42.102-.615.076-.197.19-.376.335-.527.146-.151.321-.271.515-.353.193-.083.4-.125.611-.125.21 0 .418.042.611.125.194.082.369.202.514.353.146.151.26.33.335.527.076.196.11.405.103.615V34.69zm.662-11.388c-.974-8.668 8.504-9.424 8.504-9.424-.674 10.064-8.5 9.424-8.5 9.424h-.004z"/>
    </g>
    <defs>
        <clipPath id="clip0">
            <path fill="#fff" d="M0 0H40V40H0z"/>
        </clipPath>
    </defs>
</svg>
