<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 40 40">
    <g fill="#009BAA" clip-path="url(#clip0)">
        <path d="M25.043 10.03c-.22-.366-1.182-.4-1.588-.4h-6.822c-.4 0-1.364.044-1.584.4-.344.57.15 2.022 1.164 3.658 2.466-.967 5.206-.967 7.672 0 1.086-1.748 1.468-3.14 1.158-3.658z"/>
        <path d="M20.052 0C16.096 0 12.229 1.173 8.94 3.37c-3.289 2.198-5.852 5.322-7.366 8.976C.06 16.001-.336 20.022.436 23.902c.772 3.88 2.677 7.443 5.474 10.24 2.797 2.797 6.36 4.702 10.24 5.474 3.88.771 7.9.375 11.555-1.138 3.655-1.514 6.779-4.078 8.976-7.367 2.198-3.289 3.37-7.155 3.37-11.111 0-5.304-2.106-10.391-5.857-14.142C30.444 2.108 25.356 0 20.052 0zm4.516 30.078h-9.032c-3.122-1.52-5.274-4.522-5.274-8.022 0-2.768 1.334-5.246 3.434-6.914-1.24-1.924-2.4-4.498-1.322-6.306.492-.826 1.632-1.812 4.254-1.82h6.834c2.626 0 3.764 1 4.258 1.818 1.076 1.8 0 4.302-1.312 6.308 2.102 1.668 3.436 4.144 3.436 6.914 0 3.5-2.154 6.502-5.276 8.022z"/>
    </g>
    <defs>
        <clipPath id="clip0">
            <path fill="#fff" d="M0 0H40V40H0z"/>
        </clipPath>
    </defs>
</svg>
