<table class="ffc--table">
  <thead>
    <th colspan="1"></th>
    <th>Per 100g</th>
    <th>{{ product.metafields.custom_fields.table_per_header | default: ss.table_per_header}}</th>
    <th>%RI*</th>
  </thead> 

  <tbody>
    {% for row in rows %}
      
      <tr>
        <td>{{ row.title }}</td>
        <td>{{ row.column_1_content }}</td>
        <td>{{ row.column_2_content }}</td>
        <td>{{ row.column_3_content }}</td>
      </tr>

    {% endfor %}
  </tbody>
</table>