<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 40 40">
    <g clip-path="url(#clip0)">
        <path fill="#009BAA" d="M20 0c-3.956 0-7.822 1.173-11.111 3.37-3.29 2.198-5.853 5.322-7.367 8.976C.01 16.001-.388 20.022.384 23.902c.772 3.88 2.677 7.443 5.474 10.24 2.797 2.797 6.36 4.702 10.24 5.474 3.88.771 7.901.375 11.556-1.138 3.654-1.514 6.778-4.078 8.975-7.367C38.827 27.822 40 23.956 40 20c0-5.304-2.107-10.391-5.858-14.142C30.392 2.108 25.304 0 20 0zm7.114 29.048H13.138V26.8l8.114-9.73c.854-1.046 1.426-2.122 1.426-2.82 0-1.4-1.142-2.376-2.758-2.376-1.838 0-2.884 1.2-3.136 3l-3.772-.626C13.52 10.54 15.928 8 20.078 8s6.846 2.502 6.846 6.274c0 2-.95 3.77-2.282 5.26l-4.88 5.61h7.352v3.904z"/>
    </g>
    <defs>
        <clipPath id="clip0">
            <path fill="#fff" d="M0 0H40V40H0z"/>
        </clipPath>
    </defs>
</svg>
