<svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" fill="none" viewBox="0 0 13 8">
    <path fill="#60B345" d="M7.503 6.872l5.25-5.347c.165-.181.247-.39.247-.627s-.082-.445-.246-.626C12.576.09 12.37 0 12.139 0c-.233 0-.438.09-.616.272l-4.636 4.72L2.251.272C2.074.09 1.868 0 1.636 0c-.233 0-.438.09-.615.272C.924.369.855.463.815.553.775.644.754.76.754.898c0 .14.02.254.061.345.041.09.11.184.206.282l5.25 5.347c.179.18.384.271.616.271.233 0 .438-.09.616-.271z"/>
</svg>
