<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 40 40">
    <g clip-path="url(#clip0)">
        <path fill="#8B38B2" d="M20 0c-3.956 0-7.822 1.173-11.111 3.37-3.29 2.198-5.853 5.322-7.367 8.976C.01 16.001-.388 20.022.384 23.902c.772 3.88 2.677 7.443 5.474 10.24 2.797 2.797 6.36 4.702 10.24 5.474 3.88.771 7.901.375 11.556-1.138 3.654-1.514 6.778-4.078 8.975-7.367C38.827 27.822 40 23.956 40 20c0-5.304-2.107-10.391-5.858-14.142C30.392 2.108 25.304 0 20 0zm11.896 20.36c-3.4 3.932-12.372 10.4-22.104 9.85-9.732-.55 2.56-4.626 2.56-4.626s6.774-5.488 9.952-11.314c1.888-3.456 3.936-4 5.974-2.926 0 0-1.16 3.974 4.304 5.904.246 1.28.078 2.228-.686 3.112zm.516-3.894c-4.478-2.114-3.3-4.974-3.3-4.974.676.354 1.4.538 1.964 1.144 2.924-3.092-.456-4.212-.238-4.6.218-.388.494-.172.64-.496.146-.324.484-.048.984.586 1.648 2.65.832 4.722-.2 6.14.298.414.876 2.534.15 2.2z"/>
    </g>
    <defs>
        <clipPath id="clip0">
            <path fill="#fff" d="M0 0H40V40H0z"/>
        </clipPath>
    </defs>
</svg>
