<svg xmlns="http://www.w3.org/2000/svg" width="56" height="36" fill="none" viewBox="0 0 56 36">
    <g clip-path="url(#clipCurly)">
        <path fill="#8B38B2" d="M2.482 29.672l1.732 1 2-3.464 1-1.732c8.05-13.943 25.562-19.075 39.732-11.817l-8.333 2.232c-.547.147-.846.666-.7 1.213.146.546.666.846 1.212.7l10.792-2.892c.273-.073.51-.283.61-.456.1-.173.163-.483.09-.756l-3.892-9.06c-.146-.546-.666-.846-1.212-.7-.546.147-.846.666-.7 1.213l3.27 6.737C32.91 4.17 14.081 9.58 5.481 24.476l-3 5.196z"/>
    </g>
    <defs>
        <clipPath id="clipCurly">
            <path fill="#fff" d="M0 0H56V36H0z"/>
        </clipPath>
    </defs>
</svg>
