<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" fill="none" viewBox="0 0 10 6">
    <path fill="#000" d="M5.877 5.521l3.938-3.938c.123-.133.185-.287.185-.462 0-.174-.062-.328-.185-.461-.133-.133-.287-.2-.461-.2-.175 0-.328.067-.462.2L5.415 4.137 1.94.66c-.134-.133-.288-.2-.462-.2-.174 0-.328.067-.462.2C.944.732.892.8.862.868c-.031.066-.047.15-.047.253 0 .103.016.188.047.254.03.067.082.136.153.208L4.954 5.52c.133.134.287.2.461.2.175 0 .329-.066.462-.2z"/>
</svg>
 