<svg xmlns="http://www.w3.org/2000/svg" width="15" height="8" fill="none" viewBox="0 0 15 8">
    <path fill="#fff" d="M8.266.304l6.432 5.988c.201.203.302.437.302.702 0 .265-.1.5-.302.702-.217.203-.469.304-.753.304-.285 0-.536-.101-.754-.304L7.513 2.409 1.834 7.696C1.616 7.899 1.365 8 1.08 8c-.284 0-.536-.101-.753-.304-.118-.11-.201-.215-.252-.316C.025 7.28 0 7.15 0 6.994s.025-.284.075-.386c.05-.101.134-.206.252-.316L6.759.304C6.977.101 7.228 0 7.513 0c.284 0 .536.101.753.304z"/>
</svg>
