<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32">
    <circle cx="16" cy="16" r="16" fill="#8B38B2"/>
    <path fill="#fff" stroke="#fff" stroke-width=".1" d="M17.95 20.31h3.543c.262 0 .48-.206.48-.471v-3.417c0-.264-.217-.48-.48-.48h-3.544c-.273 0-.48.217-.48.48v3.417c0 .264.209.472.48.472zm3.062-3.407v2.456h-2.59v-2.457h2.59z"/>
    <path fill="#fff" d="M12.55 19.755c0-.566.86-.566.86 0 0 .65.144 1.425-.43 1.425s-.43-.776-.43-1.425z"/>
    <path fill="#fff" stroke="#fff" stroke-width=".3" d="M6.938 11.51l-.005.008-.003.007c-.098.21-.107.456-.06.701.047.247.152.504.296.75.27.459.688.894 1.159 1.143v9.128c0 .32.26.58.58.58h14.19c.319 0 .58-.26.58-.58V14.12c.579-.3.995-.804 1.235-1.293.127-.257.207-.514.235-.742.027-.22.009-.438-.093-.594l-2.032-3.33h0l-.003-.005c-.11-.166-.291-.27-.496-.27H9.478c-.222 0-.416.122-.51.305l-2.03 3.32zm5.089-2.463l-.66 2.197H8.462l1.336-2.197h2.228zm-.028 7.956h2.391v5.664H12v-5.664zm-1.152-.58v6.244H9.485v-8.245c.882.025 1.703-.37 2.23-1.042 1.085 1.386 3.2 1.385 4.285 0 1.085 1.385 3.2 1.386 4.285 0 .527.673 1.35 1.068 2.238 1.042v8.245h-6.98v-6.245c0-.315-.25-.58-.572-.58h-3.552c-.323 0-.572.265-.572.58zm8.58-5.179H16.58V9.047h2.193l.653 2.197zm-4.008 0h-2.845l.66-2.197h2.185v2.197zm4.561-2.197h2.22l1.344 2.197h-2.91l-.654-2.197zm-9.331 3.791c-.777.734-2.021.479-2.481-.442h2.806c-.082.166-.191.314-.325.442zm4.613-.442c-.56 1.144-2.25 1.144-2.81 0h2.81zm1.477 0h2.807c-.083.166-.192.314-.326.442-.777.734-2.02.479-2.48-.442zm7.094 0c-.56 1.144-2.249 1.144-2.81 0h2.81z"/>
</svg>
