<div class="wrapper">
      
  <div class="title-area text-center">
    <h2 class="h3">{{ bs.title }}</h2>
  </div>

  <div class="products-area">
    
    <ul class="flex f-grid"
    data-keen-slider='{
      "slidesPerView": 1.4,
      "enableWhen": "(max-width: 834px)",
      "arrows": false
    }'>
      
      {% assign addon_products = meta_obj.related_products | split: "|" %}

      {% for handle in addon_products %}
        {% assign the_product = all_products[handle] %}

        {% if the_product == blank %}
          {% continue %}
        {% endif %}

        <li class="">
          {% include 'product-grid-item', product: the_product %}
        </li>
      {% else %}

        {% assign done_fallback = false %}
        {% assign limit = 3 %}

        {% for tag in product.tags %}
          {% if tag contains 'related-collection--' %}
            {% assign col_handle = tag | remove: "related-collection--" %}

            {% for the_product in collections[col_handle].products limit: 4 %}
              {% if limit == 0 %}
                {% break %}
              {% endif %}

              {% if the_product.handle == product.handle %}
                {% continue %}
              {% endif %}

              <li class="">
                {% include 'product-grid-item', product: the_product %}
              </li>

              {% assign limit = limit | minus: 1 %}
            {% endfor %}

            {% assign done_fallback = true %}
            {% break %}

          {% endif %}
        {% endfor %}

        {% if meta_obj.related_products == blank and bs.fallback != blank and done_fallback == false %}
          {% for the_product in collections[bs.fallback].products limit: 4 %}

            {% if limit == 0 %}
              {% break %}
            {% endif %}

            {% if the_product.handle == product.handle %}
              {% continue %}
            {% endif %}

            <li class="">
              {% include 'product-grid-item', product: the_product %}
            </li>

            {% assign limit = limit | minus: 1 %}
          {% endfor %}
        {% endif %}

      {% endfor %}

    </ul>

  </div>


</div>

