<div class="section--inner" style="background: {{ bs.background }};">
  
  <div class="wrapper">
    
    <div class="flex f-grid f-a-center" >
      
      <div class="content-area">

        <{{ bs.title_tag }} class="h3">
          {{ bs.title }}
        </{{ bs.title_tag }}>

        {% if bs.content != blank %}
          <div class="rte">
            {{ bs.content }}
          </div>
        {% endif %}

        {% if bs.cta_title != blank %}
          <a href="{{ bs.cta_url }}" class="btn">
            {{ bs.cta_title }}
          </a>
        {% endif %}
        
        
      </div>



      <div class="slider-area">
        
        <ul class="keen-slider" data-keen-slider='{
          "arrows": true,
          "dots": true,
          "loop": true,
          "responsive": [
            {
              "breakpoint": "834px",
              "settings": {
                "arrows": false
              }
            }
          ]
        }'>
          
          {% for i in (1..5) %}
            {% capture icon_url %}slide_{{ i }}_icon{% endcapture %}
            {% capture icon_title %}slide_{{ i }}_title{% endcapture %}
            {% capture icon_content %}slide_{{ i }}_content{% endcapture %}

            {% if bs[icon_title] == blank %}
              {% continue %}
            {% endif %}

            <li class="keen-slider__slide text-center">
              <img data-lazy data-src="{{ bs[icon_url] }}" alt="{{ bs[icon_title] | strip_html }}">
              <p>
                {{ bs[icon_title] }}
              </p>
              <div class="rte rte--xs">
                {{ bs[icon_content ]}}
              </div>
            </li>
          {% endfor %}


        </ul>

      </div>

    </div>

  </div>

</div>