<div class="wrapper">
  
  <div class="flex f-grid--m-hybrid--desktop f-grid--tablet f-a-center--desktop">
    
    <div class="icon-area">
      <img data-lazy data-src="{{ bs.icon_url }}" alt="{{ bs.title | strip_html }}">
    </div>

    <div class="content-area">
      <{{ bs.title_tag }} class="h4">
        <a {% if bs.cta_url != blank %}href="{{ bs.cta_url }}"{% endif %}>{{ bs.title }}</a>
      </{{ bs.title_tag }}>

      <div class="rte rte--s">
        {{ bs.content }}
      </div>
    </div>

    <div class="button-area">
      <a href="{{ bs.cta_url }}" class="btn btn--small">{{ bs.cta_title }}</a>
    </div>

  </div>

</div>