<div class="wrapper">
      
  {% if bs.title != blank %}
    <div class="title-area text-center">
      <{{ bs.title_tag }} class="{{ bs.title_size }}" style="color: {{ bs.title_color }};">
        {{ bs.title }}
      </{{ bs.title_tag }}>
    </div>
  {% endif %}

  <div class="products-area">
    
    <ul class="flex f-grid--m--desktop f-grid--tablet"

      {% if bs.mobile_grid_style == 'slider' %}
        data-keen-slider='{
          "slidesPerView": 1.4,
          "enableWhen": "(max-width: 834px)",
          "arrows": false
        }'
      {% endif %}
    >

      {% assign the_collection = collection %}

      {% if bs.collection != blank %}
        {% assign the_collection = collections[bs.collection] %}
      {% endif %}
      
      {% for the_product in the_collection.products limit: bs.limit %}
        <li>
          {% include 'product-grid-item', product: the_product %}
        </li>
      {% endfor %}

    </ul>

  </div>


</div>

