
<div class="section--inner section--{{ block.id }}" data-lazy data-bg="{{ bs.background_image | img_url: '1920x' }};" style="--title-color: {{ bs.title_color }};">
  
  <div class="wrapper">
    
    <div class="content-area">

      {% if bs.title != blank %}
        <{{ bs.title_tag }} class="h3">{{ bs.title }}</{{ bs.title_tag }}>
      {% endif %}

      {% if bs.content != blank %}
        <div class="rte rte--xl">
          {{ bs.content }}
        </div>
      {% endif %} 


      <form action="/pages/{{ settings.store_locator_page }}" method="GET">
        
        <input type="text" required name="bh-sl-address" placeholder="Enter your postcode...">

        <button type="submit">
          <img data-lazy data-src="{{ 'icon-pin.svg' | asset_url }}" alt="Search">
        </button>

      </form>

      

    </div>

  </div>


</div>