

<div class="wrapper" style="--block-primary: {{ bs.primary_color }};">
  
  <div class="image-and-text-flex flex f-wrap f-a-center">

    <a href="{{ ss.button_url }}" class="image-area image-side--{{ bs.image_side }} flex f-a-center">
      <div class="image-area--inner flex">

        {% if bs.image_2 != blank %}
          <div class="sub-image-1" data-parallax='{
            "orientation": "down",
            "scale": 1.3,
            "responsive": [
              {
                "breakpoint": "834px",
                "settings": {
                  "scale": 1
                }
              }
            ]
          }'>
            {% render 'picture-element', image: bs.image, image_mobile: bs.image_mobile, size: '500x', alt: bs.title  %}
          </div>

          <div class="sub-image-2" data-parallax='{
            "orientation": "up",
            "scale": 1.3,
            "responsive": [
              {
                "breakpoint": "834px",
                "settings": {
                  "scale": 1
                }
              }
            ]
          }'>
            {% render 'picture-element', image: bs.image_2, image_mobile: bs.image_2_mobile, size: '500x', alt: bs.title  %}
          </div>
        {% else %}
          <div class="main-image">
            {% render 'picture-element', image: bs.image, image_mobile: bs.image_mobile, size: '500x', alt: bs.title  %}
          </div>
        {% endif %}
      </div>

      {% if bs.rotated_title %}
        <div class="rotated-title flex">

          {% if bs.title_icon != blank %}
            <img data-lazy data-src="{{ bs.title_icon }}" alt="{{ bs.title | strip_html }}">
          {% endif %}
          
          <{{ bs.title_tag }} class="hero-heading">
            {{ bs.title }}
          </{{ bs.title_tag }}>

         

        </div>
      {% endif %}
    </a>

    <div class="content-area text-center">

      {% if bs.background_icon_1 != blank %}
        <img data-lazy data-src="{{ bs.background_icon_1 }}" alt="{{ bs.title | strip_html }}" class="background-icon-1">
      {% endif %}

      {% if bs.background_icon_1 != blank %}
        <img data-lazy data-src="{{ bs.background_icon_2 }}" alt="{{ bs.title | strip_html }}" class="background-icon-2">
      {% endif %}
      
      {% if bs.title != blank and bs.rotated_title == false %}
        <{{ bs.title_tag }} class="h2">
          {{ bs.title }}
        </{{ bs.title_tag }}>
      {% endif %}

      {% if bs.content != blank %}
        <div class="rte {% if bs.large_content %}rte--l{% endif %}">
          {{ bs.content }}
        </div>
      {% endif %}

      {% if bs.cta_title != blank %}
        <a href="{{ bs.cta_url }}" class="btn">
          {{ bs.cta_title }}
        </a>
      {% endif %}

    </div>

  </div>

</div>