
  <div class="wrapper" style="
--block-primary: {{ bs.primary_color }};
--range-icon: url('{{ bs.range_icon }}');
">
    
    <div class="section-header flex f-j-between f-a-center">
      
        <div class="left-area">
          
          {% if bs.title != blank %}
            <{{ bs.title_tag }} class="h3">{{ bs.title }}</{{ bs.title_tag }}>
          {% endif %}

          {% if bs.content != blank %}
            <div class="rte">
              {{ bs.content }}
            </div>
          {% endif %}

        </div>

        <div class="right-area">
          
          {% if bs.cta_title != blank %}
            <a {% if bs.cta_url != blank %}href="{{ bs.cta_url }}"{% endif %} class="btn btn--outline">
              {{ bs.cta_title }}
            </a>
          {% endif %}

        </div>

    </div>


    <ul class="team-grid flex f-grid--m--desktop f-grid--tablet" data-keen-slider='{
      "id": "slider{{ block.id }}",
      "mode": "snap",
      "slidesPerView": 4,
      "rangeSlider": "rangeSlider{{ block.id }}",
      "responsive": [
        {
          "breakpoint": "834px",
          "settings": {
            "slidesPerView": 1.3
          }
        }
      ]
    }'>

      {% assign person_count = 0 %}
      
      {% for i in (1..50) %}
        {% capture item_title %}person_{{ i }}_title{% endcapture %}
        {% capture item_job %}person_{{ i }}_job{% endcapture %}
        {% capture item_image %}person_{{ i }}_image{% endcapture %}

        {% if bs[item_title] == blank %}
          {% continue %}
        {% endif %}
 
        {% assign person_count = person_count | plus: 1 %}
 
        <li>
          
          <div class="inner">
            <div class="image-area">
              {% render 'picture-element', image: bs[item_image], size: '300x', alt: bs[item_title], extra_class: 'object-fit--cover'  %}
            </div>

            <div class="info-area">
              
              <p class="job-role">
                {{ bs[item_job] }}
              </p>

              <p class="person-title">
                {{ bs[item_title] }}
              </p>

            </div>
          </div>

        </li>

      {% endfor %}

    </ul>

    <div class="range-slider desktop-only">
      <div data-range-slider='{
        "id": "rangeSlider{{ block.id }}",
        "start": [0],
        "padding": [1, 0],
        "step": 1,
        "connect": [true, false],
        "range": {
          "min": [0],
          "max": [{{ person_count | minus: 3 }}]
        },
        "callComponent": "slider{{ block.id }}",
        "callMethod": "goToSlide",
        "minus": 1
      }'></div>
    </div>

  </div>

