<div class="image-area">
  
  {% render 'picture-element', image: bs.image, image_mobile: bs.image_mobile, size: '1920x', extra_class: 'object-fit--cover'  %}

</div>

<div class="caption-area wrapper wrapper--s text-center">
  
  <{{ bs.title_tag }} class="h1" style="color: {{ bs.title_color }};">
    {{ bs.title }}
  </{{ bs.title_tag }}>

  {% if bs.signature_image != blank or bs.signature_by != blank %}
    <div class="title-by">
      <img src="{{ bs.signature_image | img_url: '100x' }}" alt="{{ bs.signature_by }}">
      <p>{{ bs.signature_by }}</p>
    </div>
  {% endif %}

</div>
