<div class="accordion-wrapper wrapper" style="
--block-primary: {{ bs.primary_color }};
--block-secondary: {{ bs.secondary_color }};
">
  
  <div class="top-area text-center">
    
    <img data-lazy data-src="{{ bs.top_icon }}" alt="{{ bs.title | strip_html }}">

    <{{ bs.title_tag }} class="h2">
      {{ bs.title }}
    </{{ bs.title_tag }}>

  </div>


  <div class="accordion-area accordion" data-toggle-group>
    
    {% for i in (1..10) %}
      {% capture item_title %}item_{{ i }}_title{% endcapture %}
      {% capture item_icon %}item_{{ i }}_icon{% endcapture %}
      {% capture item_content %}item_{{ i }}_content{% endcapture %}

      {% if bs[item_title] == blank %}
        {% continue %}
      {% endif %}

      <div class="accordion-item {% if forloop.first %}open{% endif %}" data-toggle-item>
        
        <div class="accordion-header flex f-j-between f-a-center" data-toggle-trigger>
          
          <div class="left-area flex f-a-center">
            {% if bs[item_icon] != blank %}
              <img data-lazy data-src="{{ bs[item_icon] }}" alt="{{ bs[item_title] | strip_html }}">
            {% endif %}
            <h3 class="h4">
              {{ bs[item_title] }}
            </h3>
          </div>

          {% include 'icon-plus-thin' %}

        </div>

        <div class="accordion-content" data-toggle-elem>
          <div class="rte rte--s">
            {{ bs[item_content] }}
          </div>
        </div>

      </div>
    {% endfor %}

  </div>


</div>
