<div class="wrapper wrapper--s">
  
  <div class="flex f-grid f-a-center">

    <a href="{{ ss.button_url }}" class="image-area image-side--{{ bs.image_side }}">
      {% render 'picture-element', image: bs.image, image_mobile: bs.image_mobile, size: '500x', alt: bs.title  %}
    </a>

    <div class="content-area">
      
      <{{ bs.title_tag }} class="h2">
        {{ bs.title }}
      </{{ bs.title_tag }}>

      {% if bs.content != blank %}
        <div class="rte">
          {{ bs.content }}
        </div>
      {% endif %}

      {% if bs.cta_title != blank %}
        <a href="{{ bs.cta_url }}" class="btn">
          {{ bs.cta_title }}
        </a>
      {% endif %}

    </div>

  </div>

</div>