{% assign mainIndex = forloop.index0 %}

<div class="mega-menu mega-menu-{{ mainIndex }}" data-mega-menu>
  
  <div class="mega-menu-inner" data-mega-menu-inner>
    
    <div class="flex">
      
      <ul class="menu-area flex f-grid">

        {% for link in link.links %}

          {% if link.title contains '[product-grid]' %}
            {% continue %}
          {% endif %}

          {% assign parent_title = link.title | handleize %}

          <li class="menu-block">

            <h4 class="h4 flex f-j-between f-a-center">
              <a class="link-title" href="{{ link.url }}">
                {{ link.title }}
              </a>

              <a class="cta" href="{{ link.url }}">Shop All</a>
            </h4>
            
            <ul>
              {% for link in link.links %}
                <li>
                  <a href="{{ link.url }}" class="flex f-a-center">
                    {{ link.title | replace: '[', "<span>" | replace: ']', '</span>' }}
                  </a>
                </li>
              {% endfor %}
            </ul>

            {% for block in section.blocks %}
              {% assign bs = block.settings %}
              {% assign show_under_handled = bs.show_under | handleize %}
              {% if show_under_handled == parent_title %}
                <div class="mega-menu-block" style="--block-bg-color: {{ bs.background_color }}; --block-text-color: {{ bs.text_color }};">
                  
                  <div class="top-area flex f-grid--xxs">
                    
                    {% if bs.icon_url != blank %}
                      <div class="left-area">
                        <img data-lazy data-src="{{ bs.icon_url }}" alt="{{ bs.title | strip_html }}">
                      </div>
                    {% endif %}
                    
                    <div class="right-area">
                      
                      <h6>
                        <a href="{{ bs.button_url }}">
                          {{ bs.title }}
                        </a>
                      </h6>
                      
                      {% if bs.content != blank %}
                        <div class="rte rte--xs">
                          {{ bs.content }}
                        </div>
                      {% endif %}

                    </div>

                  </div>

                  {% if bs.button_title != blank %}
                    <a class="btn btn--small btn--outline" href="{{ bs.button_url }}">{{ bs.button_title }}</a>
                  {% endif %}

                </div>
              {% endif %}
            {% endfor %}
            

          </li>
        {% endfor %}

      </ul>


      {% for link in link.links %} 

        {% unless link.title contains '[product-grid]' %}
          {% continue %}
        {% endunless %}

        <div class="product-grid-area">
          
          <h4 class="h4 flex f-j-between f-a-center">
            <a class="link-title" href="{{ link.url }}">
              {{ link.title | remove: "[product-grid]" | remove: "[" | remove: "]" | strip }}
            </a>

            <a class="btn btn--outline" href="{{ link.url }}">Shop All</a>
          </h4>

          <ul class="product-grid flex f-grid " data-keen-slider='{
            "slidesPerView": 2.3,
            "id": "megaMenuSlider{{ context }}",
            "rangeSlider": "megaMenuRangeSlider{{ context }}",
            "responsive": [
              {
                "breakpoint": "834px",
                "settings": {
                  "slidesPerView": 1.6
                }
              }
            ]
          }'>
            
            {% for link in link.links %}
              {% assign the_product = link.object %}

              <li class="product-item">
                {% include 'product-grid-item--small', product: the_product  %}
              </li>
            {% endfor %}

          </ul>

          <div class="range-slider">
            <div data-range-slider='{
              "id": "megaMenuRangeSlider{{ context }}",
              "start": [0],
              "padding": [1, 0],
              "step": 1,
              "connect": [true, false],
              "range": {
                "min": [0],
                "max": [{{ link.links.size | minus: 1 }}]
              },
              "callComponent": "megaMenuSlider{{ context }}",
              "callMethod": "goToSlide",
              "minus": 1,
              "responsive": [
                {
                  "breakpoint": "834px",
                  "settings": {
                    "range": {
                      "min": [0],
                      "max": [{{ link.links.size }}]
                    }
                  }
                }
              ]
            }'></div>
          </div>
            
        </div>

      {% endfor %}

    </div>

  </div>

</div>