{% assign main_menu_handle = settings.main_menu_mobile | default: settings.main_menu %}
{% assign main_menu = menus[main_menu_handle] %}

<div class="mobile-nav">
  
  <ul>
    
    {% for link in main_menu.links %}

      <li>
        <a href="{{ link.url }}" class="flex f-a-center f-j-between" {% if link.links != blank %}data-slide-toggle='{
          "selector": ".mobile-nav .mega-menu-{{ forloop.index0 }}",
          "on": "click",
          "preventDefault": true,
          "method": "slideToggle"
        }'{% endif %}>
          <span class="link-title flex f-a-center f-j-between">
            {{ link.title }}
            {% if link.links != blank %}
              {% include 'icon-arrow-up' %}
            {% endif %}
          </span>
        </a>

        {% if link.links != blank %}
          {% include 'mega-menu', context: 'mobileNav' %}
        {% endif %}
      </li>
    {% endfor %}

    <li class="account-sub-menu">
      <a href="/account" class="flex f-a-center">
        <span class="link-title flex f-a-center">
          <span class="link-icon">
            <img src="{{ 'icon-user.svg' | asset_url }}" alt="Account">
          </span>
          <span>My Account</span>
        </span>
      </a>
    </li>

  </ul>


</div>