{%- assign ss = section.settings -%}
{%- capture form_id -%}NewsletterForm--{{ section.id }}{%- endcapture -%}

<form action="{{ settings.newsletter_action }}" method="post" target="_blank"
data-klaviyo-form='{
  "listId": "{{ settings.newsletter_list_id }}",
  "newsletter_success": "{{ settings.newsletter_success }}",
  "source": "{{ source }}"
}'>

  {%- unless form.posted_successfully? -%}
    {%- if ss.newsletter_content != blank -%}
      <div class="rte">
        {{ ss.newsletter_content }}
      </div>
    {%- endif -%} 

    {% if source == 'Sticky Bottom Bar' %}
      
      <div class="input-flex flex">
        <input type="email" value="{{ customer.email }}" name="EMAIL" placeholder="{{ 'general.newsletter_signup.email_placeholder' | t }}" required data-email>
        <button type="submit" name="subscribe">
          <span class="desktop-only">SIGN ME UP</span>
          <span class="tablet-only">
            <img src="{{ 'icon-cta-right--white.svg' | asset_url }}" alt="Sign Me Up">
          </span>
        </button>
      </div>
    
    {% else %}

      <div class="input-flex flex">
        <input type="email" data-email value="{{ customer.email }}" name="EMAIL" placeholder="{{ 'general.newsletter_signup.email_placeholder' | t }}" required>
        <button type="submit" name="subscribe" class="desktop-only">SIGN ME UP</button>
      </div>

      {% if show_checkbox and ss.newsletter_checkbox != blank %}
        <div class="checkbox-flex">
          <input required type="checkbox" id="{{ form_id }}Terms" name="gdpr[44450]">
          <label for="{{ form_id }}Terms">{{ ss.newsletter_checkbox }}</label>
        </div>
      {% endif %}

      <button type="submit" name="subscribe" class="tablet-only">SIGN ME UP</button>

    {% endif %}

  {%- endunless -%} 
  
  {%- if form.posted_successfully? -%}
    <div class="result-messages" data-result-messages></div>
    <div class="signUp-confirmation p">{{ 'general.newsletter_signup.success_message' | t }}</div>
  {%- elsif form.errors -%}
    {{ form.errors | default_errors }}
  {%- endif -%}
</form>