{%- comment -%}
	Renders a pagination bar
	Accepts:

	- paginate: {Object} Paginate Liquid object (required)

	Usage:
	{%- render 'pagination', paginate: paginate -%}
{%- endcomment -%}


{% capture arrow %}
<img src="{{ 'icon-slider-arrow.svg' | asset_url }}" alt="">
{% endcapture %}

{%- if settings.enable_infinity_scroll -%}
	{%- if paginate.next -%}
		<div class="pagination pagination--infinity" data-pagination>
			<a href="{{ paginate.next.url }}" class="js-loadMore loadMore visually-hidden">{{ 'collections.pagination.load_more' | t }}</a>
			<div class="icon-load-more"></div>
		</div>
	{%- endif -%}
{%- else -%}
	{%- if paginate.pages > 1 -%}
		<div class="pagination">
			{{- paginate | default_pagination | replace: '&laquo; Previous', arrow | replace: 'Next &raquo;', arrow -}}
		</div>
	{%- endif -%}
{%- endif -%}