{% assign image_url = image | img_url: size %}
{% assign image_retina_url = image | img_url: size, scale: 2 %}

{% assign image_tablet_url = image_mobile | default: image | img_url: '834x' %}
{% assign image_mobile_url = image_mobile | default: image | img_url: '480x' %}

{% assign image_retina_tablet_url = image_mobile | default: image | img_url: '834x', scale: 2 %}
{% assign image_retina_mobile_url = image_mobile | default: image | img_url: '480x', scale: 2 %}

{% assign placeholder_url = image | img_url: '30x30' %}


{% if type == 'file_url' %}
  {% if image contains 'https://' %}
    {% assign image = image | split: "/" | last %}
  {% endif %}

  {% if image_mobile contains 'https://' %}
    {% assign image_mobile = image_mobile | split: "/" | last %}
  {% endif %}

  {% assign image_url = image | file_img_url: size %}
  {% assign image_retina_url = image | file_img_url: size, scale: 2 %}

  {% assign image_tablet_url = image_mobile | default: image | file_img_url: '834x' %}
  {% assign image_mobile_url = image_mobile | default: image | file_img_url: '480x' %}

  {% assign image_retina_tablet_url = image_mobile | default: image | file_img_url: '834x', scale: 2 %}
  {% assign image_retina_mobile_url = image_mobile | default: image | file_img_url: '480x', scale: 2 %}

  {% assign placeholder_url = image | file_img_url: '1x1' %}
{% endif %}

{% if image_mobile == blank %}
  {% assign image_mobile = image %}
  {% assign image_tablet = image %}
{% endif %}

{% assign ss = section.settings %}

<div class="picture-element-wrapper wrapper--{{ image.id }} {% if extra_class != blank %}{{ extra_class }}{% endif %}" {% if image.aspect_ratio != blank or image_mobile.aspect_ratio != blank %}style="--aspect-desktop: {{ 100.0 | divided_by: image.aspect_ratio }}%; --aspect-tablet: {{ 100.0 | divided_by: image_mobile.aspect_ratio }}%;"{% endif %} {% if extra_attr != blank %}{{ extra_attr }}{% endif %} {% if manual_lazy_load %}data-lazy-load-trigger='{
  "target": "this",
  "subTarget": "[data-lazy-manual]",
  "on": "mouseover"
}'{% endif %}>
   
  <picture>
    {% if image_mobile == '1px' %}
      <source media="(max-width: 834px)" data-srcset="about:blank">
    {% elsif image == '1px' %}
      {% assign image_url = image_mobile | img_url: '834x' %}
      <source media="(min-width: 835px)" data-srcset="about:blank">
    {% else %}
      <source media="(max-width: 480px)" data-srcset="{{ image_mobile_url }} 1x, {{ image_retina_mobile_url }} 2x">
      <source media="(max-width: 834px)" data-srcset="{{ image_tablet_url }} 1x, {{ image_retina_tablet_url }} 2x">
    {% endif %}
    <img draggable="false" data-srcset="{{ image_url }} 1x, {{ image_retina_url }} 2x"  alt="{{ alt | strip_html }}" {% if manual_lazy_load %}data-lazy-manual{% else %}data-lazy{% endif %}  class="picture-element-image">
  </picture>

  <img src="{{ placeholder_url }}" alt="{{ alt | default: image.alt | default: bs.title | default: ss.title | default: page.title | default: shop.name | strip_html }}" class="placeholder">

</div>

