<div class="product-image-area product-image-area--{{ product.id }} flex f-wrap">

  {% if product.images.size > 1 %}
    <ul class="thumbnails desktop-only" data-keen-dots>
      {% for image in product.images %}
        {% assign alt = image.alt | default: product.title %}
        <li data-dot="{{ forloop.index0 }}">
          {% render 'picture-element', image: image, image_mobile: image, size: '70x', alt: alt, extra_class: 'object-fit--cover' %}
        </li>
      {% endfor %}
    </ul> 
  {% endif %}
  
  
  <ul class="flex f-grid--xs product-image-slider" data-keen-slider='{
    "dots": false,
    "id": "mainProductSlider",
    "dotsContainer": ".product-image-area--{{ product.id }} [data-keen-dots]",
    "loop": true,
    "responsive": [
      {
        "breakpoint": "834px",
        "settings": {
          "dots": true,
          "dotsContainer": false
        }
      }
    ]
  }'>
    {% for image in product.images %} 
      {% assign alt = image.alt | default: product.title %}
      <li data-product-image='{% for variant in image.variants %}{{ variant.id }}{% unless forloop.last %},{% endunless %}{% endfor %}'>
        {% render 'picture-element', image: image, image_mobile: image, size: '1000x', alt: alt %}
      </li>
    {% endfor %}
  </ul>

  {% if product.metafields.custom_fields["feature"] != blank %}
    <div class="product-features desktop-only">
      
      <ul class="flex f-grid" data-keen-slider='{
        "enableWhen": "(max-width: 834px)",
        "dots": true
      }'>
        
        {% for item in product.metafields.custom_fields["feature"] %}
        <li>
          <div class="icon-area object-fit--contain">
            {% capture icon_name %}ffc--icon-{{ item.icon | handleize | remove: "-icon" | strip }}{% endcapture %}

            {% if item.icon_url != blank %}
              <img src="{{ item.icon_url }}" alt="{{ item.title }}">
            {% else %}
              {% include icon_name %}
            {% endif %}
          </div>

          <p>{{ item.title }}</p>
        </li>
        {% endfor %}

      </ul>

    </div>
  {% endif %}

</div>