{% assign meta_obj_grid_item = product.metafields.custom_fields %}

{% assign index = forloop.index %}

{% assign is_instore = false %}
{% if meta_obj_grid_item.available_instore == 1 %}
  {% assign is_instore = true %}
{% endif %}

<div class="product-grid-item">
  
  <div class="product-image-area">

    <a href="{{ product.url }}">
      {% assign img_size = '600x' %}

      {% render 'picture-element', image: product.featured_image, size: img_size, alt: product.title, show_placeholder: true, extra_class: 'object-fit--cover' %}

      {% if product.images.size > 1 %}
        {% render 'picture-element', image: product.images[1], image_mobile: '1px', size: img_size, alt: product.title, extra_class: 'hover-image desktop-only object-fit--cover', manual_lazy_load: true %}
      {% endif %}
    </a>

  </div>
  
  <div class="product-info-area">

    <a href="{{ product.url }}" class="product-title">{{ product.title }}</a>

    {% assign price = product.price %}

    {% for variant in product.variants %}
      {% for selling_plan_allocation in variant.selling_plan_allocations %}
        {% if selling_plan_allocation.price < price %}
          {% assign price = selling_plan_allocation.price %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% assign pack_size = meta_obj_grid_item.pack_size | default: 1 %}

    {% if price > 0 and is_instore == false %}
      <p class="product-price">From 
        <b><span class="money">{{ price | money }}</span>
          {% if meta_obj_grid_item.pack_size != blank and  meta_obj_grid_item.item_name_singular != blank %}
            per {{ meta_obj_grid_item.item_name_singular }}</b>

            {% if meta_obj_grid_item.pack_size != blank %}
             ({{ meta_obj_grid_item.pack_size}} {{ meta_obj_grid_item.pack_size | pluralize: meta_obj_grid_item.item_name_singular, meta_obj_grid_item.item_name_plural }})
             {% endif %}
          {% else %}
          </b>
          {% endif %}      
      </p>
    {% endif %}
    
    
  </div>

</div>