{% assign sold_out = false %}

{% if product.available == false %}
  {% assign sold_out = true %}
{% endif %}

{% if current_variant.inventory_policy == 'deny' and current_variant.inventory_quantity < pack_size and current_variant.inventory_management == 'shopify' %}
  {% assign sold_out = true %}
{% endif %}


{% assign is_instore = false %}
{% if meta_obj.available_instore == 1 %}
  {% assign is_instore = true %}
{% endif %}

<div class="product-info-area">

  <div class="inner">

    <h2 class="product-type">{{ meta_obj.product_type_override | default: product.type }}</h2>
    
    <h1 class="h2 product-title">{{ product.title }}</h1>
   
    <div class="product-description rte">
      {{ meta_obj.summary | default: product.description }}
    </div>

    {% if is_instore %}
      
      <div class="availability-bar flex f-a-center f-j-between">
        
        <ul class="flex f-grid--m--desktop f-grid--xs--tablet f-a-center icon-grid ">

          <li>
            <span>{{ 'products.labels.availability' | t }}:</span>
          </li>
          
          <li class="flex f-a-center">
            {% include 'icon-instore' %}
            <p>{{ 'products.labels.instore' | t }}</p>
          </li>

        </ul>

        <div class="rte">
          {{ meta_obj.available_instore_content }}
        </div>

      </div>

    {% endif %}

    {% if is_instore == false %}
      <div class="product-header-bar-flex">
        <div class="flex f-grid--xs f-a-end">
          <p class="product-prices flex f-a-center" data-product-prices>
          

            <span data-price class="money product-price {% if current_variant.compare_at_price > current_variant.price %}on-sale{% endif %}">
              {{ current_variant.price | money }}
            </span>

            <span data-compare-price class="money compare-at-price {% unless current_variant.compare_at_price > current_variant.price %}hide{% endunless %} ">
              {{ current_variant.compare_at_price | money }}
            </span>

          </p> 

          {% if meta_obj.pack_size_full != blank %}
            <p class="pack-info">
              {{ meta_obj.pack_size_full }} • Only <span data-per-price="{{ meta_obj.pack_size }}">{{ current_variant.price | divided_by: meta_obj.pack_size | money }}</span> per {{ meta_obj.item_name_singular }}
            </p>
          {% endif %}

        </div>

      </div>

      <form class="main-product-form" action="/cart/add" data-add-to-cart>

        <div class="product-options {% if product.has_only_default_variant %}hide
          
        {% endif %}">
          {% for option in product.options_with_values %}
            {% assign isHiddenColor = false %}
            {% assign handled_option = option.name | handleize %}
            {% capture current_option %}option{{ option.position }}{% endcapture %}

            {% if handled_option == 'color' and option.values.size == 1 %}
              {% assign isHiddenColor = true %}
            {% endif %}
            
            <div class="product-option {% if isHiddenColor %}hide{% endif %}">
              <span class="option-title">{{ option.name }}:</span>

              <ul class="flex f-grid--xs">
                
                {% for value in option.values %}
                  {% assign handled_value = value | handleize %}

                  {% assign variant_in_stock = true %}
                  {% if product.options.size == 1 %}
                    {% unless product.variants[forloop.index0].available  %}
                      {% assign variant_in_stock = false %}
                    {% endunless %}
                  {% else %}
                    {% assign variant_in_stock = false %}
                    
                    {% for variant in product.variants %}
                      {% if variant[current_option] == value and variant.available %}
                        {% assign variant_in_stock = true %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  <li>
                    <input type="radio" data-index="{{ current_option }}" name="{{ current_option }}" value="{{ value | escape }}" id="value-{{ product.handle }}--{{ handledOption }}--{{ handled_value }}" data-variant-option-trigger {% if option.selected_value == value %}checked{% endif %}>
                    <label for="value-{{ product.handle }}--{{ handledOption }}--{{ handled_value }}">
                      {{ value }}
                    </label>
                  </li>

                {% endfor %}

              </ul>
            
              
            </div>
          {% endfor %}
        </div>

        {% if product.selling_plan_groups.size > 0 %}
          
          <div class="product-subscription-picker">
            
            <div class="choice-block">
              <p>TYPE</p>

              <ul class="flex f-grid--xs">
                
                <li>
                  
                  <input type="radio" name="buy_type" value="Subscribe" id="buyType1{{ product.id }}" data-buy-type-trigger checked>
                  <label for="buyType1{{ product.id }}" class="subscribe-label">
                    {% assign price_adjustment = product.selling_plan_groups.first.selling_plans.first.price_adjustments[0] %}

                    {% if price_adjustment != blank or price_adjustment.value_type == 'percentage' or price_adjustment.value_type == 'fixed_amount' %}
                      <span>

                        {% if price_adjustment.value_type == 'percentage' %}
                          {{ price_adjustment.value }}% OFF
                        {% endif %}

                        {% if price_adjustment.value_type == 'fixed_amount' %}
                          {{ price_adjustment.value | money }} OFF
                        {% endif %}

                      </span>
                    {% endif %}

                    SUBSCRIBE & SAVE

                    <div class="info-trigger" aria-label="{{ settings.subscription_tooltip }}" data-balloon-pos="up">
                      <img src="{{ 'icon-info.svg' | asset_url }}" alt="">
                    </div>
                  </label>

                </li>

                <li>
                  
                  <input type="radio" name="buy_type" value="One-time" id="buyType2{{ product.id }}" data-buy-type-trigger>
                  <label for="buyType2{{ product.id }}">
                    ONE TIME PURCHASE
                  </label>

                </li>


              </ul>
              

            </div>

            <div class="choice-block subscription-choices shown" data-subscription-choices>
              <p>DELIVER EVERY</p>
              <ul class="flex f-grid--xs">
                {% for selling_plan in product.selling_plan_groups.first.selling_plans %}
                 <li>
                   <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" id="sellingPlan{{ forloop.index }}{{ product.id }}" data-subscription-choice-trigger {% if forloop.first and product.selected_selling_plan == blank %}checked{% endif %} {% if product.selected_selling_plan.id == selling_plan.id %}checked
                     
                   {% endif %}>
                   <label for="sellingPlan{{ forloop.index }}{{ product.id }}">
                     {{ selling_plan.name | remove: "Delivery every " }}
                   </label>
                 </li>
                {% endfor %}
              </ul>
            </div>


          </div>

        {% endif %}
        

        <select name="id" data-master-select class="hide">
          {% for variant in product.variants %}
            <option value="{{ variant.id }}" {% if current_variant.id == variant.id %}selected{% endif %}>{{ variant.title }}</option>
          {% endfor %}
        </select>

        {% if meta_obj.is_preorder %}
          <input type="hidden" name="properties[_is-preorder]" value="Yes">
        {% endif %}

        <ul class="product-atc-flex flex f-a-end f-grid--xs-hybrid">
          
          <li>
            <div class="quantity-selector-container">
              <p>
                QTY {% if meta_obj.pack_size != blank %}
                  <span>(<span data-quantity-multiply="{{ meta_obj.pack_size }}">{{ meta_obj.pack_size }}</span> {{ meta_obj.item_name_plural }})</span>
                {% endif %} 
              </p> 
              <div class="quantity-selector flex" data-number-selector>
                <button type="button" data-minus>
                  {% include 'ffc--icon-minus' %}
                </button>
                <input type="text" data-quantity data-input min="1" max="999" value="1">
                <input type="hidden" name="quantity" data-quantity-multiply="{{ meta_obj.pack_size | default: 1 }}" value="{{ meta_obj.pack_size | default: 1 }}">
                <button type="button" data-plus>
                  {% include 'ffc--icon-plus' %}
                </button>
              </div>
            </div>
          </li>

          <li>
            <button data-submit class="btn btn--centered" type="submit" {% if sold_out %}disabled{% endif %}>
              {% if sold_out %}
                {{ 'products.form.sold_out' | t }}
              {% else %}
                {% if meta_obj.is_preorder == 1 %}
                  {{ 'products.form.preorder' | t }}
                {% elsif product.selected_selling_plan != blank %}
                  {{ 'products.form.subscribe' | t }}
                {% else %}
                  {{ 'products.form.submit' | t }}
                {% endif %}
              {% endif %}
            </button>
          </li>

        </ul>

        <div class="sticky-atc tablet-only flex" data-sticky-atc>

          <button data-submit class="btn btn--centered" type="submit" {% if sold_out %}disabled{% endif %}>

            <span data-price class="money product-price {% if current_variant.compare_at_price > current_variant.price %}on-sale{% endif %}">
              {{ current_variant.price | money }}
            </span>

            <span class="seperator"> • </span>
            
            <span data-add-to-cart-text>
              {% if sold_out %}
                {{ 'products.form.sold_out' | t }}
              {% else %}
                {% if meta_obj.is_preorder == 1 %}
                  {{ 'products.form.preorder' | t }}
                {% elsif product.selected_selling_plan != blank %}
                  {{ 'products.form.subscribe' | t }}
                {% else %}
                  {{ 'products.form.submit' | t }}
                {% endif %}
              {% endif %}
            </span>
          </button>

        </div>

      </form>

    {% endif %}
    
    <div class="product-accordion-area accordion" data-toggle-group>
      {% for block in section.blocks %}
        {% if block.type != 'accordion-item' %}
          {% continue %}
        {% endif %}

        {% assign bs = block.settings %}

        {% if bs.tag != blank %}
          {% unless product.tags contains bs.tag %}
            {% continue %}
          {% endunless %}
        {% endif %}

        {% assign title_handled = bs.title | handleize %}

        <div class="accordion-item" data-toggle-item>
          <div class="accordion-header flex f-j-between f-a-center" data-toggle-trigger>
            <p>{{ bs.title }}</p>
            {% include 'icon-plus-thin' %}
          </div>

          <div class="accordion-content" data-toggle-elem>

            <div class="rte rte--s">
              {% if title_handled == 'details' %}
                {% if meta_obj[bs.metafield] != blank %}
                  {{ meta_obj[bs.metafield] }}
                  {{ bs.content }}
                {% else %}
                  {{ product.description | split: "<br>Details" | last }}
                {% endif %}
                
              {% else %}
                {{ meta_obj[bs.metafield] }}
                {{ bs.content }}
              {% endif %}

              
            </div>

          </div>
        </div>
      {% endfor %}
    </div>


    <div class="promo-items">
      {% for block in section.blocks %}
        {% if block.type != 'promo-item' %}
          {% continue %}
        {% endif %} 

        {% assign bs = block.settings %}

        {% if bs.tag != blank %}
          {% unless product.tags contains bs.tag %}
            {% continue %}
          {% endunless %}
        {% endif %}

        {% assign title_handled = bs.title | handleize %}

        <div class="promo-item">
          
          <div class="flex f-wrap--tablet f-a-center">
            
            {% if bs.icon_svg != blank %}
              <div class="left-area">
                {{ bs.icon_svg }}
              </div>
            {% endif %}
            
            <div class="right-area">
              
              <h4 class="h4">{{ bs.title }}</h4>
              
              {% if bs.content != blank %}
                <div class="rte rte--s">
                  {{ bs.content }}
                </div>
              {% endif %}

              {% if bs.link_title != blank %}
                <a class="btn btn--outline btn--small" href="{{ bs.link_url }}">{{ bs.link_title }}</a>
              {% endif %}

            </div>

          </div>

          
          
        </div>
      {% endfor %}
    </div>

    {% if product.metafields.custom_fields["feature"] != blank %}
      <div class="product-features">
        
        <ul class="flex f-grid" data-keen-slider='{
          "enableWhen": "(max-width: 834px)",
          "dots": true,
          "loop": true
        }'>
          
          {% for item in product.metafields.custom_fields["feature"] %}
          <li>
            <div class="icon-area object-fit--contain">
              {% capture icon_name %}ffc--icon-{{ item.icon | handleize | remove: "-icon" | strip }}{% endcapture %}

              {% if item.icon_url != blank %}
                <img src="{{ item.icon_url }}" alt="{{ item.title }}">
              {% else %}
                {% include icon_name %}
              {% endif %}
            </div>

            <p>{{ item.title }}</p>
          </li>
          {% endfor %}

        </ul>

      </div>
    {% endif %}


    {% if is_instore %}

    <div class="find-a-stockist">
      
      <h4>{{ ss.find_a_stockist_title }}</h4>
      <div class="rte">
        {{ meta_obj.find_a_stockist_content | default: ss.find_a_stockist_content }}
      </div>

      <form action="/pages/{{ settings.store_locator_page }}" method="GET">
        
        <input type="text" required name="bh-sl-address" placeholder="Enter your postcode...">

        <button type="submit">
          <img data-lazy data-src="{{ 'icon-pin.svg' | asset_url }}" alt="Search">
        </button>

      </form>

    </div>

    {% endif %}

  </div>

  

</div>