{% assign meta_obj_grid_item = product.metafields.custom_fields %}

{% assign index = forloop.index %}

<div class="product-grid-item product-grid-item--small">
  
  <div class="product-image-area">

    <a href="{{ product.url }}">
      {% assign img_size = '400x' %}

      {% render 'picture-element', image: product.featured_image, image_mobile: blank, size: img_size, alt: product.title, show_placeholder: true, extra_class: 'object-fit--cover' %}

      {% if product.images.size > 1 %}
        {% render 'picture-element', image: product.images[1], image_mobile: '1px', size: img_size, alt: product.title, extra_class: 'hover-image desktop-only object-fit--cover', manual_lazy_load: true %}
      {% endif %}
    </a>

  </div>
  
  <div class="product-info-area">

    <a href="{{ product.url }}" class="product-title">{{ product.title }}</a>
    
  </div>

</div>