<div class="product-image-area product-image-area--{{ product.id }} flex" data-sticky='{
  "top": ".ffc--site-header",
  "responsive": {
    "834": {
      "disable": true
    }
  }
}'>

  {% if product.images.size > 1 %}
    <ul class="thumbnails desktop-only" data-keen-dots>
      {% for image in product.images %}
        {% assign alt = image.alt | default: product.title %}
        <li data-dot="{{ forloop.index0 }}">
          {% render 'picture-element', image: image, image_mobile: image, size: '70x', alt: alt, extra_class: 'object-fit--contain' %}
        </li>
      {% endfor %}
    </ul> 
  {% endif %}
  
  
  <ul class="flex f-grid--xs product-image-slider" data-keen-slider='{
    "dots": false,
    "id": "mainProductSlider",
    "dotsContainer": ".product-image-area--{{ product.id }} [data-keen-dots]",
    "loop": true,
    "responsive": [
      {
        "breakpoint": "834px",
        "settings": {
          "dots": true,
          "dotsContainer": false
        }
      }
    ]
  }'>
    {% for image in product.images %}
      {% assign alt = image.alt | default: product.title %}
      <li data-product-image='{% for variant in image.variants %}{{ variant.id }}{% unless forloop.last %},{% endunless %}{% endfor %}'>
        {% render 'picture-element', image: image, image_mobile: image, size: '700x', alt: alt, extra_class: 'object-fit--contain' %}
      </li>
    {% endfor %}
  </ul>  

</div>