{% assign sold_out = false %}
{% if product.available == false %}
  {% assign sold_out = true %}
{% endif %}

{% assign is_instore = false %}
{% if meta_obj.available_instore == 1 %}
  {% assign is_instore = true %}
{% endif %}

<div class="product-info-area">

  <div class="inner">

    <h2 class="product-type">{{ meta_obj.product_type_override | default: product.type }}</h2>
    
    <h1 class="h3 product-title">{{ product.title }}</h1>
   
    <div class="product-description rte">
      {{ meta_obj.summary | default: product.description }}
    </div>      

    <form class="main-product-form" data-add-to-box>


      <div class="product-card flex f-a-center">
        
        <div class="image-area">
          {% render 'picture-element', image: product.featured_image, size: '100x', alt: product.title %}
        </div>

        <div class="info-area">
          <div class="flex-area">
            <h6>{{ product.title }}</h6>

            <p>{{ meta_obj.pack_size_single }}</p>
          </div>

          <ul class="product-atc-flex flex f-a-end f-grid--xs-hybrid--desktop f-grid--xxs-hybrid--tablet">
            
            <li>
              <div class="quantity-selector-container">
                <div class="quantity-selector flex" data-number-selector>
                  <button type="button" data-minus>
                    {% include 'ffc--icon-minus' %}
                  </button>
                  <input type="text" data-quantity data-input min="1" max="999" value="1" name="quantity">
                  <button type="button" data-plus>
                    {% include 'ffc--icon-plus' %}
                  </button>
                </div>
              </div>
            </li>

            <li>
              <button data-submit class="btn btn--centered" type="submit">
                Add to box
              </button>
            </li>

          </ul> 

        </div>

      </div>
      

    </form>

    {% if product.metafields.custom_fields["feature"] != blank %}
      <div class="product-features tablet-only">
        
        <ul class="flex f-grid" data-keen-slider='{
          "enableWhen": "(max-width: 834px)",
          "dots": true,
          "loop": true
        }'>
          
          {% for item in product.metafields.custom_fields["feature"] %}
          <li>
            <div class="icon-area object-fit--contain">
              {% capture icon_name %}ffc--icon-{{ item.icon | handleize | remove: "-icon" | strip }}{% endcapture %}

              {% if item.icon_url != blank %}
                <img src="{{ item.icon_url }}" alt="{{ item.title }}">
              {% else %}
                {% include icon_name %}
              {% endif %}
            </div>

            <p>{{ item.title }}</p>
          </li>
          {% endfor %}

        </ul>

      </div>
    {% endif %}

  
    {% if meta_obj.nutrient_percentages != blank %}
    <div class="percentage-breakdown">
      <ul class="flex f-grid--xs">

        {% for item in meta_obj.nutrient_percentages %}
          {% assign value = item.value | remove: "%" | plus: 0 %}
          <li>
            <p>
              {{ item.title }}
            </p>

            <span class="value" {% if item.hex_colour_code != blank %}style="background: {{ item.hex_colour_code }}; border-color: {{ item.hex_colour_code }}"{% endif %}>
              {{ item.value }}
            </span>

          </li>
        {% endfor %}

      </ul>

      <p>*Reference intake of an average adult (8400 kJ / 2000 kcal)</p>
    </div>
    {% endif %}
    
    <div class="product-accordion-area accordion" data-toggle-group>

      {% if meta_obj.ingredients != blank %}
        <div class="accordion-item" data-toggle-item>
          <div class="accordion-header flex f-j-between f-a-center" data-toggle-trigger>
            <p>{{ ss.ingredients_title }}</p>
            {% include 'ffc--icon-angle-down' %}
          </div>

          <div class="accordion-content" data-toggle-elem>

            <div class="rte rte--s">
              {{ meta_obj.ingredients }}
            </div>
          </div>
        </div>
      {% endif %}

      {% if meta_obj.nutrient_row != blank %}
        <div class="accordion-item" data-toggle-item>
          <div class="accordion-header flex f-j-between f-a-center" data-toggle-trigger>
            <p>{{ ss.nutrients_accordion_title }}</p>
            {% include 'ffc--icon-angle-down' %}
          </div>

          <div class="accordion-content" data-toggle-elem>

            {% include 'ffc--table' rows: meta_obj.nutrient_row  %}

          </div>
        </div>
      {% endif %}

      {% if meta_obj.micronutrient_row != blank %}
        <div class="accordion-item" data-toggle-item>
          <div class="accordion-header flex f-j-between f-a-center" data-toggle-trigger>
            <p>{{ ss.micronutrients_title }}</p>
            {% include 'ffc--icon-angle-down' %}
          </div>

          <div class="accordion-content" data-toggle-elem>
            {% include 'ffc--table' rows: meta_obj.micronutrient_row  %}
          </div>
        </div>
      {% endif %}
      
    </div>

  </div>  

</div>