{%- liquid
	assign first_variant = product.selected_or_first_available_variant
	assign variants_count = product.variants.size
	assign enable_color_swatches = settings.enable_color_swatches
	assign enable_variant_boxes = settings.enable_variant_boxes

	comment
		Show payment button if section level setting is true or the global setting for Quick view is true
		Disable quick buy button if there are subscription options for the product
	endcomment

	assign show_payment_buttons = false
	unless settings.enable_accept_terms
		unless product.selling_plan_groups.size > 0
			if section.settings.enable_payment_button or settings.enable_payment_button
				assign show_payment_buttons = true
			endif
		endunless
	endunless

	if first_variant.available
		assign sold_out = false
	else
		assign sold_out = true
	endif
-%}

{%- form 'product', product, class: 'productForm', data-enable-color-swatches: enable_color_swatches, data-product-id: product.id, data-product-form: '' -%}
	<div class="productForm-block{% unless enable_variant_boxes %} productForm-block--options-inline{% endunless %}{% if enable_color_swatches %} productForm-block--swatches{% endif %}">
		{%- unless product.has_only_default_variant -%}
			{%- if enable_variant_boxes -%}
				{%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
{%- assign first_variant = product.selected_or_first_available_variant -%}

{%- for option in product.options_with_values -%}
	{%- assign option_index = option.position | minus: 1 -%}
	{%- assign downcased_option = option.name | downcase -%}
	{%- assign is_color = false -%}
	{%- if color_label contains downcased_option -%}
		{%- assign is_color = true -%}
	{%- endif -%}

	{%- if is_color and enable_color_swatches -%}
		{%- comment -%} /partials/product-swatch.liquid {%- endcomment -%}

{%- assign file_extension = 'png' -%}
{%- assign first_variant = product.selected_or_first_available_variant -%}

<div class="variant-wrapper variant-wrapper--color" data-option="option{{ option.position }}">
	<label class="variant-label--color" for="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}">
		{{- option.name -}}
		<span class="variant-label__value" data-color-label>
			{{- option.selected_value -}}
		</span>
	</label>

	<fieldset
		id="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}"
		class="variant-input-wrap"
		data-index="option{{ option.position }}">
		<div class="swatch swatch--{{ settings.color_swatches_style }}">
			{%- for value in option.values -%}
				<div data-value="{{ value | escape }}" class="swatch__element">
					<input
						id="option-{{ value | handle }}-{{ forloop.index0 }}-{{ section.id }}"
						class="swatch__input"
						type="radio"
						name="{{ option.name }}"
						value="{{ value | escape }}"
						data-color-swatch
						data-single-option-selector
						data-index="option{{ option.position }}"
						{% if first_variant.options[option_index] == value %}checked="checked"{% endif %}>
					<label class="variant__button-label--color swatch__label" for="option-{{ value | handle }}-{{ forloop.index0 }}-{{ section.id }}">
						<span class="swatch__color swatch__color--{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})"></span>
						<span class="accessible-label">{{ value }}</span>
					</label>
				</div>
			{%- endfor -%}
		</div>
	</fieldset>
</div>

	{%- else -%}
		<div class="variant-wrapper{% if enable_variant_boxes %} variant-wrapper--boxes{% endif %}" data-option="option{{ option.position }}">
			<label class="variant-label" for="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}">
				{{- option.name -}}
			</label>

			<fieldset
				id="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}"
				class="variant-input-wrap variant-input-wrap--boxes"
				data-index="option{{ option.position }}">
				{%- for value in option.values -%}
					<div class="variant-field">
						<input
							id="option-{{ option.position }}-{{ value }}-{{ forloop.index0 }}-{{ section.id }}"
							class="visually-hidden variant-input"
							type="radio"
							name="{{ option.name }}"
							value="{{ value | escape }}"
							data-single-option-selector
							data-index="option{{ option.position }}"
							{% if first_variant.options[option_index] == value %}checked="checked"{% endif %}>
						<label class="variant__button-label" for="option-{{ option.position }}-{{ value }}-{{ forloop.index0 }}-{{ section.id }}">
							{{- value -}}
						</label>
					</div>
				{%- endfor -%}
			</fieldset>
		</div>
	{%- endif -%}
{%- endfor -%}
			{%- else -%}
				{%- for option in product.options_with_values -%}
					{%- if enable_color_swatches -%}
						{%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
						{%- assign downcased_option = option.name | downcase -%}
						{%- assign option_index = option.position | minus: 1 -%}

						{%- if color_label contains downcased_option -%}
							{%- comment -%} /partials/product-swatch.liquid {%- endcomment -%}

{%- assign file_extension = 'png' -%}
{%- assign first_variant = product.selected_or_first_available_variant -%}

<div class="variant-wrapper variant-wrapper--color" data-option="option{{ option.position }}">
	<label class="variant-label--color" for="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}">
		{{- option.name -}}
		<span class="variant-label__value" data-color-label>
			{{- option.selected_value -}}
		</span>
	</label>

	<fieldset
		id="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}"
		class="variant-input-wrap"
		data-index="option{{ option.position }}">
		<div class="swatch swatch--{{ settings.color_swatches_style }}">
			{%- for value in option.values -%}
				<div data-value="{{ value | escape }}" class="swatch__element">
					<input
						id="option-{{ value | handle }}-{{ forloop.index0 }}-{{ section.id }}"
						class="swatch__input"
						type="radio"
						name="{{ option.name }}"
						value="{{ value | escape }}"
						data-color-swatch
						data-single-option-selector
						data-index="option{{ option.position }}"
						{% if first_variant.options[option_index] == value %}checked="checked"{% endif %}>
					<label class="variant__button-label--color swatch__label" for="option-{{ value | handle }}-{{ forloop.index0 }}-{{ section.id }}">
						<span class="swatch__color swatch__color--{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})"></span>
						<span class="accessible-label">{{ value }}</span>
					</label>
				</div>
			{%- endfor -%}
		</div>
	</fieldset>
</div>

						{%- else -%}
							{%- comment -%} /partials/product-option.liquid {%- endcomment -%}
{%- capture selector_id -%}
	{%- if shop_bar -%}
		ShopBar-
	{%- else -%}
		Product-
	{%- endif -%}
	SingleOptionSelector-{{- forloop.index0 -}}-{{- product.id -}}
{%- endcapture -%}

<div class="selector-wrapper" data-option="option{{ option.position }}">
	<label for="{{ selector_id }}">
		{{- option.name -}}
	</label>

	<select
		id="{{ selector_id }}"
		data-single-option-selector
		data-index="option{{ option.position }}">
		{%- for value in option.values -%}
			<option
				value="{{ value | escape }}"
				{% if option.selected_value == value %}selected="selected"{% endif %}>
				{{- value -}}
			</option>
		{%- endfor -%}
	</select>
	{%- render 'icon-arrow' -%}
</div>
						{%- endif -%}
					{%- else -%}
						{%- comment -%} /partials/product-option.liquid {%- endcomment -%}
{%- capture selector_id -%}
	{%- if shop_bar -%}
		ShopBar-
	{%- else -%}
		Product-
	{%- endif -%}
	SingleOptionSelector-{{- forloop.index0 -}}-{{- product.id -}}
{%- endcapture -%}

<div class="selector-wrapper" data-option="option{{ option.position }}">
	<label for="{{ selector_id }}">
		{{- option.name -}}
	</label>

	<select
		id="{{ selector_id }}"
		data-single-option-selector
		data-index="option{{ option.position }}">
		{%- for value in option.values -%}
			<option
				value="{{ value | escape }}"
				{% if option.selected_value == value %}selected="selected"{% endif %}>
				{{- value -}}
			</option>
		{%- endfor -%}
	</select>
	{%- render 'icon-arrow' -%}
</div>
					{%- endif -%}
				{%- endfor -%}
			{%- endif -%}
		{%- endunless -%}

		<label for="product-select--{{ section.id }}" class="accessible-label">{{ 'general.accessibility.select_variant' | t }}</label>
		{%- if variants_count > 1 -%}
			<select
				name="id"
				id="product-select--{{ section.id }}"
				class="product-single__variants"
				data-product-id="{{ product.id }}"
				data-product-select>
				{%- for variant in product.variants -%}
					{%- if variant.available -%}
						<option
							{% if variant == first_variant %} selected="selected" {% endif %}
							data-sku="{{ variant.sku }}"
							value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
					{%- else -%}
						<option disabled="disabled">{{ variant.title }} - {{ 'products.labels.sold_out' | t }}</option>
					{%- endif -%}
				{%- endfor -%}
			</select>
		{%- else -%}
			<input name="id" id="product-select--{{ section.id }}" data-product-id="{{ product.id }}" type="hidden" value="{{ first_variant.id }}">
		{%- endif -%}
	</div>

	<div class="productForm-block">
		<div class="qty__adjust">
			<input type="number" class="qty__adjust-input" name="quantity" id="quantity--{{ section.id }}" value="1" min="1">
			<button type="button" class="qty__adjust-btn js-qty__adjust-btn decrease" aria-label="{{ 'general.accessibility.decrease' | t }}">{% render 'icon-minus' %}</button>
			<button type="button" class="qty__adjust-btn js-qty__adjust-btn increase" aria-label="{{ 'general.accessibility.increase' | t }}">{% render 'icon-plus' %}</button>
		</div>

		<div class="productForm-buttons{% if settings.color_button_primary_bg == settings.color_background_new %} productForm-buttons--alt{% endif %}">
			<button
				class="productForm-submit{% if show_payment_buttons %} button--alt{% endif %}"
				type="submit"
				name="add"
				data-ajax="{{ settings.enable_ajax_cart }}"
				data-handle="{{ product.handle }}"
				{% if sold_out %}disabled{% endif %}
				data-add-to-cart>
				<span data-add-to-cart-text>
					{%- unless sold_out -%}
						{{- 'products.form.submit' | t -}}
					{% else %}
						{{- 'products.form.sold_out' | t -}}
					{%- endunless -%}
				</span>
				{%- render 'icon-check' -%}
			</button>
		</div>

		{%- if show_payment_buttons -%}
			<div class="productForm-buttons{% if settings.color_button_primary_bg == settings.color_background_new %} productForm-buttons--alt{% endif %}" data-payment-button="{{ section.settings.enable_payment_button }}" data-payment-button-quickview="{{ settings.enable_payment_button }}">
				{{- form | payment_button -}}
			</div>
		{%- endif -%}

	</div>
{%- endform -%}