<div class="product--image-and-text">
  
  <div class="wrapper">
    
    <div class="flex f-grid f-a-center">
      
      <div class="content-area">
         
        <h2 class="h3">
          {{ block.title }}
        </h2>

        <div class="rte">
          {{ block.content }}
        </div>

      </div>


      <div class="image-area image-side--{{ meta_obj.image_side | handleize }}">

        <div class="image-wrapper">
          {% if block.sub_image_1 != blank %}
            <div class="sub-image-1" data-parallax='{
              "orientation": "up left"
            }'>
              {% render 'picture-element', image: block.sub_image_1, size: '250x', alt: block.title, type: 'file_url', extra_class: 'object-fit--contain' %}
            </div>
          {% endif %}

          <div class="main-image">
            {% render 'picture-element', image: block.image_url, size: '330x', alt: block.title, type: 'file_url', extra_class: 'object-fit--cover main-image' %}
          </div>


          {% if block.sub_image_2 != blank %}
            <div class="sub-image-2" data-parallax='{
              "orientation": "down right"
            }'>
              {% render 'picture-element', image: block.sub_image_2, size: '250x', alt: block.title, type: 'file_url', extra_class: 'object-fit--contain' %}
            </div>
          {% endif %}
        </div>


      </div>


    </div>

  </div>

</div>