<div class="ingredients-container" data-lazy data-bg="{{ meta_obj.ingredients_background_image }}">
  
  <div class="wrapper">
    
    <div class="ingredients flex f-grid--m">
      
      <div class="left-area">
        
        <h4 class="h4">{{ ss.ingredients_title }}</h4>

        <div class="rte rte--xs">
          {{ meta_obj.ingredients }}
        </div>

        {% if meta_obj.micronutrient_row != blank %}
          <div class="micronutrients-wrapper desktop-only">
            
            <a href="#" class="btn" data-slide-toggle='{
              "on": "click",
              "selector": ".micronutrients--{{ product.id }}",
              "method": "slideToggle",
              "preventDefault": true
            }'>
              {{ ss.micronutrients_title }}
              {% include 'icon-plus-thin' %}
            </a>

            <div class="micronutrients-container micronutrients--{{ product.id }}">
              
              <div class="table-wrap">
                {% include 'ffc--table' rows: meta_obj.micronutrient_row  %}

              </div>
            </div>

          </div>
        {% endif %}
        

      </div>

      <div class="middle-area">
        {% if meta_obj.ingredients_product_image != blank %}
          {% render 'picture-element', image: meta_obj.ingredients_product_image, size: '360x', alt: 'Ingredients', type: 'file_url', extra_class: 'object-fit--contain' %}
        {% endif %}
        
      </div>

      <div class="right-area">
        <h4 class="h4">{{ ss.nutrients_title }}</h4>

        {% include 'ffc--table' rows: meta_obj.nutrient_row  %}

        {% if meta_obj.nutrient_percentages != blank %}
        <div class="percentage-breakdown">
          <ul class="flex f-grid--xs">

            {% for item in meta_obj.nutrient_percentages %}
              {% assign value = item.value | remove: "%" | plus: 0 %}
              <li>
                <p>
                  {{ item.title }}
                </p>

                <span class="value" {% if item.hex_colour_code != blank %}style="background: {{ item.hex_colour_code }}; border-color: {{ item.hex_colour_code }}"{% endif %}>
                  {{ item.value }}
                </span>

              </li>
            {% endfor %}

          </ul>

          <p>*Reference intake of an average adult (8400 kJ / 2000 kcal)</p>
        </div>
        {% endif %}

        {% if meta_obj.micronutrients != blank %}
          <div class="micronutrients-wrapper tablet-only">
            
            <a href="#" class="btn" data-slide-toggle='{
              "on": "click",
              "selector": ".micronutrients--{{ product.id }}Mobile",
              "method": "slideToggle",
              "preventDefault": true
            }'>
              {{ ss.micronutrients_title }}
              {% include 'icon-plus-thin' %}
            </a>

            <div class="micronutrients-container micronutrients--{{ product.id }}Mobile">
              <div class="table-wrap">
                {% include 'ffc--table' rows: meta_obj.micronutrient_row  %}

              </div>
            </div>

          </div>
        {% endif %}
      </div>

    </div>

  </div>

</div>