<div class="search-dropdown" data-ajax-search
data-class-change='[
  {
    "target": ".search-dropdown",
    "class": "open",
    "method": "remove",
    "whenOutside": true,
    "whenOutsideExcept": ".search-trigger",
    "on": "click"
  },
  { 
    "target": ".site-header .header-outer",
    "class": "search-open",
    "method": "remove",
    "whenOutside": true,
    "whenOutsideExcept": ".search-trigger",
    "on": "click"
  }
]'

data-lock-scroll='
[
  {
    "target": ".search-dropdown",
    "method": "unlockScroll",
    "on": "click",
    "whenOutside": true,
    "whenOutsideExcept": ".search-trigger"
  }
] 
'

>

<button type="button" class="close-search-dropdown" data-class-change='[
  {
    "target": ".search-dropdown",
    "class": "open",
    "method": "remove",
    "on": "click"
  },
  {
    "target": "body",
    "class": "no-scroll",
    "method": "remove",
    "on": "click"
  },
  {
    "target": ".site-header .header-outer",
    "class": "search-open",
    "method": "remove",
    "on": "click"
  }
]' data-lock-scroll='
[
{
  "target": ".search-dropdown",
  "method": "unlockScroll",
  "on": "click"
}
]
' data-ajax-search-exit>
<img data-lazy data-src="{{ 'icon-close-circle.svg' | asset_url }}" alt="Hide Search">
</button>

<div class="wrapper wrapper--s">

  <form action="/search" data-mega-menu-inner data-ajax-search-form>

    <div class="inner">
      
      <input type="hidden" name="type" value="product">

      <img data-lazy data-src="{{ 'icon-search-pink.svg' | asset_url }}" alt="Search">

      <input type="search" name="q" required placeholder="Enter Search Term" data-ajax-search-input value="{{ search.terms }}">

    </div>

  </form>

  <div class="search-results" data-ajax-search-results></div>

</div>


</div>