{%- assign first_variant = product.selected_or_first_available_variant -%}
{%- assign variants_count = product.variants.size -%}
{%- assign product_form_id = 'product_form_' | append: product.id | append: '--shop-bar' -%}
{%- assign shop_bar = true -%}

{%- if first_variant.available -%}
	{%- assign sold_out = false -%}
{%- else -%}
	{%- assign sold_out = true -%}
{%- endif -%}

<div id="shop-bar" class="shop-bar" data-scroll-lock-fill-gap>
	{%- form 'product', product, class: 'productForm productForm--shop-bar', id: product_form_id -%}
		<div class="productForm-block">
			{%- unless product.has_only_default_variant -%}
				{%- for option in product.options_with_values -%}
					{%- comment -%} /partials/product-option.liquid {%- endcomment -%}
{%- capture selector_id -%}
	{%- if shop_bar -%}
		ShopBar-
	{%- else -%}
		Product-
	{%- endif -%}
	SingleOptionSelector-{{- forloop.index0 -}}-{{- product.id -}}
{%- endcapture -%}

<div class="selector-wrapper" data-option="option{{ option.position }}">
	<label for="{{ selector_id }}">
		{{- option.name -}}
	</label>

	<select
		id="{{ selector_id }}"
		data-single-option-selector
		data-index="option{{ option.position }}">
		{%- for value in option.values -%}
			<option
				value="{{ value | escape }}"
				{% if option.selected_value == value %}selected="selected"{% endif %}>
				{{- value -}}
			</option>
		{%- endfor -%}
	</select>
	{%- render 'icon-arrow' -%}
</div>
				{%- endfor -%}
			{%- endunless -%}

			<label for="ShopBar-product-select--{{ section.id }}" class="accessible-label">{{ 'general.accessibility.select_variant' | t }}</label>
			{%- if variants_count > 1 -%}
				<select
					name="id"
					id="ShopBar-product-select--{{ section.id }}"
					class="product-single__variants"
					data-product-id="{{ product.id }}"
					data-product-select>
					{%- for variant in product.variants -%}
						{%- if variant.available -%}
							<option
								{% if variant == first_variant %} selected="selected" {% endif %}
								data-sku="{{ variant.sku }}"
								value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
						{%- else -%}
							<option disabled="disabled">{{ variant.title }} - {{ 'products.labels.sold_out' | t }}</option>
						{%- endif -%}
					{%- endfor -%}
				</select>
			{%- else -%}
				<input name="id" id="ShopBar-product-select--{{ section.id }}" data-product-id="{{ product.id }}" type="hidden" value="{{ first_variant.id }}">
			{%- endif -%}
		</div>

		<input type="hidden" class="inputCounter" name="quantity" value="1" />

		<div class="productForm-block">
			<button class="productForm-submit" type="submit" data-ajax="{{ settings.enable_ajax_cart }}" data-handle="{{ product.handle }}"{% if sold_out %} disabled{% endif %} data-add-to-cart>
				<span data-add-to-cart-text>
					{%- unless sold_out -%}
						{{- 'products.form.submit' | t -}}
					{% else %}
						{{- 'products.form.sold_out' | t -}}
					{%- endunless -%}
				</span>
				{%- render 'icon-check' -%}
			</button>
		</div>
	{%- endform -%}

	<div class="shop-bar__info">
		{%- assign image = product.featured_media.preview_image -%}
		<div class="shop-bar__image lazyload" data-bgset="{% render 'bgset', image: image %}" data-sizes="auto" data-parent-fit="cover"></div>
		<noscript>
			<div class="shop-bar__image" style="background-image: url({{ image | img_url: '48x48' }});"></div>
		</noscript>
		<p class="shop-bar__title">{{ product.title | strip_html }}</p>

		<div class="shop-bar__price">
			{%- render 'product-price', product: product -%}
		</div>
	</div>
</div>
<!-- end add-to-cart -->
