{%- unless template == 'cart' -%}
<div class="scroll">
	<div class="cart-wrapper container">
{%- endunless -%}

<script data-extra-cart-json type="application/json">
  {
    "build_a_box_image": {% if settings.build_a_box_image != blank %}{{ settings.build_a_box_image | img_url: '200x' | json }}{% else %}false{% endif %}
  }
</script>

<div class="cart-container loading" data-cart-mount data-side-cart rv-class-loading="data.cart.loading">

  <div rv-class-shown="data.errorMessage" class="error-popup">
    
    <div class="popup-inner">
      
      <p rv-html="data.errorMessage"></p>

      <a href="#" rv-on-click="controller.clearError" class="btn btn--centered">Close</a>

    </div>

  </div>
  
  {%- unless template == 'cart' -%}
  	<button class="js-cartToggle js-cartToggle-close cart-close" aria-label="{{ 'general.accessibility.close' | t }}">
  		{%- render 'icon-close' -%}
  	</button>
  {%- endunless -%}
  
  <div class="cart-title cart-title--mobile" rv-class-text-center="data.cart.item_count | eq 0 ">
  	<h2>{{ 'cart.labels.cart_title' | t }}</h2>
  </div>

  <div rv-unless="data.cart.item_count | eq 0">


  	<form action="{{ routes.cart_url }}" method="post" class="cart-form">
  		<div class="cart-table">
  			<div class="cart-table-header med_hide">
  				<div class="cart-table-row">
  					<div class="cart-table-cell cart-table-cell--product">
  						{{- 'cart.labels.product' | t -}}
  					</div>
  					<div class="cart-table-cell cart-table-cell--price">
  						{{- 'cart.labels.price' | t -}}
  					</div>
  					<div class="cart-table-cell cart-table-cell--quantity">
  						{{- 'cart.labels.quantity' | t -}}
  					</div>
  					<div class="cart-table-cell cart-table-cell--total">
  						{{- 'cart.labels.total' | t -}}
  					</div>
  				</div>
  			</div>

  			<div id="CartItems" class="cart-table-body">
  				{% render 'cart-item--rivets' %}
  			</div>
  		</div>

  		<div class="checkout-buttons">
  			<div class="cart-totals-table">
  				{% comment %} Cart level discounts {% endcomment %}
  				<p class="cart-total-price">
  					<span class="cart-total-price__label">{{ 'cart.labels.subtotal' | t }}: </span>
  					<span class="cart-total-price__value" rv-html="data.cart.total_price | money"></span>
  				</p>

  			</div>

  			{%- if settings.tax_text -%}
  				<p class="cart-tax-info">{{ settings.tax_text }}</p>
  			{%- endif -%}

  			<div class="cart__buttons-wrapper">

  				<div class="cart__buttons">
  					<fieldset class="cart__button-fieldset" >
  						<a class="cart__checkout button" href="/checkout" name="checkout">{{ 'cart.labels.checkout' | t }}</a>
	

  						{%- if additional_checkout_buttons -%}
  							<div class="additional-checkout-buttons">
  								{{ content_for_additional_checkout_buttons }}
  							</div>
  						{%- endif -%}
  					</fieldset>
  				</div>

  				{%- if settings.show_continue_shopping -%}
  					<a href="/" class="js-continueShopping{% if template == 'cart' %} js-go-back{% endif %} button button--secondary">{{ 'cart.labels.continue_shopping' | t }}</a>
  				{%- endif -%}

  				
  			</div>
  		</div>
  	</form>
  	
  </div>

  <div rv-if="data.cart.item_count | eq 0" class="text-center">
  	<p>{{ 'cart.labels.empty_cart' | t }}</p>
  	<a href="/" tabindex="-1" class="js-continueShopping js-continueShopping--empty{% if template == 'cart' %} js-go-back{% endif %} button">{{ 'cart.labels.continue_shopping' | t }}</a>
  </div>

</div>

{%- unless template == 'cart' -%}
	</div>
</div>
{%- endunless -%}