<a href="{{ routes.root_url }}" title="Back to the Homepage">{{ 'collections.breadcrumbs.home' | t }}</a>
{%- if template contains 'collection' -%}
	<span class="breadcrumbs-sep">/</span>
	{{- 'collections.breadcrumbs.collections' | t | link_to: routes.collections_url -}}
	<span class="breadcrumbs-sep">/</span>

	{%- if collection.handle -%}
		{%- if collection.handle == 'all' -%}
			{{- 'collections.breadcrumbs.default_collection' | t -}}
		{%- else -%}
			{{- collection.title -}}
		{%- endif -%}
	{%- endif -%}
{%- endif -%}

{%- if template contains 'product' -%}
	<span class="breadcrumbs-sep">/</span>
	{%- assign first_collection = product.collections[0] -%}
	{%- if first_collection.handle != blank -%}
		{{- first_collection.title | link_to: first_collection.url -}}
		<span class="breadcrumbs-sep">/</span>
	{%- endif -%}

	{%- if product.handle -%}
		<span>{{ product.title | strip_html }}</span>
	{%- endif -%}
{%- endif -%}