{%- if
    settings.instagram_url != '' or
    settings.facebook_url != '' or
    settings.twitter_url != '' or
    settings.tiktok_url != '' or
    settings.snapchat_url != '' or
    settings.pinterest_url != '' or
    settings.youtube_url != '' or
    settings.tumblr_url != '' or
    settings.linkedin_url != '' or
    settings.rss_url != ''
-%}
<div class="footer__social">
    <ul class="social-links">
        {%- if settings.facebook_url != '' -%}
            <li>
                <a href="{{settings.facebook_url}}" target="_blank" class="social-link" rel="noopener">
                    {%- render 'icon-facebook' -%}
                    <span class="fallback-text">{{ 'general.footer.facebook' | t }}</span>
                </a>
            </li>
        {%- endif -%}
        {%- if settings.twitter_url != '' -%}
            <li>
                <a href="{{settings.twitter_url}}" target="_blank" class="social-link" rel="noopener">
                    {%- render 'icon-twitter' -%}
                    <span class="fallback-text">{{ 'general.footer.twitter' | t }}</span>
                </a>
            </li>
        {%- endif -%}
        {%- if settings.instagram_url != '' -%}
            <li>
                <a href="{{settings.instagram_url}}" target="_blank" class="social-link" rel="noopener">
                    {%- render 'icon-instagram' -%}
                    <span class="fallback-text">{{ 'general.footer.instagram' | t }}</span>
                </a>
            </li>
        {%- endif -%}
        {%- if settings.tiktok_url != '' -%}
            <li>
                <a href="{{settings.tiktok_url}}" target="_blank" class="social-link" rel="noopener">
                    {%- render 'icon-tiktok' -%}
                    <span class="fallback-text">{{ 'general.footer.tiktok' | t }}</span>
                </a>
            </li>
        {%- endif -%}
        {%- if settings.snapchat_url != '' -%}
            <li>
                <a href="{{settings.snapchat_url}}" target="_blank" class="social-link" rel="noopener">
                    {%- render 'icon-snapchat' -%}
                    <span class="fallback-text">{{ 'general.footer.snapchat' | t }}</span>
                </a>
            </li>
        {%- endif -%}
        {%- if settings.pinterest_url != '' -%}
            <li>
                <a href="{{settings.pinterest_url}}" target="_blank" class="social-link" rel="noopener">
                    {%- render 'icon-pinterest' -%}
                    <span class="fallback-text">{{ 'general.footer.pinterest' | t }}</span>
                </a>
            </li>
        {%- endif -%}
        {%- if settings.youtube_url != '' -%}
            <li>
                <a href="{{settings.youtube_url}}" target="_blank" class="social-link" rel="noopener">
                    {%- render 'icon-youtube' -%}
                    <span class="fallback-text">{{ 'general.footer.youtube' | t }}</span>
                </a>
            </li>
        {%- endif -%}
        {%- if settings.tumblr_url != '' -%}
            <li>
                <a href="{{settings.tumblr_url}}" target="_blank" class="social-link" rel="noopener">
                    {%- render 'icon-tumblr' -%}
                    <span class="fallback-text">{{ 'general.footer.tumblr' | t }}</span>
                </a>
            </li>
        {%- endif -%}
        {%- if settings.linkedin_url != '' -%}
            <li>
                <a href="{{settings.linkedin_url}}" target="_blank" class="social-link" rel="noopener">
                    {%- render 'icon-linkedin' -%}
                    <span class="fallback-text">{{ 'general.footer.linkedin' | t }}</span>
                </a>
            </li>
        {%- endif -%}
        {%- if settings.rss_url != '' -%}
            <li>
                <a href="{{settings.rss_url}}" target="_blank" class="social-link" rel="noopener">
                    {%- render 'icon-rss' -%}
                    <span class="fallback-text">{{ 'general.footer.rss' | t }}</span>
                </a>
            </li>
        {%- endif -%}
    </ul>
</div>
{%- endif -%}