:root {
  --header-height: #{$height-header};

  @include tablet {
    --header-height: #{$height-header--tablet};
  }
}

body {
  text-rendering: optimizeSpeed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: $font-primary;

  &.slideout-panel {
    will-change: auto;
  }

  &.no-scroll {
    overflow: hidden;
  }
  padding-top: var(--header-height, $height-header);

  @include tablet {
    padding-top: var(--header-height, $height-header--tablet);
  }

  .bodyWrap {
    overflow: hidden;
  }
}

* {
  outline: none;
}

iframe {
  max-width: 100%;
}

input {
  box-shadow: none;
  &::placeholder {
    line-height: normal !important;
  }
}

input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

[data-scroll-slider] {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden !important;

  &::webkit-scrollbar {
    display: none;
  }
}

.ffc--table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 6px 8px;
    text-align: right;

    &:first-child {
      padding-left: 0;
    }
  }

  thead {
    th {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  tbody {
    tr {
      td {
        font-size: 10px;
        text-align: right;
        border-top: 1px solid var(--product-primary);
        border-bottom: 1px solid var(--product-primary);

        &:first-child {
          text-align: left;
        }
      }
    }
  }
}

.pagination {
  .next,
  .prev {
    img {
      height: 16px;
    }
  }

  .page {
    &.current {
      background: $color-secondary;
      border-color: $color-secondary;
    }
  }

  .prev {
    transform: rotate(180deg);
  }

  .page {
    &.current,
    a {
      min-width: 34px;
      height: 34px;
    }
  }
}
