h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.hero-heading,
.size--heading-1 {
  font-family: $font-heading;
  font-weight: $weight-headings;
  line-height: $line-height-headings;
  text-transform: uppercase;
}

.hero-heading {
  font-size: $size-hero;

  @include smallDesktop {
    font-size: $size-hero--tablet;
  }
}

h1,
.h1 {
  font-size: $size-h1;

  @include tablet {
    font-size: $size-h1--tablet;
  }
}

h2,
.h2 {
  font-size: $size-h2;

  @include tablet {
    font-size: $size-h2--tablet;
  }
}

h3,
.h3 {
  font-size: $size-h3;

  @include tablet {
    font-size: $size-h3--tablet;
  }
}

h4,
.h4 {
  font-size: $size-h4;

  @include tablet {
    font-size: $size-h4--tablet;
  }
}

h5,
.h5 {
  font-size: $size-h5;

  @include tablet {
    font-size: $size-h5--tablet;
  }
}

h6,
.h6 {
  font-size: $size-h6;

  @include tablet {
    font-size: $size-h6--tablet;
  }
}

.small-title {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: $size-h5;
}

ol,
ul {
  &.list {
    padding-left: 20px;
  }
}

ol.list {
  list-style: decimal;
}

ul.list {
  list-style: disc;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.35s ease;

  &.cta {
    font-size: 18px;
    text-decoration: underline;
    display: inline-block;
  }
}

.rte {
  font-size: $size-rte;
  line-height: $line-height-rte;
  letter-spacing: 0.35px;

  @include tablet {
    font-size: $size-rte--tablet;
  }

  p {
    margin: 0;
    font-size: inherit;

    + p {
      margin-top: 15px;
    }
  }

  a {
    color: inherit;
  }

  > * + * {
    margin-top: 15px;
  }

  > * + h1,
  > * + h2,
  > * + h3,
  > * + h4,
  > * + h5,
  > * + h6 {
    margin-top: 30px;
  }

  h3 {
    font-size: $size-h3--tablet;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    + h1,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      margin-top: 10px;
    }
  }

  ol,
  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  .image-grid,
  > img,
  > p > img {
    margin-top: 50px;
  }

  img {
    display: block;
  }

  .image-grid {
    list-style: none;
    padding: 0;

    &.slick-dotted {
      @include tablet {
        padding-bottom: 30px;

        .slick-dots {
          justify-content: center;
          padding: 0;
        }
      }
    }

    > li {
      width: 50%;

      img {
        width: 100%;
        display: block;
      }
    }
  }

  a {
    text-decoration-skip-ink: auto;
    text-decoration: underline;

    &:hover {
      color: $color-secondary;
    }
  }

  &.rte--larger,
  &.rte--l {
    font-size: $size-fifth;
  }

  &.rte--xl {
    font-size: $size-fifth;
  }

  &.rte--s {
    font-size: $size-secondary;
  }

  &.rte--xs {
    font-size: $size-third;
  }
}

hr {
  display: block;
  border: 0;
  margin: 0;
  height: 1px;
  width: 100%;
  background-color: currentColor;
  color: inherit;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

.underline {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    transition: all 0.25s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid currentColor;
  }
}
