.wrapper {
  width: 100%;
  max-width: $site-width;
  padding-left: $site-padding;
  padding-right: $site-padding;
  margin-left: auto;
  margin-right: auto;

  @include media('<1150px') {
    padding-left: $site-padding--small;
    padding-right: $site-padding--small;
  }

  @include tablet {
    padding-left: $site-padding--tablet;
    padding-right: $site-padding--tablet;
  }

  &.wrapper--no-pad {
    padding-left: 0;
    padding-right: 0;
  }

  &.wrapper--only-pad {
    max-width: none;
  }

  &.wrapper--xs {
    max-width: $site-width - 400px;
  }

  &.wrapper--s {
    max-width: $site-width - 200px;
  }

  &.wrapper--l {
    max-width: $site-width + 200px;
  }

  &.wrapper--xl {
    max-width: $site-width + 400px;
  }
}
