<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  <title>{{ 'gift_cards.content.title_html' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  <meta name="description" content="{{ 'gift_cards.content.message' | t }}">
  
  {{- 'theme.dev.css' | asset_url | stylesheet_tag -}}
  {{ 'ffc.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="https://use.typekit.net/pkl0hfu.css">

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}"></script><![endif]-->

  <script type="application/json" data-theme-information>
    {
      "locale": {
        "addToCart": "{{ 'products.form.submit' | t }}",
        "makeASelection": "{{ 'products.form.make_a_selection' | t }}",
        "soldOut": "{{ 'products.form.sold_out' | t }}",
        "unavailable": "{{ 'products.form.unavailable' | t }}",
        "subscribe": "{{ 'products.form.subscribe' | t }}"
      },
      "moneyFormat": "{{ shop.money_format }}"
    }
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <style>
    /*================ Print Giftcard Styles ================*/
    @media print {
      @page {
        margin: 0.5cm;
      }
      p {
        orphans: 3;
        widows: 3;
      }

      html,
      body {
        background-color: #fff;
        color: #000;
      }

      .print-giftcard,
      .apple-wallet,
      .btn {
        display: none;
      }
    }
  </style>

  {{ content_for_header }}
</head>

<body class="template-giftcard" data-lazy-load data-object-fit data-quicklink>
  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function(e) {
      (function() {
        var config = {
          qrCode: '#QrCode',
          printButton: '#PrintGiftCard',
          giftCardCode: '.giftcard__code'
        };

        var $qrCode = $(config.qrCode);

        new QRCode($qrCode[0], {
          text: $qrCode.attr('data-identifier'),
          width: 200,
          height: 200
        });

        $(config.printButton).on('click', function() {
          window.print();
        });

        // Auto-select gift card code on click, based on ID passed to the function
        $(config.giftCardCode).on('click', {element: 'GiftCardDigits'}, selectText);

        function selectText(evt) {
          var text = document.getElementById(evt.data.element);
          var range = '';

          if (document.body.createTextRange) {
            range = document.body.createTextRange();
            range.moveToElementText(text);
            range.select();
          } else if (window.getSelection) {
            var selection = window.getSelection();
            range = document.createRange();
            range.selectNodeContents(text);
            selection.removeAllRanges();
            selection.addRange(range);
          }
        }
      })();
    })
  </script> 

  {% capture ffcJS %}{{ 'ffc.js' | asset_url }}{% endcapture %}
  {% assign assetsPath = ffcJS | split: 'ffc.js' | first %}
  <script>window.__webpack_public_path__ = "{{ assetsPath }}"</script>
  <script src='{{ ffcJS }}' defer='defer'></script>

</body>
</html>
